{% macro dialog(id=None, trigger=None, title=None, trigger_class=None, modal_class=None, active=False) %}
<span
  x-data="{ active: {{ 'true' if active else 'false' }} }"
  {% if id %}
  id="{{ id }}"
  x-init="
    if (!$store.dialogInitialized) {
      Alpine.magic('dialog', () => id => Alpine.$data(document.querySelector('#' + id)).active = true);
      $store.dialogInitialized = true;
    }
  "
  {% endif %}
>
  {% if trigger %}
  <button
    @click="active = true"
    aria-controls="{{ id }}-dialog"
    aria-expanded="false"
    :aria-expanded="active"
    {% if trigger_class %}class="{{ trigger_class }}"{% endif %}
  >
    {{ trigger }}
  </button>
  {% endif %}

  <div
    @click="$event.target === $el && (active = false)"
    @keydown.escape.window="active && (active = false)"
    x-cloak
    role="dialog"
    inert
    :inert="!active"
    aria-modal="true"
    {% if id %}
    id="{{ id }}-dialog"
    aria-labelledby="{{ id }}-title"
    {% endif %}
  >
    <article
      {% if modal_class %}
      class="{{ modal_class }}"
      {% endif %}
    >
      <header>
        <h2
          {% if id %}
          id="{{ id }}-title"
          {% endif %}
        >
          {{ title | safe }}
        </h2>
        <button
          @click="active = false"
          aria-label="Close dialog"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
      </header>
      {{ caller() }}
    </article>
  </div>
</span>
{% endmacro %}