{% macro image_upload(
field,
delete_field,
has_image,
current_image,
default_image,
max_size=3,
extensions=None
) %}
<div class="space-y-3" x-data="{
    hasImage: {{ 'true' if has_image else 'false' }},
    preview: null,
    maxSize: {{ max_size }},
    error: null,
    remove: false,
    validateAndPreview(event) {
      const file = event.target.files[0];
      if (!file) return;
      
      if (file.size > this.maxSize * 1024 * 1024) {
        this.error = `{{ _('File is too large. Maximum size is %(size)sMB', size=max_size) }}`;
        event.target.value = '';
        this.preview = null;
        return;
      }
      
      this.error = null;
      const reader = new FileReader();
      reader.onload = (e) => {
        this.preview = e.target.result;
        this.remove = false;
        $el.closest('form').dispatchEvent(new Event('change'));
      };
      reader.readAsDataURL(file);
    },
    removeImage() {
      this.preview = null;
      this.remove = true;
      $el.closest('form').dispatchEvent(new Event('change'));
    }
  }">
  <div class="flex items-center gap-x-2">
    <div id="image-preview-container">
      <span x-show="hasImage && !preview && !remove">
        {{ current_image }}
      </span>
      <span x-show="(!hasImage && !preview) || remove">
        {{ default_image }}
      </span>
      <span x-show="preview">
        <img :src="preview" class="size-10 object-cover rounded-lg">
      </span>
    </div>
    <label>
      {{ field(
      class="hidden",
      accept=('image/' + extensions|join(',image/') if extensions else 'image/*'),
      **{
      '@change': 'validateAndPreview($event)'
      }
      ) }}
      <div class="btn-sm-outline cursor-pointer">
        {% include "icons/arrow-up-from-line.svg" %}
        {{ _('Upload image') }}
      </div>
    </label>

    <button type="button" class="btn-sm-icon-outline text-muted-foreground hover:text-foreground"
      data-tooltip="{{ _('Delete image') }}" x-show="(hasImage || preview) && !remove" @click="removeImage()">
      {% include "icons/trash-2.svg" %}
    </button>
    {{ delete_field(class='hidden', **{ 'x-model': 'remove' }) }}
  </div>
  <p x-show="error" class="text-destructive text-xs font-medium" x-text="error"></p>
  {% for error in field.errors %}
  <p class="text-destructive text-xs font-medium">{{ error }}</p>
  {% endfor %}
</div>
{% endmacro %}