{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class="notifications">
{% for category, message in messages %}
  <li
    x-data="{
      active: true,
      init() {
        if ('{{ category }}' !== 'error') setTimeout(() => this.active = false, 3000)
      }
    }"
    role="{{ 'alert' if category == 'error' else 'status' }}"
    aria-atomic="true"
    aria-hidden="true"
    :aria-hidden="!active"
    :inert="!active"
  >
    <p>{{ message }}</p>
    <button
      x-on:click="active = !active"
      aria-label="Dismiss notification"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
    </button>
  </li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}