{% macro toasts(messages=None, flash=True, is_fragment=False) %}
{% if flash %}
  {% set toasts = (messages or []) + get_flashed_messages(with_categories=true) %}
{% else %}
  {% set toasts = messages or [] %}
{% endif %}
<div
  class="toasts"
  id="toasts"
  {% if is_fragment %}hx-swap-oob="beforeend"{% endif %}
>
{% for category, message in toasts %}
  <div
    x-data="{
      active: true,
      init() {
        if ('{{ category }}' !== 'error') setTimeout(() => this.active = false, 3000)
      }
    }"
    role="{{ 'alert' if category == 'error' else 'status' }}"
    aria-atomic="true"
    aria-hidden="true"
    :aria-hidden="!active"
    :inert="!active"
  >
    <button
      x-on:click="active = !active"
      aria-label="{{ _('Dismiss') }}"
    >
      {% include "icons/x.svg" %}
    </button>
    <section class="w-full text-left flex-1">
      {% if message is string %}
        <p class="font-medium w-full text-left flex-1">{{ message }}</p>
      {% else %}
        <h4 class="font-medium mb-1">{{ message.title }}</h4>
        <p class="text-muted-foreground">{{ message.description }}</p>
        {% if message.action %}
          <a
            href="{{ message.action.url }}"
            class="btn-outline h-8 px-2.5 mt-4"
          >{{ message.action.label }}</a>
        {% endif %}
      {% endif %}
    </section>
    {% if category in ('error', 'success') %}
      {% if category == 'error' %}
        <div class="text-destructive py-0.5">
          {% include "icons/circle-x.svg" %}
        </div>
      {% elif category == 'success' %}
        <div class="text-green-500 py-0.5">
          {% include "icons/circle-check.svg" %}
        </div>
      {% endif %}
    {% endif %}
  </div>
{% endfor %}
</div>
{% endmacro %}