{% extends "layouts/app.html" %}

{% block app_content %}
<div class="container max-w-screen-xl mx-auto p-8 space-y-6" x-init>
  <div id="deployment-page-header" class="space-y-6">
    {% include "deployment/partials/_header.html" with context %}
  </div>

  <section class="w-full rounded-lg border group">
    <header class="px-4 h-10 w-full flex items-center gap-x-2">
      {{ _('Logs') }}
      <a href="{{ url_for('project_logs', team_slug=team.slug, project_name=project.name).include_query_params(deployment_id=deployment.id) }}"
        class="btn-sm-icon-ghost ml-auto" data-tooltip="{{ _('All logs') }}" data-alight="end"
        aria-label="{{ _('All logs') }}">
        {% include "icons/logs.svg" %}
      </a>
    </header>

    <div id="deployment-logs" class="overflow-y-auto h-[500px] relative p-2 border-t scrollbar-thin scrollbar"
      hx-trigger="load"
      hx-get="{{ url_for('project_deployment', team_slug=team.slug, project_name=project.name, deployment_id=deployment.id).include_query_params(fragment='logs') }}"
      hx-swap="beforeend" x-init="$el.scrollTop = $el.scrollHeight" hx-on::before-swap="
        scrollBottom = this.scrollHeight - this.scrollTop;
      " hx-on::after-swap="
        if (event?.detail?.requestConfig?.triggeringEvent?.type == 'intersect') {
          this.scrollTop = this.scrollHeight - scrollBottom;
        } else {
          this.scrollTop = this.scrollHeight;
        }
      " x-data="{
        getTime(timestamp) {
          return new Date(timestamp).toLocaleTimeString('default', { hour12: false, hour: '2-digit', minute: '2-digit', second: '2-digit' })
        },
        getTooltip(timestamp) {
          return new Date(timestamp).toLocaleString('default', { month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: '2-digit', second: '2-digit', fractionalSecondDigits: 3 })
        },
        $datetime: {
          'x-text'() { return this.getTime(this.$el.getAttribute('datetime')) },
          ':data-tooltip'() { return this.getTooltip(this.$el.getAttribute('datetime')) },
          ':data-side': '\'right\''
        }
      }">
      <div class="absolute inset-0 hidden only:flex items-center justify-center text-muted-foreground">
        <div class="flex items-center gap-x-2 [&>svg]:size-4 [&>svg]:animate-spin">
          {% include "icons/loader.svg" %}
          {{ _('Waiting for logs') }}
        </div>
      </div>
    </div>
  </section>

  <!-- SSE Connection for real-time logs -->
  <div hx-ext="sse"
    sse-connect="{{ url_for('deployment_event', team_id=team.id, project_id=project.id, deployment_id=deployment.id) }}"
    sse-close="deployment_log_closed" class="hidden">
    <div sse-swap="deployment_log_initial" hx-target="#deployment-logs" hx-swap="innerHTML"></div>
    <div sse-swap="deployment_log" hx-target="#deployment-logs" hx-swap="beforeend"></div>
    <div hx-trigger="sse:deployment_concluded" hx-target="#deployment-page-header"
      hx-get="{{ url_for('project_deployment', team_slug=team.slug, project_name=deployment.project.name, deployment_id=deployment.id).include_query_params(fragment='header') }}">
    </div>
  </div>
</div>
{% endblock %}