{% extends "layouts/app.html" %}

{% block app_content %}
{% include "deployment/partials/_sse-status.html" %}
<div class="container max-w-screen-xl mx-auto p-8 space-y-6" x-init>
  <div id="deployment-page-header" class="space-y-6">
    {% include "deployment/partials/_header.html" with context %}
  </div>

  <details open class="w-full rounded-lg border group">
    <summary class="px-4 py-3 w-full flex items-center gap-x-2 [&>svg]:size-4 group-open:[&>svg]:rotate-90 [&>svg]:transition-transform hover:bg-muted/50 rounded-lg transition-colors group-open:rounded-b-none">
      {% include "icons/chevron-right.svg" %}
      {{ _('Build logs') }}
    </summary>
    {% if not deployment.conclusion %}
      {% include "deployment/partials/_sse-logs.html" %}
    {% endif%}
    <div
      id="deployment-logs"
      class="overflow-y-auto h-[500px] relative p-4 border-t scrollbar-thin scrollbar"
      x-init="$el.scrollTop = $el.scrollHeight"
      x-data="{
        getTime(timestamp) {
          return new Date(timestamp).toLocaleTimeString('default', { hour12: false, hour: '2-digit', minute: '2-digit', second: '2-digit' })
        },
        getTooltip(timestamp) {
          return new Date(timestamp).toLocaleString('default', { month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: '2-digit', second: '2-digit', fractionalSecondDigits: 3 })
        },
        $timestamp: {
          'x-text'() { return this.getTime(this.$el.getAttribute('datetime')) },
          ':data-tooltip'() { return this.getTooltip(this.$el.getAttribute('datetime')) },
          ':data-side': '\'right\''
        }
      }"
      {% if not deployment.conclusion %}hx-on::after-swap="this.scrollTop = this.scrollHeight"{% endif %}
    >
      {% if not deployment.conclusion %}
        <div class="absolute inset-0 hidden only:flex items-center justify-center text-muted-foreground">
          <div class="flex items-center gap-x-2 [&>svg]:size-4 [&>svg]:animate-spin">
            {% include "icons/loader.svg" %}
            {{ _('Waiting for logs') }}
          </div>
        </div>
      {% endif %}
      {% from "deployment/macros/logs.html" import logs %}
      {{ logs(deployment.parsed_logs) }}
    </div>
  </details>
</div>
{% endblock %}