<!doctype html>
<html>
<head>
  <!-- Theme -->
  <script>
  function isDark() {
    return localStorage.getItem('theme') === 'dark' || (!localStorage.getItem('theme') && window.matchMedia('(prefers-color-scheme: dark)').matches);
  }

  if (isDark()) {
    document.documentElement.classList.add('dark');
  }

  document.addEventListener('alpine:init', () => {
    Alpine.store('theme', {
      isDark: isDark(),
      toggle() {
        this.isDark = document.documentElement.classList.toggle('dark');
        localStorage.setItem('theme', this.isDark ? 'dark' : 'light');
      }
    });
  });
  </script>

  <meta charset="utf-8"/>
  <meta http-equiv="Content-Language" content="en"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- Title & Description -->
  <title>
    {% block title %}
    {% if title %}{{ title }} | {{ config.APP_NAME }}{% else %}{{ config.APP_NAME }}{% endif %}
    {% endblock %}
  </title>
  <meta name="title" content="{% if title %}{{ title }} | {{ config.APP_NAME }}{% else %}{{ config.APP_NAME }}{% endif %}">
  <meta name="description" content="{{ description or config.APP_DESCRIPTION }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ request.url }}">
  <meta property="og:title" content="{% if title %}{{ title }} | {{ config.APP_NAME }}{% else %}{{ config.APP_NAME }}{% endif %}">
  <meta property="og:description" content="{{ description or config.APP_DESCRIPTION }}">
  <meta property="og:image" content="{{ url_for('static', filename='social.png') }}">
  <meta property="og:site_name" content="{{ config.APP_NAME }}">

  <!-- X/Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="{{ request.url }}">
  <meta name="twitter:title" content="{% if title %}{{ title }} | {{ config.APP_NAME }}{% else %}{{ config.APP_NAME }}{% endif %}">
  <meta name="twitter:description" content="{{ description or config.APP_DESCRIPTION }}">
  <meta name="twitter:image" content="{{ url_for('static', filename='social.png') }}">
  <!-- <meta name="twitter:creator" content="@hunvreus">
  <meta property="og:locale" content="en_US"> -->

  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}" />

  <!-- CSS -->
  <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">

  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/basecoat-css@0.2.5/dist/js/all.min.js" defer></script>
  <script src="{{ url_for('static', filename='assets/alpine.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='assets/htmx.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/htmx-sse.min.js') }}"></script>
  <!-- Additional head content (JS, CSS, etc.) -->
  {% block head %}{% endblock %}
</head>
<body class="relative h-full text-sm">
  {% block base_content %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>
</html>