{% macro repo_select(accounts=None, selected_account=None, repos=None, query="", target=None) %}
{% if accounts %}
<div class="space-y-4">
  <form
    class="form flex gap-x-2 items-center"
    x-data='{
      selected_account: "{{ selected_account | escape }}",
      accounts: {{ accounts | tojson | safe }},
      query: "{{ query | escape }}"
    }'
    hx-trigger="
      keyup changed delay:500ms from:input[name='query'],
      search from:input[name='query'],
      click from:button[role='menuitem']
    "
    hx-get="/api/github/repos"
    hx-target="next section > ul"
    hx-indicator="next section > .htmx-indicator"
  >
    {% from "components/dropdown.html" import dropdown %}
    {% set trigger %}
        <img :src="`https://github.com/${selected_account}.png`" alt="Avatar" class="w-6 h-6 rounded">
        <span x-text="selected_account"></span>
        <svg class="w-4 h-4 opacity-50 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m7 15 5 5 5-5"/><path d="m7 9 5-5 5 5"/></svg>
    {% endset %}
    {% call dropdown(trigger=trigger, id="dropdown-example", trigger_class="btn-outline px-2 flex items-center gap-x-2", menu_position="top-left") %}
      <template x-for="account in accounts" :key="account">
        <button
          type="button"
          role="menuitem"
          class="flex items-center gap-x-2"
          @click="
            selected_account = account;
            query = '';
          "
        >
          <img :src="`https://github.com/${account}.png`" alt="Avatar" class="-ml-1 w-6 h-6 rounded">
          <span x-text="account"></span>
      </button>
      </template>
      <hr role="separator"/>
      <a href="{{ url_for('api.github_app_install') }}" role="menuitem">Add a GitHub account</a>
    {% endcall %}
    <input type="hidden" name="account" x-model="selected_account" x-ref="accountInput">

    <div class="relative flex-1">
      <input name="query" type="search" class="w-full !pl-9" x-model="query" placeholder="{{ _('Search by name...') }}">
      <svg class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 h-4 w-4 opacity-50 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
    </div>
  </form>

  <section class="relative">
    <div class="htmx-indicator bg-background/90 absolute inset-0 flex items-center justify-center rounded-lg">
      <div class="flex items-center gap-x-2 text-muted-foreground">
        <svg class="h-4 w-4 animate-spin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2v4"/><path d="m16.2 7.8 2.9-2.9"/><path d="M18 12h4"/><path d="m16.2 16.2 2.9 2.9"/><path d="M12 18v4"/><path d="m4.9 19.1 2.9-2.9"/><path d="M2 12h4"/><path d="m4.9 4.9 2.9 2.9"/></svg>
        <span>Loading results</span>
      </div>
    </div>
    {% include "project/components/repo/_list.html" %}
  </section>
</div>
{% else %}
<div class="flex items-center justify-center">
  <div class="text-center">
    <h3 class="font-medium mb-1">{{ _('No accounts connected') }}</h3>
    <p class="text-muted-foreground">{{ _('Connect your GitHub accounts and start adding projects.') }}</p>
    <a class="btn-outline mt-4" href="{{ url_for('api.github_app_install') }}">{{ _('Add a GitHub account') }}</a>
  </div>
</div>
{% endif %}
{% endmacro %}