{% macro logs(logs_list) -%}
{%- for log in logs_list -%}
<div class="flex items-start gap-x-4 px-2 py-1.5 hover:bg-muted rounded-md transition-colors font-mono">
  <div
    class="text-muted-foreground whitespace-nowrap"
    x-data="{
      timestamp: '{{ log.timestamp }}',
      get time() { return new Date(this.timestamp).toLocaleTimeString('default', { hour12: false, hour: '2-digit', minute: '2-digit', second: '2-digit' }) },
      get tooltip() { return new Date(this.timestamp).toLocaleString('default', { month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: '2-digit', second: '2-digit', fractionalSecondDigits: 3 }) }
    }"
    x-text="time"
    :data-tooltip="tooltip"
    data-side="right"
  >{{ log.timestamp }}</div>
  <div class="break-all">{{ log.message }}</div>
</div>
{%- endfor -%}
{%- endmacro %}