<header class="flex items-center gap-x-4 justify-between">
  <h1 class="h1 flex items-center gap-x-3">
    <a href="{{ url_for('project_index', team_slug=team.slug, project_name=deployment.project.name) }}"
      class="shrink-0">
      {% from "macros/avatar.html" import avatar with context %}
      {{ avatar(item=deployment.project, prefix="project", name=deployment.project.name, size="md") }}
    </a>
    <span class="text-muted-foreground/25 font-normal">/</span>
    <a href="{{ url_for('project_deployments', team_slug=team.slug, project_name=project.name) }}">
      {{ _('Deployments') }}
    </a>
    <span class="text-muted-foreground/25 font-normal">/</span>
    <span class="font-mono">{{ deployment.id[:7] }}</span>
  </h1>

  <div class="flex items-center gap-x-2 ml-auto">
    {% if deployment.conclusion == 'succeeded' %}
    <a href="{{ deployment.featured_url }}" class="btn-outline gap-x-2" target="_blank" disabled>
      {% include "icons/link-2.svg" %}
      {{ _('Visit') }}
    </a>
    {% else %}
    <button type="button" class="btn-outline gap-x-2" disabled>
      {% include "icons/link-2.svg" %}
      {{ _('Visit') }}
    </button>
    {% endif %}
    {% set trigger %}
    {% include "icons/ellipsis.svg" %}
    {% endset %}
    {% from "macros/dropdown-menu.html" import dropdown_menu %}
    {% call dropdown_menu(
    trigger=trigger,
    trigger_attrs={"class": "btn-icon-outline"},
    popover_attrs={"data-align": "end"}
    ) %}
    {% from "deployment/macros/options.html" import options %}
    {{ options(deployment, env_aliases) }}
    {% endcall %}
  </div>
</header>

<div class="space-y-4">
  <ul class="flex gap-x-6 items-start" {% if oob %}hx-swap-oob="true" {% endif %} id="build-info">
    <li class="flex items-center gap-x-2" data-tooltip="{{ _('Status') }}">
      {% from "deployment/macros/status.html" import status %}
      {{ status(conclusion=deployment.conclusion) }}
    </li>
    <li class="flex items-center gap-x-2 text-muted-foreground" data-tooltip="{{ _('Duration') }}">
      <span class="opacity-50 dark:opacity-60 [&>svg]:size-4">
        {% include "icons/timer.svg" %}
      </span>
      {% from "deployment/macros/duration.html" import duration %}
      {{ duration(started_at=deployment.created_at, concluded_at=deployment.concluded_at) }}
    </li>
    {% if deployment.conclusion == 'succeeded' %}
    <li class="flex items-center gap-x-2">
      <a href="{{ deployment.url }}"
        class="flex items-center gap-x-2 text-muted-foreground hover:text-foreground transition-colors"
        data-tooltip="{{ _('Link') }}" target="_blank">
        <span class="opacity-50 dark:opacity-60 [&>svg]:size-4">
          {% include "icons/link-2.svg" %}
        </span>
        {{ deployment.hostname }}
      </a>
      {% if deployment.aliases %}
      {% from "macros/dropdown-menu.html" import dropdown_menu %}
      {% set trigger %}+{{ deployment.aliases|length }}{% endset %}
      {% call dropdown_menu(
      trigger=trigger,
      trigger_attrs={"class": "btn-outline text-muted-foreground text-xs h-4 pl-1 pr-1.5 rounded-full"},
      popover_attrs={"data-align": "end"}
      ) %}
      {% for alias in deployment.aliases %}
      <a role="menuitem" href="{{ alias.url }}" target="_blank">
        {{ alias.hostname }}
        {% include "icons/external-link.svg" %}
      </a>
      {% endfor %}
      {% endcall %}
      {% endif %}
    </li>
    {% endif %}
  </ul>

  <ul class="flex gap-x-6 items-start" id="deployment-details">
    <li>
      <a href="{{ url_for('project_deployments', team_slug=team.slug, project_name=deployment.project.name).include_query_params(environment=deployment.environment.slug) }}"
        class="flex items-center gap-x-2 text-muted-foreground hover:text-foreground transition-colors"
        data-tooltip="{{ _('Environment') }}">
        <span class="w-4 h-4 flex items-center justify-center"><span
            class="inline-block rounded h-2.5 w-2.5 bg-{{ deployment.environment.color }}-400 dark:bg-{{ deployment.environment.color }}-600 shrink-0"></span></span>
        {{ deployment.environment.name }}
      </a>
    </li>
    <li class="flex items-center gap-x-2 text-muted-foreground" data-tooltip="{{ _('Trigger') }}">
      <span class="opacity-50 dark:opacity-60 [&>svg]:size-4">
        {% include "icons/zap.svg" %}
      </span>
      Commit by <a href="https://github.com/{{ deployment.commit_meta.author }}"
        class="hover:text-foreground transition-colors" target="_blank">@{{ deployment.commit_meta.author }}</a>
    </li>
    <li>
      <a href="https://github.com/{{ deployment.repo_full_name }}/tree/{{ deployment.branch }}" target="_blank"
        class="flex items-center gap-x-2 text-muted-foreground hover:text-foreground transition-colors"
        data-tooltip="{{ _('Branch') }}">
        <span class="opacity-50 dark:opacity-60 [&>svg]:size-4">
          {% include "icons/git-branch.svg" %}
        </span>
        {{ deployment.branch }}
      </a>
    </li>
    <li>
      <a class="flex items-center gap-x-2 text-muted-foreground hover:text-foreground transition-colors"
        href="https://github.com/{{ deployment.repo_full_name }}/commit/{{ deployment.commit_sha }}" target="_blank"
        data-tooltip="{{ _('Commit ({sha})', sha=deployment.commit_sha[:7]) }}">
        <span class="opacity-50 dark:opacity-60 [&>svg]:size-4">
          {% include "icons/git-commit-horizontal.svg" %}
        </span>
        {{ deployment.commit_meta.message }}
      </a>
    </li>
  </ul>
</div>