{% from "macros/avatar.html" import avatar with context %}
{% from "macros/popover.html" import popover %}
{% from "project/macros/environment-label.html" import environment_label %}

{% set alias_types = {
  "branch": _('Branch URL'),
  "environment": _('Environment URL'),
} %}

{% set is_current = env_aliases and env_aliases.get(deployment.environment.id).deployment_id == deployment.id %}
{% set is_previous = env_aliases and env_aliases.get(deployment.environment.id).previous_deployment_id == deployment.id %}

<header class="flex items-center gap-x-4 justify-between">
  <h1 class="h1 flex items-center gap-x-3">
    <a
      href="{{ url_for('project_index', team_slug=team.slug, project_name=deployment.project.name) }}"
      class="shrink-0"
    >
      {{ avatar(item=deployment.project, prefix="project", name=deployment.project.name, size="md") }}
    </a>
    <span class="text-muted-foreground/25 font-normal">/</span>
    <a href="{{ url_for('project_deployments', team_slug=team.slug, project_name=project.name) }}">
      {{ _('Deployments') }}
    </a>
    <span class="text-muted-foreground/25 font-normal">/</span>
    <span class="font-mono">{{ deployment.id[:7] }}</span>
  </h1>

  <div class="flex items-center gap-x-2 ml-auto">
    {# {% if cancel_form %}
      <form
        method="post"
        action="{{ url_for('project_deployment', team_slug=team.slug, project_name=project.name, deployment_id=deployment.id).include_query_params(fragment='header') }}"
        hx-post="{{ url_for('project_deployment', team_slug=team.slug, project_name=project.name, deployment_id=deployment.id).include_query_params(fragment='header') }}"
        hx-target="#deployment-page-header"
        hx-disabled-elt="button"
        hx-indicator="find .htmx-indicator"
      >
        {{ cancel_form.csrf_token() }}
        <button type="submit" class="btn-destructive">
          {% include "icons/circle-x.svg" %}
          {{ _('Cancel') }}
          <div class="htmx-indicator [&>svg]:size-4 [&>svg]:animate-spin">{% include "icons/loader.svg" %}</div>
        </button>
      </form>
    {% endif %} #}

    {% if deployment.conclusion == 'succeeded' and deployment.container_status == 'running' %}
      <div class="flex items-center">
        <a
          href="{{ deployment.url }}"
          class="btn gap-x-2 {% if deployment.aliases %}rounded-r-none{% endif %}"
          target="_blank"
        >
          {% include "icons/link-2.svg" %}
          {{ _('Visit') }}
        </a>
    
        {% if deployment.aliases %}
          {% set trigger %}
            {% include "icons/chevrons-up-down.svg" %}
          {% endset %}
          {% call popover(
            trigger=trigger,
            trigger_attrs={"class": "btn-icon w-6 border-l-0 rounded-l-none"},
            popover_attrs={
              "data-align": "end",
              "class": "max-w-xs"
            }
          ) %}
            <ul class="space-y-2">
              <li class="space-y-1">
                <div class="text-muted-foreground text-xs">{{ _('Deployment URL') }}</div>
                <a
                  href="{{ deployment.url }}"
                  title="{{ deployment.hostname }}"
                  target="_blank"
                  class="flex items-center gap-x-2 [&>svg]:size-3 [&>svg]:text-muted-foreground [&>svg]:shrink-0 hover:underline min-w-0"
                >
                  <span class="truncate">{{ deployment.hostname }}</span>
                  {% include "icons/external-link.svg" %}
                </a>
              </li>
              {% for alias in deployment.aliases %}
                <li class="space-y-1">
                  <div class="text-muted-foreground text-xs">{{ alias_types[alias.type] }}</div>
                  <a
                    href="{{ alias.url }}"
                    title="{{ alias.hostname }}"
                    target="_blank"
                    class="flex items-center gap-x-2 [&>svg]:size-3 [&>svg]:text-muted-foreground [&>svg]:shrink-0 hover:underline min-w-0"
                  >
                    <span class="truncate">{{ alias.hostname }}</span>
                    {% include "icons/external-link.svg" %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endcall %}
        {% endif %}
      </div>
    {% else %}
      <button type="button" class="btn gap-x-2" disabled>
        {% include "icons/link-2.svg" %}
        {{ _('Visit') }}
      </button>
    {% endif %}

    {% set trigger %}
      {% include "icons/ellipsis.svg" %}
    {% endset %}
    {% from "macros/dropdown-menu.html" import dropdown_menu %}
    {% call dropdown_menu(
      trigger=trigger,
      trigger_attrs={"class": "btn-icon-outline"},
      popover_attrs={"data-align": "end"}
    ) %}
      {% include "deployment/partials/_options.html" with context %}
    {% endcall %}
  </div>
</header>

<div class="space-y-4">
  <ul class="flex gap-x-6 items-start">
    <li class="flex items-center gap-x-2" data-tooltip="{{ _('Status') }}">
      {% from "deployment/macros/status.html" import status %}
      {{ status(conclusion=deployment.conclusion) }}
    </li>
    <li class="flex items-center gap-x-2 text-muted-foreground [&>svg]:opacity-50 [&>svg]:dark:opacity-60 [&>svg]:size-4 [&>svg]:shrink-0" data-tooltip="{{ _('Duration') }}">
      {% include "icons/timer.svg" %}
      {% from "deployment/macros/duration.html" import duration %}
      {{ duration(started_at=deployment.created_at, concluded_at=deployment.concluded_at) }}
    </li>
    {% if is_current %}
      <li class="h-5">
        <span class="badge-secondary">
          {% include "icons/sparkle.svg" %}
          {{ _('Current') }}
        </span>
      </li>
    {% elif is_previous %}
      <li>
        <span class="badge-secondary text-muted-foreground">
          {{ _('Previous') }}
        </span>
      </li>
    {% endif %}
  </ul>

  <ul class="flex gap-x-6 items-start">
    <li>
      <a
        href="{{ url_for('project_deployments', team_slug=team.slug, project_name=deployment.project.name).include_query_params(environment=deployment.environment.slug) }}"
        class="flex items-center gap-x-2 text-muted-foreground hover:text-foreground transition-colors"
        data-tooltip="{{ _('Environment') }}"
        hx-boost="true"
      >
        {{ environment_label(environment=deployment.environment) }}
      </a>
    </li>
    <li
      class="flex items-center gap-x-2 text-muted-foreground [&>svg]:opacity-50 [&>svg]:dark:opacity-60 [&>svg]:size-4 [&>svg]:shrink-0 min-w-0"
      data-tooltip="{{ _('Trigger') }}"
    >
      {% include "icons/zap.svg" %}
      <span class="truncate">Commit by <a href="https://github.com/{{ deployment.commit_meta.author }}" class="hover:text-foreground transition-colors" target="_blank">@{{ deployment.commit_meta.author }}</a></span>
    </li>
    <li class="min-w-0">
      <a
        href="https://github.com/{{ deployment.repo_full_name }}/tree/{{ deployment.branch }}" target="_blank"
        class="flex items-center gap-x-2 text-muted-foreground hover:text-foreground transition-colors [&>svg]:opacity-50 [&>svg]:dark:opacity-60 [&>svg]:size-4 [&>svg]:shrink-0"
        data-tooltip="{{ _('Branch') }}"
      >
        {% include "icons/git-branch.svg" %}
        <span class="truncate">{{ deployment.branch }}</span>
      </a>
    </li>
    <li class="min-w-0">
      <a
        class="flex items-center gap-x-2 text-muted-foreground hover:text-foreground transition-colors [&>svg]:opacity-50 [&>svg]:dark:opacity-60 [&>svg]:size-4 [&>svg]:shrink-0"
        href="https://github.com/{{ deployment.repo_full_name }}/commit/{{ deployment.commit_sha }}"
        target="_blank"
        data-tooltip="{{ _('Commit ({sha})', sha=deployment.commit_sha[:7]) }}"
      >
        {% include "icons/git-commit-horizontal.svg" %}
        <span class="truncate">{{ deployment.commit_meta.message }}</span>
      </a>
    </li>
  </ul>
</div>