{% from "deployment/macros/log-list.html" import log_list %}

{% if next_batch_url %}
  <div
    id="deployment-logs-load-more"
    class="flex justify-center p-4"
    hx-get="{{ next_batch_url }}"
    hx-trigger="intersect once delay:100ms"
    hx-disabled-elt="button"
    hx-swap="outerHTML"
  >
    <button class="btn-secondary flex items-center gap-x-2">
      {{ _('Load more') }}
      <div class="[&>svg]:size-4 [&>svg]:animate-spin">{% include "icons/loader.svg" %}</div>
    </button>
  </div>
{% endif %}

{{ log_list(logs=logs) }}

{% if sse_connect_url %}
<div hx-swap-oob="afterend:#deployment-logs">
  <div
    hx-ext="sse"
    sse-connect="{{ sse_connect_url }}"
    sse-close="deployment_log_closed"
  >
    <div
      sse-swap="deployment_log"
      hx-target="#deployment-logs"
      hx-swap="beforeend"
    ></div>
    <div
      hx-trigger="sse:deployment_concluded"
      hx-target="#deployment-page-header"
      hx-get="{{ url_for('project_deployment', team_slug=team.slug, project_name=deployment.project.name, deployment_id=deployment.id).include_query_params(fragment='header') }}"
    ></div>
  </div>
</div>
{% endif %}