{% from "macros/dialog.html" import dialog %}
{% set can_rollback = deployment.conclusion == 'succeeded' and env_aliases and env_aliases.get(deployment.environment.id) and env_aliases.get(deployment.environment.id).previous_deployment_id == deployment.id %}
{% set can_promote = deployment.conclusion == 'succeeded' and env_aliases and env_aliases.get('prod') and env_aliases.get('prod').deployment_id != deployment.id %}

{% call dialog(
  id="dialog-redeploy",
  title=_("Redeploy %(commit)s", commit=deployment.commit_sha[:7]),
  dialog_attrs={"class": "max-w-md"},
  body_attrs={"class": "space-y-4"}
) %}
    <p>{{ _(
      'This will create a new deployment using the code from commit %(commit_short_sha)s and the latest configuration from your project settings.',
      commit_short_sha=deployment.commit_sha[:7],
    ) | safe }}</p>
    <div
      class="space-y-4"
      hx-get="{{ url_for('project_redeploy', team_slug=team.slug, project_name=project.name, deployment_id=deployment.id) }}"
      hx-trigger="dialog:opened from:closest dialog"
    >
      <div class="flex gap-x-6 items-center border px-4 h-12 rounded-lg">
        <span class="bg-accent animate-pulse h-4 flex-1 rounded max-w-3/5"></span>
        <button class="btn-sm-icon-ghost ml-auto" disabled>
          {% include "icons/arrow-up-right.svg" %}
        </button>
      </div>
      <footer class="flex justify-end gap-x-2">
        <button type="button" class="btn-ghost" onclick="this.closest('dialog').close()">{{ _('Cancel') }}</button>
        <button type="button" class="btn" disabled>{{ _('Redeploy') }}</button>
      </footer>
    </div>
{% endcall %}


{% if can_rollback %}
  {% call dialog(
    id="dialog-rollback",
    title=_("Rollback to %(deployment_id)s?", deployment_id=deployment.id[:7]),
    dialog_attrs={"class": "max-w-md"},
    body_attrs={"class": "space-y-4"}
  ) %}
    <p>{{ _(
      'This will rollback the "<b>%(environment_name)s</b>" environment to deployment <b>%(deployment_id)s</b>.',
      environment_name=deployment.environment.name,
      deployment_id=deployment.id[:7],
    ) | safe }}</p>
    <div
      class="space-y-4"
      hx-get="{{ url_for('project_rollback', team_slug=team.slug, project_name=project.name, deployment_id=deployment.id) }}"
      hx-trigger="dialog:opened from:closest dialog"
    >
      <div class="flex gap-x-6 items-center border px-4 h-12 rounded-lg">
        <span class="bg-accent animate-pulse h-4 flex-1 rounded max-w-3/5"></span>
        <button class="btn-sm-icon-ghost ml-auto" disabled>
          {% include "icons/arrow-up-right.svg" %}
        </button>
      </div>
      <footer class="flex justify-end gap-x-2">
        <button type="button" class="btn-ghost" onclick="this.closest('dialog').close()">{{ _('Cancel') }}</button>
        <button type="button" class="btn" disabled>{{ _('Rollback') }}</button>
      </footer>
    </div>
  {% endcall %}
{% endif %}

<button
  role="menuitem"
  onclick="
    const dialog = document.getElementById('dialog-rollback');
    dialog.showModal();
    dialog.dispatchEvent(new Event('dialog:opened'));
  "
  {% if not can_rollback %}disabled{% endif %}
>
  {% include "icons/undo-2.svg" %}
  {{ _('Instant rollback') }}
</button>

<button
  role="menuitem"
  @click="$dispatch('dialog:open', { id: 'dialog-promote', deployment_id: '{{ deployment.id }}' })"
  {% if not can_promote %}disabled{% endif %}
>
  {% include "icons/chevrons-up.svg" %}
  {{ _('Promote to production') }}
</button>

<button
  role="menuitem"
  onclick="
    const dialog = document.getElementById('dialog-redeploy');
    dialog.showModal();
    dialog.dispatchEvent(new Event('dialog:opened'));
  "
>
  {% include "icons/redo-2.svg" %}
  {{ _('Redeploy') }}
</button>