{% for log in logs %}
<div class="flex gap-x-4 px-2 py-1.5 hover:bg-muted rounded-md transition-colors font-mono text-xs {{ bg_class }}">
  <div
    class="text-muted-foreground whitespace-nowrap"
    x-data
    x-text="new Date({{ log.timestamp }} * 1000).toLocaleTimeString('default', { hour12: false, hour: '2-digit', minute: '2-digit', second: '2-digit' })"
    :data-tooltip="new Date({{ log.timestamp }} * 1000).toLocaleString('default', { month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: '2-digit', second: '2-digit', fractionalSecondDigits: 3 })"
    data-tooltip-position="right"
  >{{ log.timestamp }}</div>
  <div>{{ log.message }}</div>
</div>
{% endfor %}