{% macro list(
  team=None,
  deployments=[],
  pagination=None,
  page=None,
  display_project=False,
  display_empty=True,
  env_aliases=None,
  main_attrs={}
) %}

{% if deployments %}
  {% from "macros/avatar.html" import avatar with context %}
  {% from "macros/dropdown-menu.html" import dropdown_menu %}
  {% from "deployment/macros/status.html" import status %}
  {% from "project/macros/environment-label.html" import environment_label %}
  <ul {% for key, value in main_attrs.items() %} {{ key }}="{{ value }}" {% endfor %}>
    {% for deployment in deployments %}
      <li
        class="flex gap-x-4 items-center border border-border/100 border-b-0 last:border-b first:rounded-t-xl last:rounded-b-xl px-4 h-12 text-sm hover:bg-muted/50 transition-colors bg-clip-padding"
      >
        {{ status(
          conclusion=deployment.conclusion,
          compact=True,
          tooltip=False,
          attrs={ 'data-deployment-status': deployment.id }
        ) }}

        <a href="{{ url_for('project_deployment', team_slug=team.slug, project_name=deployment.project.name, deployment_id=deployment.id) }}"
          data-tooltip="{{ _('Deployment ID') }}">
          <span class="font-medium font-mono">{{ deployment.id[:7] }}</span>
        </a>

        {% if display_project %}
          <a
            href="{{ url_for('project_index', team_slug=team.slug, project_name=deployment.project.name) }}"
            class="flex items-center gap-x-2 text-muted-foreground hover:text-foreground transition-colors min-w-0"
            data-tooltip="{{ _('Project') }}"
          >
            {{ avatar(item=deployment.project, prefix="project", name=deployment.project.name, size="xs") }}
            <span class="truncate">{{ deployment.project.name }}</span>
          </a>
        {% endif %}

        <a
          href="{{ url_for('project_deployments', team_slug=team.slug, project_name=deployment.project.name).include_query_params(environment=deployment.environment.slug) }}"
          class="flex items-center gap-x-2 hover:text-foreground transition-colors text-muted-foreground"
          data-tooltip="{{ _('Environment') }}"
        >
          {{ environment_label(deployment.environment) }}
        </a>

        <div class="flex items-center gap-x-2 text-muted-foreground whitespace-nowrap">
          {{ deployment.created_at | timeago }}
        </div>

        <a
          href="https://github.com/{{ deployment.repo_full_name }}/tree/{{ deployment.branch }}"
          target="_blank"
          class="flex items-center gap-x-2 hover:text-foreground transition-colors text-muted-foreground [&>svg]:opacity-50 [&>svg]:dark:opacity-60 [&>svg]:size-4 [&>svg]:shrink-0 min-w-0"
          data-tooltip="{{ _('Branch') }}"
        >
          {% include "icons/git-branch.svg" %}
          <span class="truncate">{{ deployment.branch }}</span>
        </a>

        <a
          class="flex items-center gap-x-2 hover:text-foreground transition-colors text-muted-foreground min-w-0 [&>svg]:opacity-50 [&>svg]:dark:opacity-60 [&>svg]:size-4 [&>svg]:shrink-0"
          href="https://github.com/{{ deployment.repo_full_name }}/commit/{{ deployment.commit_sha }}"
          target="_blank"
          data-tooltip="{{ _('Commit ({sha})', sha=deployment.commit_sha[:7]) }}"
        >
          {% include "icons/git-commit-horizontal.svg" %}
          <span class="truncate">{{ deployment.commit_meta.message }}</span>
        </a>

        
        {% set is_current = env_aliases and env_aliases.get(deployment.environment.id).deployment_id == deployment.id %}
        {% set is_previous = env_aliases and env_aliases.get(deployment.environment.id).previous_deployment_id == deployment.id %}

        {% if is_current %}
          <span class="badge-secondary">
            {% include "icons/sparkle.svg" %}
            {{ _('Current') }}
          </span>
        {% elif is_previous %}
          <span class="badge-secondary text-muted-foreground">
            {{ _('Previous') }}
          </span>
        {% endif %}

        <div class="flex items-center ml-auto">
          {% if deployment.conclusion == 'succeeded' %}
            <a href="{{ deployment.url }}" class="btn-sm-icon-ghost [&>svg]:shrink-0" target="_blank" data-tooltip="{{ _('Visit') }}">
              {% include "icons/link-2.svg" %}
            </a>
          {% else %}
            <button class="btn-sm-icon-ghost" type="button" disabled>
              {% include "icons/link-2.svg" %}
            </button>
          {% endif %}

          {% if not display_project %}
            {% set trigger %}
              {% include "icons/ellipsis.svg" %}
            {% endset %}
            {% call dropdown_menu(
              trigger=trigger,
              trigger_attrs={"class": "btn-sm-icon-ghost [&>svg]:shrink-0"},
              popover_attrs={"data-align": "end"}
            ) %}
              {% include "deployment/partials/_options.html" with context %}
            {% endcall %}
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>

  {% if pagination and pagination.pages > 1 %}
    <nav class="flex items-center justify-end gap-x-2 mt-4" aria-label="Pagination">
      {% if pagination.page == 1 %}
        <button class="btn-sm-icon-outline" type="button" aria-label="{{ _('Newest deployments') }}" disabled>
          {% include "icons/chevrons-left.svg" %}
        </button>
      {% else %}
        <a href="{{ request.url.include_query_params(page=1) }}" class="btn-sm-icon-outline"
          aria-label="{{ _('Newest deployments') }}">
          {% include "icons/chevrons-left.svg" %}
        </a>
      {% endif %}

      {% if pagination.has_prev %}
        <a href="{{ request.url.include_query_params(page=pagination.prev_num) }}" class="btn-sm-icon-outline"
          aria-label="{{ _('Newer deployments') }}">
          {% include "icons/chevron-left.svg" %}
        </a>
      {% else %}
        <button class="btn-sm-icon-outline" type="button" aria-label="{{ _('Newer deployments') }}" disabled>
          {% include "icons/chevron-left.svg" %}
        </button>
      {% endif %}

      {% if pagination.has_next %}
        <a href="{{ request.url.include_query_params(page=pagination.next_num) }}" class="btn-sm-icon-outline" aria-label="{{ _('Older deployments') }}" disabled>
          {% include "icons/chevron-right.svg" %}
        </a>
      {% else %}
        <button class="btn-sm-icon-outline" type="button" aria-label="{{ _('Older deployments') }}" disabled>
          {% include "icons/chevron-right.svg" %}
        </button>
      {% endif %}

      <!-- If we're on the last page we don't display the next button -->
      {% if pagination.page == pagination.pages %}
        <button class="btn-sm-icon-outline" type="button" aria-label="{{ _('Oldest deployments') }}" disabled>
          {% include "icons/chevrons-right.svg" %}
        </button>
      {% else %}
        <a href="{{ request.url.include_query_params(page=pagination.pages) }}" class="btn-sm-icon-outline"
          aria-label="{{ _('Oldest deployments') }}">
          {% include "icons/chevrons-right.svg" %}
        </a>
      {% endif %}
    </nav>
  {% endif %}
{% elif display_empty and project %}
  <section class="flex items-center justify-center min-h-60 bg-card text-card-foreground border shadow-sm rounded-xl p-4">
    <div class="max-w-sm">
      <div class="text-center">
        <h2 class="h4">{{ _('No deployments') }}</h2>
        <p class="text-muted-foreground mt-1">{{ _('This project has no deployments yet. Push code to your repository or trigger a deployment below.') }}</p>
        {% from "macros/dialog.html" import dialog %}
        <button type="button" class="btn-sm mt-4" onclick="
              const dialog = document.getElementById('dialog-deploy');
              dialog.dispatchEvent(new Event('dialog:opened'));
              dialog.showModal();
            ">
          {% include "icons/cloud-upload.svg" %}
          {{ _('Deploy') }}
        </button>
      </div>
      {% include "project/partials/_dialog-deploy.html" %}
    </div>
  </section>
{% endif %}
{% endmacro %}