{% macro log_list(logs, environments = []) -%}
{%- for log in logs -%}
<div class="flex items-start gap-x-4 px-2 py-1.5 hover:bg-muted rounded-md transition-colors font-mono text-[13px] {% if log.level == 'ERROR' or log.level == 'CRITICAL' %}text-destructive{% elif log.level == 'WARNING' %}text-amber-600 dark:text-amber-500{% elif log.level == 'SUCCESS' %}text-green-600 dark:text-green-500{% endif %}">
  <time
    class="text-muted-foreground whitespace-nowrap"
    datetime="{{ log.timestamp_iso }}"
    data-timestamp="{{ log.timestamp }}"
    x-bind="$datetime"
  >
    {{ log.timestamp_iso }}
  </time>
  {% if log.labels %}
    {% if log.labels.deployment_id %}
      <a
        href="{{ url_for('project_logs', team_slug=team.slug, project_name=project.name).include_query_params(deployment_id=log.labels.deployment_id) }}"
        class="font-sans"
        data-tooltip="{{ _('Deployment') }}"
        aria-label="{{ _('Deployment') }}"
      >
        <span class="badge-outline px-1.5 py-0 text-muted-foreground hover:text-foreground font-mono">{{ log.labels.deployment_id[:7] }}</span>
      </a>
    {% endif %}
  {% endif %}
  <div class="break-all">{{ log.message }}</div>
</div>
{%- endfor -%}
{%- endmacro %}