{% macro options(deployment, env_aliases) %}
{% from "macros/dialog.html" import dialog %}
{% set footer %}
<button class="btn-ghost" onclick="this.closest('dialog').close()">{{ _('Cancel') }}</button>
<button class="btn" onclick="this.closest('dialog').close()">{{ _('Redeploy') }}</button>
{% endset %}
{% call dialog(
  id="dialog-redeploy",
  title=_("Redeploy %(commit)s", commit=deployment.commit_sha[:7]),
  dialog_attrs={"class": "max-w-md"},
  footer=footer
) %}
<div class="space-y-4" x-data="{ confirm: '' }">
  <p>{{ _(
    'This will create a new deployment using the code from commit %(commit_short_sha)s and the latest configuration from your project settings.',
    commit_short_sha=deployment.commit_sha[:7],
  ) | safe }}</p>
  <div class="flex gap-x-6 items-center border px-4 h-12 rounded-lg">
    <span
      class="font-medium"
      data-tooltip="{{ _('Commit SHA') }}"
    >
      {{ deployment.commit_sha[:7] }}
    </span>
    <span
      class="flex items-center gap-x-2 text-muted-foreground [&>svg]:size-4 [&>svg]:opacity-50 dark:[&>svg]:opacity-60"
      data-tooltip="{{ _('Branch') }}"
    >
      {% include "icons/git-branch.svg" %}
      {{ deployment.branch }}
    </span>
    <span
      class="flex items-center gap-x-2 text-muted-foreground min-w-0 mr-auto [&>svg]:size-4 [&>svg]:opacity-50 dark:[&>svg]:opacity-60"
      data-tooltip="{{ _('Commit message') }}"
    >
      {% include "icons/git-commit-horizontal.svg" %}
      <span class="truncate">{{ deployment.commit_meta.message }}</span>
    </span>
    <a href="https://github.com/{{ deployment.repo_full_name }}/commit/{{ deployment.commit_sha }}" target="_blank" class="btn-sm-icon-ghost" data-tooltip="{{ _('View on GitHub') }}">
      {% include "icons/arrow-up-right.svg" %}
    </a>
  </div>
</div>
{% endcall %}

{% set footer %}
<button class="btn-ghost" onclick="this.closest('dialog').close()">{{ _('Cancel') }}</button>
<button class="btn" onclick="this.closest('dialog').close()">{{ _('Redeploy') }}</button>
{% endset %}
{% call dialog(
  id="dialog-rollback",
  title=_("Redeploy %(commit)s?", commit=deployment.commit_sha[:7]),
  dialog_attrs={"class": "max-w-md"},
  footer=footer
) %}
<div class="space-y-4" x-data="{ confirm: '' }">
  <p>{{ _(
    'This will create a new deployment using the code from commit %(commit_short_sha)s and the latest configuration from your project settings.',
    commit_short_sha=deployment.commit_sha[:7],
  ) | safe }}</p>
</div>
{% endcall %}

<button
  role="menuitem"
  @click="$dispatch('dialog:open', { id: 'dialog-rollback', deployment_id: '{{ deployment.id }}' })"
  {% if deployment.conclusion != 'succeeded' or (env_aliases.get(deployment.environment.id) and env_aliases.get(deployment.environment.id).previous_deployment_id != deployment.id) %}disabled{% endif %}
>
  {% include "icons/undo-2.svg" %}
  {{ _('Instant rollback') }}
</button>

<!-- <button
  role="menuitem"
  @click="$dispatch('dialog:open', { id: 'dialog-promote', deployment_id: '{{ deployment.id }}' })"
  {% if deployment.conclusion != 'succeeded' or (env_aliases.get('prod') and env_aliases.get('prod').deployment_id == deployment.id) %}disabled{% endif %}
>
  {% include "icons/chevrons-up.svg" %}
  {{ _('Promote to production') }}
</button> -->

<button
  role="menuitem"
  onclick="document.getElementById('dialog-redeploy').showModal()"
>
  {% include "icons/redo-2.svg" %}
  {{ _('Redeploy') }}
</button>
{% endmacro %}
