{% if not is_fragment %}
{% from "components/dialog.html" import dialog %}
{% call dialog(
  id="dialog-repo-select",
  title="Select Git repository",
  main_attrs={"x-ref": "dialogRepoSelect"},
  trigger_attrs={"class": "btn-outline font-normal px-3"},
  content_attrs={
    "class": "max-w-screen-sm w-full",
    "@repo-selected": "hide()"
  }
) %}
  <div
    hx-get="{{ url_for('main.repo_select', account=repo_owner) }}"
    hx-trigger="dialog:opened from:#dialog-repo-select"
    hx-swap="outerHTML"
    class="flex items-center justify-center h-[296px]"
  >
    <span class="text-muted-foreground flex items-center gap-x-2 [&>svg]:size-4 [&>svg]:animate-spin">
      {% include "shared/icons/loader.svg" %}
      {{ _('Loading accounts') }}
    </span>
  </div>
{% endcall %}
{% endif %}

<form
  method="POST"
  enctype="multipart/form-data"
  action="{{ url_for('main.project_settings', project_name=project.name, fragment='general') }}"
  hx-post="{{ url_for('main.project_settings', project_name=project.name, fragment='general') }}"
  hx-indicator="next .htmx-indicator"
  hx-swap="outerHTML"
  x-data="{
    changed: false,
    repoId: {{ project.repo_id }},
    repoOwner: '{{ project.repo_full_name.split('/')[0] }}',
    repoFullName: '{{ project.repo_full_name }}',
    deleteAvatar: false
  }"
  @repo-selected.window="
    repoId = $event.detail.id;
    repoOwner = $event.detail.owner;
    repoFullName = $event.detail.fullName;
    changed = true;
  "
  @input="changed = true"
  @change="changed = true"
  class="card"
>
  {{ general_form.hidden_tag() }}
  <header class="border-b">
    <h2>{{ _('General') }}</h2>
    <p>{{ _('General settings for the project including the Git repository.') }}</p>
  </header>
  
  <section class="space-y-6">
    <div class="space-y-3">
      {{ general_form.name.label() }}
      {{ general_form.name(class="input w-full") }}
      {% for error in general_form.name.errors %}
        <p class="text-destructive text-sm">{{ error }}</p>
      {% endfor %}
    </div>
  
    <div class="space-y-3">
      <label for="name">{{ _('Avatar') }}</label>
      {% from "components/image_upload.html" import image_upload %}
      {% from "projects/components/thumbnail.html" import thumbnail %}
      {% set current_image %}
        {{ thumbnail(project, size="md") }}
      {% endset %}
      {% set default_image %}
        {{ thumbnail(project, size="md", ignore_avatar=True) }}
      {% endset %}
      {{ image_upload(
        general_form.avatar,
        general_form.delete_avatar,
        current_image,
        default_image,
        extensions=["jpg", "jpeg", "png", "gif", "webp"]
      ) }}
    </div>
  
    <div class="space-y-3">
      <label for="name">{{ _('Git repository') }}</label>
      {{ general_form.repo_id(
        class_="hidden",
        **{':value': 'repoId'}
      ) }}
      <div class="flex items-center gap-x-2">
        <button
          type="button"
          class="btn-outline font-normal px-3 flex items-center gap-x-2"
          @click="$dispatch('dialog:open', { id: 'dialog-repo-select' })"
        >
          <img :src="`https://github.com/${repoOwner}.png`" :alt="`${repoOwner}'s avatar`" class="w-6 h-6 rounded">
          <span x-text="repoFullName"></span>
          <span class="text-muted-foreground">
            {% include "shared/icons/chevrons-up-down.svg" %}
          </span>
        </button>
      </div>
      {% for error in general_form.repo_id.errors %}
        <p class="text-destructive text-sm">{{ error }}</p>
      {% endfor %}
    </div>
  </section>

  <footer>
    <button class="btn" :disabled="!changed">{{ _('Save') }}</button>
  </footer>
</form>

<div class="htmx-indicator flex items-center justify-center inset-0 absolute bg-background/80 rounded-xl">
  <div class="flex items-center gap-x-2 text-muted-foreground [&>svg]:size-4">
    {% include "shared/icons/loader.svg" %}
    {{ _('Saving') }}
  </div>
</div>