# Ignore all dot files
.*

# Docker
docker-compose*.yml
Docker/
!Docker/entrypoint.app.sh
!Docker/entrypoint.app.dev.sh
!Docker/entrypoint.worker.sh
!Docker/entrypoint.worker.dev.sh

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Build
src/
scripts/

# Node
node_modules/
package-lock.json
package.json
tailwind.config.js

# Static assets and uploads
upload/