LE_EMAIL="" # e.g. dev@devpu.sh
APP_HOSTNAME="" # e.g. devpu.sh
DEPLOY_DOMAIN="" # e.g. devpu.sh or devpush.app
SERVER_IP=""
SECRET_KEY=""
ENCRYPTION_KEY=""
EMAIL_SENDER_ADDRESS="" # e.g. mail@devpu.sh
RESEND_API_KEY=""
GITHUB_APP_ID=""
GITHUB_APP_NAME=""
GITHUB_APP_PRIVATE_KEY=""
GITHUB_APP_WEBHOOK_SECRET=""
GITHUB_APP_CLIENT_ID=""
GITHUB_APP_CLIENT_SECRET=""
POSTGRES_PASSWORD=""
DEFAULT_CPU_QUOTA=0
DEFAUL_MEMORY_MB=0