# Ignore all dot files except a few
.*
!.gitignore
!.dockerignore
!.flaskenv
!.env.example
!.env.devops.example
!.env.prod.example

# Python
__pycache__/
*.py[cod]
*$py.class

# Docker
docker-compose.override.yml

# Supervisor
supervisord.log
supervisord.pid

# Data (uploads and Traefik)
/data/

# Node
node_modules/
package-lock.json

# Terraform
terraform.tfstate
terraform.tfstate.backup