# Ignore all dot files except a few
.*
!.gitignore
!.dockerignore
!.env.example
!.env.dev.example
!.env.prod.example

# Python
__pycache__/
*.py[cod]
*$py.class

# Supervisor
supervisord.log
supervisord.pid

# Data (uploads and Traefik)
/data/

# Access rules
/access.json

# Node
node_modules/
package-lock.json

# Terraform
terraform.tfstate
terraform.tfstate.backup
/vps-logs/