services:
  app:
    build:
      dockerfile: Docker/Dockerfile.app.dev
    volumes:
      - .:/app
    environment:
      - FLASK_DEBUG=1

  traefik:
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.endpoint=tcp://docker-proxy:2375"
      - "--providers.docker.watch=true"
      - "--entrypoints.web.address=:80"
      - "--api.insecure=true"
    ports:
      - "8080:8080"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.${BASE_DOMAIN}`)"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.entrypoints=web"

  loki:
    command:
      - "-config.file=/etc/loki/config.yml"
      - "-auth.enabled=false"
    networks:
      - default
      - internal
    ports:
      - "3100:3100"

  fluent-bit:
    volumes:
      - ./Docker/fluent-bit.dev.conf:/fluent-bit/etc/fluent-bit.conf