services:
  app:
    build:
      dockerfile: Docker/Dockerfile.app.dev
    volumes:
      - ./app:/app
      - ./data/upload:/app/upload
      - ./data/traefik:/data/traefik
  
  pgsql:
    ports:
      - "5432:5432"
    networks:
      - default

  traefik:
    volumes:
      - ./data/traefik:/etc/traefik/dynamic_conf