services:
  app:
    build:
      dockerfile: Docker/Dockerfile.app.dev
    volumes:
      - ./web:/app
      - ./shared:/shared
      - ./data/db:/data/db
      - ./data/traefik:/data/traefik
      - ./data/upload:/app/app/static/upload

  api:
    build:
      dockerfile: Docker/Dockerfile.api.dev
    volumes:
      - ./api:/app
      - ./shared:/shared

  traefik:
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.endpoint=tcp://docker-proxy:2375"
      - "--providers.docker.watch=true"
      - "--providers.file.directory=/etc/traefik/dynamic_conf"
      - "--providers.file.watch=true"
      - "--entrypoints.web.address=:80"
      - "--api.insecure=true"
    ports:
      - "80:80"
    volumes:
      - ./data/traefik:/etc/traefik/dynamic_conf
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.${BASE_DOMAIN}`)"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.entrypoints=web"