{% extends "layouts/app.html" %}

{% block app_content %}
<div
  class="container max-w-screen-md mx-auto p-8 space-y-6"
  x-init
  @repo-selected="
    const url = new URL('{{ url_for('main.new_project_details', _external=True) }}');
    url.searchParams.set('repo_id', $event.detail.id);
    window.location = url.toString();
  "
>
  <h1 class="h1 flex items-center gap-x-2.5">
    {{ _('New project') }}
  </h1>
  
  <ol class="flex items-center justify-between gap-x-2.5 mb-8">
    <li class="flex items-center gap-x-2.5">
      <div class="shrink-0 rounded-full size-6 bg-primary text-primary-foreground flex items-center justify-center text-xs font-mono font-semibold">1</div>
      <h2 class="font-semibold">{{ _('Select repository') }}</h2>
    </li>
    <li class="flex-1">
      <hr class="h-px border-border"/>
    </li>
    <li class="flex items-center gap-x-2.5 opacity-50">
      <div class="shrink-0 rounded-full size-6 bg-primary text-primary-foreground flex items-center justify-center text-xs font-mono font-semibold">2</div>
      <h2 class="font-semibold">{{ _('Configure') }}</h2>
    </li>
    <li class="flex-1">
      <hr class="h-px border-border"/>
    </li>
    <li class="flex items-center gap-x-2.5 opacity-50">
      <div class="shrink-0 rounded-full size-6 bg-primary text-primary-foreground flex items-center justify-center text-xs font-mono font-semibold">3</div>
      <h2 class="font-semibold">{{ _('Deploy') }}</h2>
    </li>
  </ol>

  <div
    hx-get="{{ url_for('main.repo_select') }}"
    hx-trigger="load"
    hx-swap="outerHTML"
    class="flex items-center justify-center h-[296px]"
  >
    <span class="text-muted-foreground flex items-center gap-x-2">
      {% include "icons/loader.svg" %}
      {{ _('Loading accounts') }}
    </span>
  </div>
</div>
{% endblock %}