{% macro repo_select(accounts, selected_account=None, query=None, link=True) %}
{% if accounts %}
<section class="space-y-4 w-full">
  <form
    class="form flex gap-x-2 items-center"
    x-data='{
      selected_account: "{{ selected_account or accounts[0] | escape }}",
      accounts: {{ accounts | tojson | safe }},
      query: "{{ query or '' | escape }}"
    }'
    hx-trigger="
      keyup changed delay:500ms from:input[name='query'],
      search from:input[name='query'],
      click from:button[role='menuitem'],
      load
    "
    hx-get="/api/github/repos"
    hx-target="next [role='listbox']"
    hx-indicator="next div > .htmx-indicator"
    @submit.prevent
  >
    {% from "components/dropdown-menu.html" import dropdown_menu %}
    {% set trigger %}
      <img :src="`https://github.com/${selected_account}.png`" alt="Avatar" class="w-6 h-6 rounded">
      <span class="truncate" x-text="selected_account"></span>
      <span class="text-muted-foreground">
        {% include "shared/icons/chevrons-up-down.svg" %}
      </span>
    {% endset %}
    {% call dropdown_menu(
      trigger=trigger,
      main_attrs={"class": "max-w-1/2"},
      trigger_attrs={"class": "btn-outline font-normal px-3 flex items-center gap-x-2 truncate w-full"},
      popover_attrs={"data-align": "start"}
    ) %}
      <template x-for="account in accounts" :key="account">
        <button
          type="button"
          role="menuitem"
          class="flex items-center gap-x-2"
          @click="
            selected_account = account;
            query = '';
          "
        >
          <img :src="`https://github.com/${account}.png`" alt="Avatar" class="-ml-1 w-6 h-6 rounded">
          <span x-text="account"></span>
          <span class="h-4 w-4 ml-auto text-muted-foreground">
            <template x-if="account === selected_account">
              {% include "shared/icons/check.svg" %}
            </template>
          </span>
        </button>
      </template>
      <hr role="separator"/>
      <a href="{{ url_for('api.github_app_install') }}" role="menuitem">Add account</a>
    {% endcall %}

    <input type="hidden" name="account" x-model="selected_account" x-ref="accountInput">

    <div class="relative flex-1">
      <input name="query" type="search" class="w-full !pl-9" x-model="query" placeholder="{{ _('Search by name') }}">
      <span class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 opacity-50 [&>svg]:size-4">
        {% include "shared/icons/search.svg" %}
      </span>
    </div>
  </form>

  <div class="relative">
    <div class="h-60 htmx-indicator absolute inset-0 bg-background">
      {% include "projects/components/repo-select/_skeleton-list.html" %}
    </div>

    <div role="listbox" aria-label="Repository list" aria-live="polite"></div>
  </div>
</section>
{% else %}
<section class="flex items-center justify-center">
  <div class="text-center">
    <h3 class="font-medium mb-1">{{ _('No accounts connected') }}</h3>
    <p class="text-muted-foreground">{{ _('Connect your GitHub accounts and start adding projects.') }}</p>
    <a class="btn-outline mt-4" href="{{ url_for('api.github_app_install') }}">{{ _('Manage account') }}</a>
  </div>
</section>
{% endif %}
{% endmacro %}
