{% macro thumbnail(project, size=None) %}
  {% if project.thumbnail %}
    <img src="{{ project.thumbnail }}" alt="{{ project.name }}" class="w-8 h-8 object-cover rounded-lg"/>
  {% else %}
    <div class="
      flex items-center justify-center uppercase bg-gradient-to-tl border shrink-0
      {% if size == 'sm' %}w-5 h-5 rounded text-xs font-semibold
      {% elif size == 'md' %}w-6 h-6 rounded-md text-sm font-semibold
      {% elif size == 'lg' %}w-10 h-10 rounded-lg text-xl font-medium
      {% elif size == 'xl' %}w-14 h-14 rounded-xl text-4xl font-normal
      {% else %}w-8 h-8 rounded-lg text-lg font-semibold
      {% endif %}
      from-{{ project.color }}-100 to-{{ project.color }}-100/50 
      border-{{ project.color }}-200 
      dark:from-{{ project.color }}-950/50 dark:to-{{ project.color }}-950
      dark:border-{{ project.color }}-900
      text-{{ project.color }}-500
    ">
      {{ project.name[0] }}
    </div>
  {% endif %}
{% endmacro %}