<form
  method="POST"
  enctype="multipart/form-data"
  {# action="{{ url_for('team.team_settings', fragment='general') }}"
  hx-post="{{ url_for('team.team_settings', fragment='general') }}" #}
  hx-indicator="next .htmx-indicator"
  hx-swap="outerHTML"
  @input="changed = true"
  @change="changed = true"
  class="card"
>
  {{ general_form.hidden_tag() }}
  <header class="border-b">
    <h2>{{ _('General') }}</h2>
    <p>{{ _('General settings for the team.') }}</p>
  </header>
  
  <section class="space-y-6">
    <div class="space-y-3">
      {{ general_form.name.label() }}
      {{ general_form.name(class="input w-full") }}
      {% for error in general_form.name.errors %}
        <p class="text-destructive text-sm">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="space-y-3">
      {{ general_form.slug.label() }}
      {{ general_form.slug(class="input w-full") }}
      {% for error in general_form.slug.errors %}
        <p class="text-destructive text-sm">{{ error }}</p>
      {% endfor %}
    </div>
  
    <div class="space-y-3">
      <label for="name">{{ _('Avatar') }}</label>
      {% from "components/image_upload.html" import image_upload %}
      {% from "projects/components/thumbnail.html" import thumbnail %}
      {{ image_upload(
        general_form.avatar,
        general_form.delete_avatar,
        extensions=["jpg", "jpeg", "png", "gif", "webp"]
      ) }}
    </div>
  <footer>
    <button class="btn" :disabled="!changed">{{ _('Save') }}</button>
  </footer>
</form>

<div class="htmx-indicator flex items-center justify-center inset-0 absolute bg-background/80 rounded-xl">
  <div class="flex items-center gap-x-2 text-muted-foreground [&>svg]:size-4 [&>svg]:animate-spin">
    {% include "shared/icons/loader.svg" %}
    {{ _('Saving') }}
  </div>
</div>