{% macro options(deployment, env_aliases) %}
<button
  role="menuitem"
  @click="$dispatch('dialog:open', { id: 'dialog-rollback', deployment_id: '{{ deployment.id }}' })"
  {% if deployment.conclusion != 'succeeded' or (env_aliases.get(deployment.environment.id) and env_aliases.get(deployment.environment.id).previous_deployment_id != deployment.id) %}disabled{% endif %}
>
  {% include "icons/undo-2.svg" %}
  {{ _('Instant rollback') }}
</button>

<button
  role="menuitem"
  @click="$dispatch('dialog:open', { id: 'dialog-promote', deployment_id: '{{ deployment.id }}' })"
  {% if deployment.conclusion != 'succeeded' or (env_aliases.get('prod') and env_aliases.get('prod').deployment_id == deployment.id) %}disabled{% endif %}
>
  {% include "icons/chevrons-up.svg" %}
  {{ _('Promote to production') }}
</button>
<button
  role="menuitem"
  @click="$dispatch('dialog:open', { id: 'dialog-redeploy', deployment_id: '{{ deployment.id }}' })"
>
  {% include "icons/redo-2.svg" %}
  {{ _('Redeploy') }}
</button>
{% endmacro %}