{% macro status(status=None, conclusion=None, compact=False) %}
  {% if conclusion %}
    {% if conclusion == 'succeeded' %}
      <span class="text-success flex items-center gap-x-2">
        {% include "icons/circle-check.svg" %}
        {% if not compact %}{{ _('Succeeded') }}{% endif %}
      </span>
    {% elif conclusion == 'failed' %}
      <span class="text-danger flex items-center gap-x-2">
        {% include "icons/circle-x.svg" %}
        {% if not compact %}{{ _('Failed') }}{% endif %}
      </span>
    {% else %}
      <span class="text-muted-foreground">
        {% include "icons/circle-x.svg" %}
        {% if not compact %}
          {% if conclusion == 'skipped' %}
            {{ _('Skipped') }}
          {% else %}
            {{ _('Canceled') }}
          {% endif %}
        {% endif %}
      </span>
    {% endif %}
  {% else %}
    <span class="text-muted-foreground flex items-center gap-x-2">
      {% include "icons/loader.svg" %}
      {% if not compact %}{{ _('In progress') }}{% endif %}
    </span>
  {% endif %}
{% endmacro %}