{% macro status(conclusion=None, compact=False, id=None) %}
  {% set status_id = 'id="' + id + '"' if id else '' %}
  {% if conclusion %}
    {% if conclusion == 'succeeded' %}
      <span class="text-green-600 dark:text-green-500 [&>svg]:text-green-600 dark:[&>svg]:text-green-500 flex items-center gap-x-2"{{ status_id }}>
        {% include "icons/circle-check.svg" %}
        {% if not compact %}{{ _('Succeeded') }}{% endif %}
      </span>
    {% elif conclusion == 'failed' %}
      <span class="text-destructive [&>svg]:text-destructive flex items-center gap-x-2"{{ status_id }}>
        {% include "icons/circle-x.svg" %}
        {% if not compact %}{{ _('Failed') }}{% endif %}
      </span>
    {% else %}
      <span class="text-muted-foreground flex items-center gap-x-2"{{ status_id }}>
        {% include "icons/circle-x.svg" %}
        {% if not compact %}
          {% if conclusion == 'skipped' %}
            {{ _('Skipped') }}
          {% else %}
            {{ _('Canceled') }}
          {% endif %}
        {% endif %}
      </span>
    {% endif %}
  {% else %}
    <span class="text-muted-foreground flex items-center gap-x-2"{{ status_id }}>
      {% include "icons/loader.svg" %}
      {% if not compact %}{{ _('In progress') }}{% endif %}
    </span>
  {% endif %}
{% endmacro %}