{% macro status(
  conclusion=None,
  compact=False,
  tooltip=False,
  oob=False,
  attrs={}
) -%}
{% if conclusion == 'succeeded' %}
  {% set label = _('Succeeded') %}
  {% set icon = "icons/circle-check.svg" %}
  {% set class = "text-green-600 dark:text-green-500 [&>svg]:text-green-600 dark:[&>svg]:text-green-500" %}
{% elif conclusion == 'failed' %}
  {% set label = _('Failed') %}
  {% set icon = "icons/circle-x.svg" %}
  {% set class = "text-destructive [&>svg]:text-destructive" %}
{% elif conclusion == 'skipped' %}
  {% set label = _('Skipped') %}
  {% set icon = "icons/circle-arrow-right.svg" %}
  {% set class = "text-muted-foreground [&>svg]:text-muted-foreground" %}
{% elif conclusion == 'canceled' %}
  {% set label = _('Canceled') %}
  {% set icon = "icons/circle-x.svg" %}
  {% set class = "text-muted-foreground [&>svg]:text-muted-foreground" %}
{% else %}
  {% set label = _('In progress') %}
  {% set icon = "icons/loader.svg" %}
  {% set class = "text-muted-foreground [&>svg]:text-muted-foreground [&>svg]:animate-spin" %}
{% endif %}
<span
  class="{{ class }} [&>svg]:size-4 flex items-center gap-x-2"
  {% for key, value in attrs.items() %}
    {{ key }}="{{ value }}"
  {% endfor %}
  {% if tooltip %}
    data-tooltip="{{ label }}"
  {% endif %}
>
  {% include icon %}
  {% if not compact %}{{ label }}{% endif %}
</span>
{%- endmacro %}