{% macro teaser(deployment, display_project=False) %}
{% set status_labels = {
  'succeeded': _('Status: Succeeded'),
  'failed': _('Status: Failed'),
  'canceled': _('Status: Canceled'),
  'skipped': _('Status: Skipped')
} %}

  <span
    data-tooltip="{{ status_labels[deployment.conclusion] if deployment.conclusion else _('Status: In progress') }}"
    data-tooltip-position="top-left"
  >
    {% from "deployments/components/status.html" import status %}
    {{ status(status=deployment.status, conclusion=deployment.conclusion, compact=True) }}
  </span>

  <a
    href="{{ url_for('main.deployment', project_name=deployment.project.name, deployment_id=deployment.id) }}"
    data-tooltip="{{ _('Deployment ID') }}"
  >
    <span class="font-medium font-mono">{{ deployment.id[:7] }}</span>
  </a>

  {% if display_project %}
    <a
      href="{{ url_for('main.project', project_name=deployment.project.name) }}"
      class="flex items-center gap-x-2 text-muted-foreground hover:text-foreground transition-colors"
      data-tooltip="{{ _('Project') }}"
    >
      {% from "projects/components/thumbnail.html" import thumbnail %}
      {{ thumbnail(deployment.project, size='xs') }}
      {{ deployment.project.name }}
    </a>
  {% endif %}

  <div class="flex items-center gap-x-2 text-muted-foreground whitespace-nowrap">
    {{ deployment.created_at | timeago }}
  </div>

  <span class="flex items-center gap-x-2 text-muted-foreground capitalize" data-tooltip="{{ _('Environment') }}">
    <span class="w-4 h-4 flex items-center justify-center"><span class="inline-block rounded-sm h-2 w-2 bg-{{ deployment.environment.color }}-400 dark:bg-{{ deployment.environment.color }}-600 shrink-0"></span></span>
    {{ deployment.environment.name }}
  </span>

  <a
    class="flex items-center gap-x-2 hover:text-foreground transition-colors text-muted-foreground min-w-0 flex-1"
    href="https://github.com/{{ deployment.repo.full_name }}/commit/{{ deployment.commit.sha }}"
    target="_blank"
    data-tooltip="{{ _('Commit (%(sha)s)', sha=deployment.commit.sha[:7]) }}"
  >
    <span class="opacity-50 dark:opacity-60">
      {% include "icons/git-commit.svg" %}
    </span>
    <span class="truncate">{{ deployment.commit.message }}</span>
  </a>

  <div class="flex items-center ml-auto">
    {% if deployment.conclusion %}
      <a href="{{ deployment.featured_url }}" class="btn-ghost w-8 h-8 px-0" target="_blank" data-tooltip="{{ _('Visit') }}">
        {% include "icons/link.svg" %}
      </a>
    {% endif %}

    {% from "components/dropdown.html" import dropdown %}
    {% set trigger %}
      {% include "icons/ellipsis.svg" %}
    {% endset %}
    {% call dropdown(
      trigger=trigger,
      trigger_attrs={"class": "btn-ghost w-8 h-8 px-0"},
      menu_attrs={"menu-class": "min-w-36"}
    ) %}
      {% include "deployments/partials/_options.html" %}
    {% endcall %}
  </div>

{% endmacro %}
