{% macro teaser(deployment, display_project=False) %}
{% set status_labels = {
  'succeeded': _('Status: Succeeded'),
  'failed': _('Status: Failed'),
  'canceled': _('Status: Canceled'),
  'skipped': _('Status: Skipped')
} %}
<!-- <article
  class="flex gap-x-6 items-center w-full"
  {% if not deployment.conclusion %}
    hx-get="{{ url_for('main.deployment_teaser', project_name=project.name, deployment_id=deployment.id) }}"
    hx-trigger="every 1s"
  {% endif %}
> -->
  <span
    data-tooltip="{{ status_labels[deployment.conclusion] if deployment.conclusion else _('Status: In progress') }}"
    data-tooltip-position="top-left"
  >
    {% from "deployments/components/status.html" import status %}
    {{ status(status=deployment.status, conclusion=deployment.conclusion, compact=True) }}
  </span>

  <a
    href="{{ url_for('main.deployment', project_name=deployment.project.name, deployment_id=deployment.id) }}"
    data-tooltip="{{ _('Deployment ID') }}"
  >
    <span class="font-medium font-mono">{{ deployment.id[:7] }}</span>
  </a>

  {% if display_project %}
    <a
      href="{{ url_for('main.project', project_name=deployment.project.name) }}"
      class="flex items-center gap-x-2 text-muted-foreground hover:text-foreground transition-colors"
      data-tooltip="{{ _('Project') }}"
    >
      {% from "projects/components/thumbnail.html" import thumbnail %}
      {{ thumbnail(deployment.project, size='sm') }}
      {{ deployment.project.name }}
    </a>
  {% endif %}

  <div class="flex items-center gap-x-2 text-muted-foreground whitespace-nowrap">
    {{ deployment.created_at | timeago }}
  </div>

  <span class="flex items-center gap-x-2 text-muted-foreground capitalize" data-tooltip="{{ _('Environment') }}">
    <span class="inline-block rounded h-2.5 w-2.5 bg-purple-400 dark:bg-purple-600  shrink-0"></span>
    {{ deployment.environment }}
  </span>
  
  <a
    class="flex items-center gap-x-2 text-muted-foreground hover:text-foreground transition-colors"
    href="https://github.com/{{ deployment.repo.full_name }}/tree/{{ deployment.repo.branch }}"
    target="_blank"
    data-tooltip="{{ _('Branch') }}"
  >
    <span class="opacity-50 dark:opacity-60">
      {% include "icons/git-branch.svg" %}
    </span>
    {{ deployment.repo.branch }}
  </a>

  <a
    class="flex items-center gap-x-2 hover:text-foreground transition-colors text-muted-foreground min-w-0 flex-1"
    href="https://github.com/{{ deployment.repo.full_name }}/commit/{{ deployment.commit.sha }}"
    target="_blank"
    data-tooltip="{{ _('Commit (%(sha)s)', sha=deployment.commit.sha[:7]) }}"
  >
    <span class="opacity-50 dark:opacity-60">
      {% include "icons/git-commit.svg" %}
    </span>
    <span class="truncate">{{ deployment.commit.message }}</span>
  </a>

  <div class="flex items-center ml-auto">
    {% if deployment.conclusion %}
      <a href="{{ deployment.featured_url }}" class="btn-ghost w-8 h-8 px-0" target="_blank" data-tooltip="{{ _('Visit') }}">
        {% include "icons/link.svg" %}
      </a>
    {% endif %}

    {% from "components/dropdown.html" import dropdown %}
    {% set trigger %}
      {% include "icons/ellipsis.svg" %}
    {% endset %}
    {% call dropdown(trigger=trigger, trigger_class="btn-ghost w-8 h-8 px-0", menu_class="min-w-36" ) %}
      {% include "deployments/partials/_options.html" %}
    {% endcall %}
  </div>
<!-- </article> -->
{% endmacro %}
