{% macro teaser(deployment, display_project=False) %}
{% set status_labels = {
  'succeeded': _('Status: Succeeded'),
  'failed': _('Status: Failed'),
  'canceled': _('Status: Canceled'),
  'skipped': _('Status: Skipped')
} %}
<article
  class="flex gap-x-6 items-center w-full"
  {% if not deployment.conclusion %}
    hx-get="{{ url_for('main.deployment_teaser', project_name=project.name, deployment_id=deployment.id) }}"
    hx-trigger="every 1s"
  {% endif %}
>
  <span
    data-tooltip="{{ status_labels[deployment.conclusion] if deployment.conclusion else _('Status: In progress') }}"
    data-tooltip-position="top-left"
  >
    {% from "deployments/components/status.html" import status %}
    {{ status(status=deployment.status, conclusion=deployment.conclusion, compact=True) }}
  </span>

  <a
    href="{{ url_for('main.deployment', project_name=deployment.project.name, deployment_id=deployment.id) }}"
    data-tooltip="{{ _('Deployment ID') }}"
  >
    <span class="font-medium font-mono">{{ deployment.id[:7] }}</span>
  </a>

  {% if display_project %}
    <span class="flex items-center gap-x-2 text-muted-foreground" data-tooltip="{{ _('Project') }}">
      {% from "projects/components/thumbnail.html" import thumbnail %}
      {{ thumbnail(deployment.project, size='sm') }}
      {{ deployment.project.name }}
    </span>
  {% endif %}

  <div class="flex items-center gap-x-2 text-muted-foreground whitespace-nowrap">
    {{ deployment.created_at | timeago }}
  </div>

  <span class="flex items-center gap-x-2 text-muted-foreground" data-tooltip="{{ _('Environment') }}">
    <svg class="w-4 h-4 shrink-0 opacity-60 dark:opacity-70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z"/><path d="m3.3 7 8.7 5 8.7-5"/><path d="M12 22V12"/></svg>
    {{ deployment.environment }}
  </span>

  <a
    class="flex items-center gap-x-1 hover:text-foreground transition-colors text-muted-foreground min-w-0 flex-1"
    href="https://github.com/{{ deployment.repo.full_name }}/commit/{{ deployment.commit.sha }}"
    target="_blank"
    data-tooltip="{{ _('Commit (%(sha)s)', sha=deployment.commit.sha[:7]) }}"
  >
    <svg class="w-4 h-4 shrink-0 opacity-60 dark:opacity-70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="3"/><line x1="3" x2="9" y1="12" y2="12"/><line x1="15" x2="21" y1="12" y2="12"/></svg>
    <span class="truncate">{{ deployment.commit.message }}</span>
  </a>

  <div class="flex items-center ml-auto">
    {% if deployment.conclusion %}
      <a href="{{ deployment.featured_url }}" class="btn-ghost w-9 h-9 px-0" target="_blank" data-tooltip="{{ _('Visit') }}">
        <svg class="w-4 h-4 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 17H7A5 5 0 0 1 7 7h2"/><path d="M15 7h2a5 5 0 1 1 0 10h-2"/><line x1="8" x2="16" y1="12" y2="12"/></svg>
      </a>
    {% endif %}

    {% from "components/dropdown.html" import dropdown %}
    {% set trigger %}
      <svg class="w-4 h-4 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="1"/><circle cx="19" cy="12" r="1"/><circle cx="5" cy="12" r="1"/></svg>
    {% endset %}
    {% call dropdown(trigger=trigger, trigger_class="btn-ghost w-9 h-9 px-0", menu_class="min-w-36" ) %}
      {% include "deployments/partials/_menu.html" %}
    {% endcall %}
  </div>
</article>
{% endmacro %}
