{% from "projects/components/thumbnail.html" import thumbnail %}
<span role="menuitem" class="flex items-center gap-x-1">
  {{ thumbnail(project, size='xs') }}
  {{ project.name }}
  <span class="h-4 w-4 ml-auto text-muted-foreground">
    {% include "shared/icons/check.svg" %}
  </span>
</span>
{% for other_project in get_latest_projects(project) %}
  <a href="{{ url_for('main.project', project_name=other_project.name) }}" role="menuitem">
    {{ thumbnail(other_project, size="xs") }}
    {{ other_project.name }}
    <span class="h-4 w-4 ml-auto"></span>
  </a>
{% endfor %}
<hr role="separator"/>
<a href="{{ url_for('main.new_project') }}" role="menuitem">
  {{ _('Add new project') }}
</a>