{% extends "base.html" %}

{% block app_content %}
<div class="container max-w-screen-lg mx-auto p-8 space-y-6">
  <header class="flex justify-between items-center">
    <h1 class="h1 flex items-center gap-x-2.5">
      <a href="{{ url_for('main.project', project_name=project.name) }}">
        {% from "projects/components/thumbnail.html" import thumbnail %}
        {{ thumbnail(project) }}
      </a>
      <span class="text-muted-foreground/25 font-normal">/</span>
      <a href="{{ url_for('main.deployments', project_name=project.name) }}">
        {{ _('Deployments') }}
      </a>
    </h1>

    <div class="flex items-center gap-x-2 ml-auto">
      {% if project.promoted_deployment %}
        <a
          href="{{ project.url }}"
          class="btn-ghost h-9 px-3 gap-x-2"
          target="_blank"
        >
          <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 17H7A5 5 0 0 1 7 7h2"/><path d="M15 7h2a5 5 0 1 1 0 10h-2"/><line x1="8" x2="16" y1="12" y2="12"/></svg>
          {{ _('Visit') }}
        </a>
      {% endif %}

      <button class="btn h-9 px-3 gap-x-2">
        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 13v8"/><path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242"/><path d="m8 17 4-4 4 4"/></svg>
        {{ _('Deploy') }}
      </button>
      <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(class="btn h-9 px-3") }}
      </form>
    </div>
  </header>

  <section class="space-y-2">
    {% if project.promoted_deployment %}
      <h2 class="h4 mb-4">{{ _('Latest promoted deployment') }}</h2>
      {% set deployment = project.promoted_deployment %}
      {% include "projects/partials/_teaser.html" %}
    {% endif %}
    <header class="flex justify-between items-center">
      <input class="input" type="text" placeholder="Search deployments">
      <select class="input">
        <option value="all">{{ _('All') }}</option>
        <option value="success">{{ _('Success') }}</option>
        <option value="failed">{{ _('Failed') }}</option>
      </select>
    </header>
    {% from "deployments/components/list.html" import list %}
    {{ list(deployments=deployments, pagination=pagination) }}
  </section>
</div>
{% endblock %}