{% extends "layouts/base.html" %}

{% block base_content %}
<div class="h-screen w-screen flex items-center justify-center">
  <div class="max-w-xs text-center">
    <h1 class="h4">{{ _('Page not found') }}</h1>
    <p class="text-muted-foreground mt-1">{{ _('The requested URL was not found on this server (error code: 404).') }}</p>
    <a
      class="btn inline-flex items-center h-8 px-2.5 gap-x-2 mt-4"
      href="{{ url_for('main.index') }}"
    >{{ _('Go to main page') }}</a>
  </div>
</div>
{% endblock %}