{% extends "layouts/app.html" %}

{% block app_content %}
{% from "components/avatar.html" import avatar with context %}
<div class="container max-w-screen-xl mx-auto p-8 space-y-6">
  <h1 class="h1 flex items-center gap-x-3">
    {% from "components/avatar.html" import avatar with context %}
    {{ avatar(team, "team", size="md") }}
    {{ team.name }}
  </h1>

  {% if projects %}
  <section class="space-y-4">
    <header class="flex justify-between items-center gap-x-4">
      <h2 class="h4">{{ _('Recent projects') }}</h2>
      {% if projects %}
      <a href="{{ url_for('new_project', team_slug=team.slug) }}" class="btn-sm">
        {% include "icons/plus.svg" %}
        {{ _('New project') }}
      </a>
      {% endif %}
    </header>
    {% from "projects/components/teaser.html" import teaser with context %}
    <ul class="grid grid-cols-3 gap-4">
      {% for project in projects %}
      <li class="bg-card text-card-foreground rounded-xl border shadow-sm p-4">
        {{ teaser(project) }}
      </li>
      {% endfor %}
    </ul>
  </section>
  {% else %}
  <section class="flex items-center justify-center min-h-60 bg-muted rounded-xl p-4">
    <div class="max-w-sm text-center">
      <h2 class="h4">{{ _('Deploy your first project.') }}</h2>
      <p class="text-muted-foreground mt-1">{{ _('Add a new project to deploy from an existing GitHub repository.') }}
      </p>
      <a class="btn-sm mt-4" href="{{ url_for('new_project', team_slug=team.slug) }}">
        {% include "icons/plus.svg" %}
        {{ _('New project') }}
      </a>
    </div>
  </section>
  {% endif %}

  {% if deployments %}
  <section class="space-y-4">
    <h2 class="h4">{{ _('Latest deployments') }}</h2>
    <div id="deployments">
      {% from "deployments/components/list.html" import list with context %}
      {{ list(deployments=deployments, display_project=True) }}
    </div>
  </section>
  {% endif %}
</div>
{% endblock %}