{% extends "layouts/app.html" %}

{% block app_content %}
<div class="container max-w-screen-xl mx-auto p-8 space-y-6">
  <header class="flex justify-between items-center">
    <h1 class="h1 flex items-center gap-x-3">
      <a href="{{ url_for('main.project', project_name=project.name) }}" class="shrink-0">
        {% from "projects/components/thumbnail.html" import thumbnail %}
        {{ thumbnail(project, size='md') }}
      </a>
      <span class="text-muted-foreground/25 font-normal">/</span>
      {{ _('Settings') }}
    </h1>
  </header>

  <div class="flex flex-row-reverse gap-x-6">
    <nav class="sticky top-[122px] min-w-64 h-full flex flex-col gap-y-1">
      <a href="#general" class="btn-sm-ghost justify-start">{{ _('General') }}</a>
      <a href="#environment-variables" class="btn-sm-ghost justify-start">{{ _('Environment variables') }}</a>
      <a href="#environments" class="btn-sm-ghost justify-start">{{ _('Environments') }}</a>
      <a href="#build-and-deploy" class="btn-sm-ghost justify-start">{{ _('Build & Deploy') }}</a>
      <a href="#danger" class="btn-sm-ghost justify-start text-destructive hover:bg-destructive/10 dark:hover:bg-destructive/20 focus:bg-destructive/10 dark:focus:bg-destructive/20 focus:text-destructive">{{ _('Danger') }}</a>
    </nav>
    
    <div class="space-y-6 w-full form">
      {# GENERAL #}
      <section class="relative rounded-xl scroll-mt-[101px]" id="general">
        {% include "projects/partials/settings/_general.html" %}
      </section>

      {# ENVIRONMENT VARIABLES #}
      <section class="relative rounded-xl scroll-mt-[101px]" id="environment-variables">
        {% include "projects/partials/settings/_env_vars.html" %}
      </section>

      {# ENVIRONMENTS #}
      <section class="relative rounded-xl scroll-mt-[101px]" id="environments">
        {% include "projects/partials/settings/_environments.html" %}
      </section>

      {# BUILD & DEPLOY #}
      <section class="relative rounded-xl scroll-mt-[101px]" id="build-and-deploy">
        {% include "projects/partials/settings/_build_and_deploy.html" %}
      </section>

      {# DANGER ZONE #}
      <section class="relative rounded-xl scroll-mt-[101px]" id="danger">
        {% include "projects/partials/settings/_danger.html" %}
      </section>
    </div>
  </div>
</div>
{% endblock %}