<form
  method="post"
  action="{{ url_for('new_team') }}"
  hx-post="{{ url_for('new_team') }}"
  hx-swap="outerHTML"
  class="space-y-4"
  x-data="{ name: '' }"
>
  {{ form.csrf_token() }}
  <div class="space-y-3">
    {{ form.name.label(class="label") }}
    {{ form.name(class="input w-full", **{"x-model": "name", "autofocus": "true"}) }}
    {% for error in form.name.errors %}
    <p class="text-destructive text-sm">{{ error }}</p>
    {% endfor %}
  </div>
  <footer class="flex justify-end gap-x-2">
    <button
      type="button"
      class="btn-ghost"
      onclick="document.getElementById('dialog-new-team').close()"
    >{{ _("Cancel") }}</button>
    {{ form.submit(class_="btn-primary", **{":disabled": "!name.trim()"}) }}
  </footer>
</form>