<div hx-get="{{ url_for('team_settings', team_slug=team.slug).include_query_params(fragment='members') }}"
  hx-trigger="environments:updated from:window" hx-swap="outerHTML" hx-indicator=".htmx-indicator" class="card">
  <header class="border-b">
    <h2>{{ _('Members') }}</h2>
    <p>{{ _('Manage the members of the team.') }}</p>
  </header>

  <section class="space-y-6">
    <form method="POST"
      action="{{ url_for('team_settings', team_slug=team.slug).include_query_params(fragment='members') }}"
      hx-post="{{ url_for('team_settings', team_slug=team.slug).include_query_params(fragment='env_vars') }}"
      hx-indicator="next .htmx-indicator" hx-target="closest div" hx-swap="outerHTML" x-data="{ changed: false }"
      @input="changed = true" @change="changed = true">
      <div class="flex gap-x-4 border-b border-border/50 pb-2">
        <div class="shrink-0 w-6"></div>
        <div class="flex-1 label">{{ _('Name') }}</div>
        <div class="flex-1 label">{{ _('Email') }}</div>
        <div class="flex-1 label">{{ _('Role') }}</div>
        <div class="shrink-0 w-8"></div>
      </div>

      <ul>
        {% for member in members %}
        <li class="flex items-center gap-x-4 border-b border-border/50 py-2">
          <div class="flex items-center justify-center w-6">
            {% set fallback %}
            <img src="https://unavatar.io/{{ member.user.email }}" alt="{{ member.user.email }}"
              class="size-6 rounded-full shrink-0" />
            {% endset %}
            {{ avatar(item=member.user, prefix="user", name=member.user.name if member.user.name else
            member.user.username, size="xs", class="!rounded-full", fallback=fallback) }}
          </div>
          <div class="flex-1 font-medium">{% if member.user.name %}{{ member.user.name }} ({{ member.user.username }}){%
            else %}@{{
            member.user.username }}{% endif %}</div>
          <div class="flex-1 text-muted-foreground">{{ member.user.email }}</div>
          <div class="flex-1 text-muted-foreground">{{ member.role }}</div>
          <div class="flex items-center w-8">
            {% from "macros/dropdown-menu.html" import dropdown_menu with context %}
            {% set trigger %}{% include "icons/ellipsis.svg" %}{% endset %}
            {% call dropdown_menu(
            trigger=trigger,
            trigger_attrs={'class': 'btn-sm-icon-ghost'},
            popover_attrs={'data-align': 'end'}
            ) %}
            <button role="menuitem" disabled>{{ _('Change role') }}</button>
            <hr role="separator" />
            <button role="menuitem"
              class="text-destructive hover:bg-destructive/10 dark:hover:bg-destructive/20 focus:bg-destructive/10 dark:focus:bg-destructive/20 focus:text-destructive [&_svg]:!text-destructive"
              disabled>{{
              _('Remove from team') }}</button>
            {% endcall %}
          </div>
        </li>
        {% endfor %}
      </ul>
    </form>

    <form class="flex items-center gap-x-2" x-data="{ email: '' }">
      <input type="email" class="flex-1 input" placeholder="{{ _('Enter email to invite') }}" x-model="email" />

      <select class="select">
        <option value="member">{{ _('Member') }}</option>
        <option value="admin">{{ _('Admin') }}</option>
      </select>

      <button class="btn" type="button" :disabled="!email">
        {% include "icons/send.svg" %}
        {{ _('Invite member') }}
      </button>
    </form>
  </section>

  <div class="htmx-indicator flex items-center justify-center inset-0 absolute bg-background/80 rounded-xl">
    <div class="flex items-center gap-x-2 text-muted-foreground [&>svg]:size-4 [&>svg]:animate-spin">
      {% include "icons/loader.svg" %}
      {{ _('Saving') }}
    </div>
  </div>
</div>