<ul>
  {% for deployment in deployments %}
    <li class="flex gap-x-2 items-center border border-b-0 last:border-b first:rounded-t-lg last:rounded-b-lg px-4 h-12 text-sm hover:bg-muted transition-colors">
      {% include "deployment/components/_teaser.html" %}
    </li>
  {% endfor %}
</ul>

{% if pagination.pages > 1 %}
  <nav
    class="flex items-center justify-end gap-x-2"
    aria-label="Pagination"
  >
    {% if pagination.page == 1 %}
      <button
          class="btn-outline h-8 w-8 p-0 disabled"
          type="button"
          aria-label="{{ _('Newest deployments') }}"
          disabled
        >
        <svg class="h-3 w-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
      </button>
    {% else %}
      <a
        href="{{ url_for('main.project', name=project.name, page=1) }}"
        class="btn-outline h-8 w-8 p-0"
        aria-label="{{ _('Newest deployments') }}"
      >
        <svg class="h-3 w-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m11 17-5-5 5-5"/><path d="m18 17-5-5 5-5"/></svg>
      </a>
    {% endif %}

    {% if pagination.has_prev %}
      <a href="{{ url_for('main.project', name=project.name, page=pagination.prev_num) }}" 
        class="btn-outline h-8 w-8 p-0"
        aria-label="{{ _('Newer deployments') }}"
      >
        <svg class="h-3 w-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
      </a>
    {% else %}
      <button
        class="btn-outline h-8 w-8 p-0 disabled"
        type="button"
        aria-label="{{ _('Newer deployments') }}"
        disabled
      >
      <svg class="h-3 w-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
      </button>
    {% endif %}

    {% if pagination.has_next %}
      <a href="{{ url_for('main.project', name=project.name, page=pagination.next_num) }}" 
        class="btn-outline h-8 w-8 p-0"
        aria-label="{{ _('Older deployments') }}"
        disabled
      >
        <svg class="h-3 w-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
      </a>
    {% else %}
      <button
        class="btn-outline h-8 w-8 p-0 disabled"
        type="button"
        aria-label="{{ _('Older deployments') }}"
        disabled
      >
        <svg class="h-3 w-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
      </button>
    {% endif %}


    <!-- If we're on the last page we don't display the next button -->
    {% if pagination.page == pagination.pages %}
      <button
          class="btn-outline h-8 w-8 p-0 disabled"
          type="button"
          aria-label="{{ _('Oldest deployments') }}"
          disabled
        >
        <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 17 5-5-5-5"/><path d="m13 17 5-5-5-5"/></svg>
      </button>
    {% else %}
      <a
        href="{{ url_for('main.project', name=project.name, page=pagination.pages) }}"
        class="btn-outline h-8 w-8 p-0"
        aria-label="{{ _('Oldest deployments') }}"
      >
      <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 17 5-5-5-5"/><path d="m13 17 5-5-5-5"/></svg>
      </a>
    {% endif %}
  </nav>
{% endif %}