{% extends "layouts/base.html" %}

{% block app_content %}
<div class="container max-w-screen-lg mx-auto p-8 space-y-6">
  <header class="flex justify-between items-center">
    <h1 class="h1">{{ _('Recent projects') }}</h1>
  </header>

  <section class="space-y-4">
    <header class="flex justify-between items-center">
      <h2 class="h4">{{ _('Recent projects') }}</h2>
      {% if projects %}
        <a
          href="{{ url_for('main.new_project') }}"
          class="btn inline-flex items-center gap-x-2 h-8 px-2.5"
        >
          <svg class="h-4 w-4 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
          {{ _('New project') }}
          <svg class="h-4 w-4 animate-spin htmx-indicator" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2v4"/><path d="m16.2 7.8 2.9-2.9"/><path d="M18 12h4"/><path d="m16.2 16.2 2.9 2.9"/><path d="M12 18v4"/><path d="m4.9 19.1 2.9-2.9"/><path d="M2 12h4"/><path d="m4.9 4.9 2.9 2.9"/></svg>
        </a>
      {% endif %}
    </header>
    {% if projects %}
      {% from "projects/components/teaser.html" import teaser %}
      <ul class="grid grid-cols-3 gap-4">
        {% for project in projects %}
          <li class="border border-border rounded-xl p-2.5">
            {{ teaser(project) }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="flex items-center justify-center min-h-60 bg-muted rounded-xl p-4">
        <section class="max-w-sm text-center">
          <h2 class="h4">{{ _('Deploy your first project.') }}</h2>
          <p class="text-muted-foreground mt-1">{{ _('Add a new project to deploy from an existing GitHub repository or use one of our templates.') }}</p>
          <a
            class="btn inline-flex items-center h-8 px-2.5 gap-x-2 mt-4"
            href="{{ url_for('main.new_project') }}"
          >
            <svg class="h-4 w-4 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
            {{ _('New project') }}
            <svg class="h-4 w-4 animate-spin htmx-indicator" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2v4"/><path d="m16.2 7.8 2.9-2.9"/><path d="M18 12h4"/><path d="m16.2 16.2 2.9 2.9"/><path d="M12 18v4"/><path d="m4.9 19.1 2.9-2.9"/><path d="M2 12h4"/><path d="m4.9 4.9 2.9 2.9"/></svg>
          </a>
        </section>
      </div>
    {% endif %}
  </section>

  <section class="space-y-4">
    <h2 class="h4">{{ _('Latest deployments') }}</h2>
    {% from "deployments/components/list.html" import list %}
    {{ list(deployments=deployments, display_project=True) }}
  </section>
</div>
{% endblock %}