{% extends "layouts/app.html" %}

{% block title %}Sign in{% endblock %}

{% block app_content %}
<div class="flex flex-col items-center justify-center h-[calc(100vh-65px)]">
  <div class="w-full max-w-xs space-y-6">
    <h2 class="h2 text-center">Sign in to {{ settings.app_name }}</h2>
    <section
      class="grid gap-4"
      x-data="{
        loading: null,
      }"
    >
      {% include "auth/partials/_form-email.html" %}
      <hr>
      <button
        class="btn-outline w-full"
        @click="
          loading = 'github';
          window.location.href = '{{ url_for('auth_github_login') }}';
        "
        :disabled="loading"
      >
        {% include "icons/github.svg" %}
        {{ _("Continue with GitHub") }}
        <span x-show="loading === 'github'" class="[&>svg]:size-4 [&>svg]:animate-spin">
          {% include "icons/loader.svg" %}
        </span>
      </button>
      <button
        class="btn-outline w-full"
        @click="
          loading = 'google';
          window.location.href = '{{ url_for('auth_google_login') }}';
        "
        :disabled="loading"
      >
        {% include "icons/google.svg" %}
        {{ _("Continue with Google") }}
        <span x-show="loading === 'google'" class="[&>svg]:size-4 [&>svg]:animate-spin">
          {% include "icons/loader.svg" %}
        </span>
      </button>
    </section>
  </div>
</div>
{% endblock %}