<div class="card">
  <header class="border-b">
    <h2>{{ _('Danger zone') }}</h2>
    <p>{{ _('Permanently delete your account and all of its settings, teams, projects and deployments.') }}</p>
  </header>

  <section class="space-y-6">
    <div class="field">
      {% from "macros/dialog.html" import dialog %}
      {% set trigger %}
      {% include "icons/trash-2.svg" %}
      {{ _('Delete account') }}
      {% endset %}
      {% call dialog(
      trigger=trigger,
      title=_('Delete your account?'),
      trigger_attrs={"class": "btn-destructive"},
      dialog_attrs={"class": "max-w-md"}
      ) %}
      <div class="space-y-4" x-data="{ confirm: '' }">
        <p>{{ _('This will delete all configurations, teams, projects and deployments owned by this account. This action
          cannot be undone.')
          }}</p>
        <p>{{ _('To confirm, enter your email <b>"%(email)s"</b> below.', email=current_user.email) | safe }}</p>
        <form method="POST" action="{{ url_for('user_settings').include_query_params(fragment='danger') }}">
          {{ delete_form.csrf_token() }}
          {{ delete_form.confirm(
          class_="w-full input",
          placeholder=_('Type your email to confirm'),
          **{'x-model': 'confirm'}
          ) }}
          <footer class="flex justify-end gap-x-2 mt-4">
            <button class="btn-ghost" onclick="this.closest('dialog').close()">{{ _('Cancel') }}</button>
            {{ delete_form.submit(
            class_="btn-destructive",
            **{
            ':disabled': "confirm !== '" + current_user.email + "'",
            'data-icon': 'trash'
            }
            ) }}
          </footer>
        </form>
      </div>
      {% endcall %}
    </div>
  </section>
</div>