<form method="POST" enctype="multipart/form-data"
  action="{{ url_for('user_settings').include_query_params(fragment='general') }}"
  hx-post="{{ url_for('user_settings').include_query_params(fragment='general') }}" hx-indicator="next .htmx-indicator"
  hx-swap="outerHTML" x-data="{
    changed: false,
    deleteAvatar: false
  }" @input="changed = true" @change="changed = true" class="card">
  {{ general_form.csrf_token() }}
  <header class="border-b">
    <h2>{{ _('General') }}</h2>
    <p>{{ _('General settings for your account.') }}</p>
  </header>

  <section class="space-y-6">
    <div class="space-y-3">
      {{ general_form.name.label(class="label") }}
      {{ general_form.name(class="input w-full") }}
      {% for error in general_form.name.errors %}
      <p class="text-destructive text-sm">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="space-y-3">
      {{ general_form.username.label(class="label") }}
      {{ general_form.username(class="input w-full") }}
      {% for error in general_form.username.errors %}
      <p class="text-destructive text-sm">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="space-y-3">
      <label for="avatar" class="label">{{ _('Avatar') }}</label>
      {% from "macros/image-upload.html" import image_upload %}

      {% from "macros/avatar.html" import avatar with context %}
      {% set fallback %}
      <img src="https://unavatar.io/{{ current_user.email }}" alt="{{ current_user.email }}"
        class="size-10 rounded-full shrink-0" />
      {% endset %}
      {% set current_avatar %}
      {{ avatar(item=current_user, prefix="user", name=current_user.name if current_user.name else
      current_user.username, size="md", class="!rounded-full", fallback=fallback) }}
      {% endset %}
      {% set default_avatar %}
      {{ fallback }}
      {% endset %}
      {{ image_upload(
      field=general_form.avatar,
      delete_field=general_form.delete_avatar,
      has_image=current_user.has_avatar,
      current_image=current_avatar,
      default_image=default_avatar,
      extensions=["jpg", "jpeg", "png", "gif", "webp"],
      class="!rounded-full"
      ) }}
    </div>
  </section>

  <footer class="flex justify-end gap-x-2">
    <button type="button" class="btn-sm-ghost"
      hx-get="{{ url_for('user_settings').include_query_params(fragment='general') }}" hx-target="closest form"
      hx-swap="outerHTML" :disabled="!changed">{{ _('Cancel') }}</button>
    <button class="btn-sm" :disabled="!changed">{{ _('Save') }}</button>
  </footer>
</form>

<div class="htmx-indicator flex items-center justify-center inset-0 absolute bg-background/80 rounded-xl">
  <div class="flex items-center gap-x-2 text-muted-foreground [&>svg]:size-4 [&>svg]:animate-spin">
    {% include "icons/loader.svg" %}
    {{ _('Saving') }}
  </div>
</div>