{% if not commits %}
  <div class="space-y-4">
    <section class="flex items-center justify-center min-h-60 bg-card text-card-foreground border shadow-sm rounded-xl p-4">
      <div class="max-w-sm text-center">
        <h2 class="h4">{{ _('No commits') }}</h2>
        <p class="text-muted-foreground mt-1">{{ _('This environment does not have any matching commits yet.') }}</p>
        <a
          class="btn-sm mt-4"
          href="{{ url_for('project_settings', team_slug=team.slug, project_name=project.name) }}#environments"
        >
          {{ _('Manage environments') }}
        </a>
      </div>
    </section>
    <footer class="flex justify-end gap-x-2">
      <button type="button" class="btn-ghost" onclick="document.getElementById('dialog-deploy').close()">{{ _('Cancel')
        }}</button>
      <button type="button" class="btn" disabled>{{ _('Deploy') }}</button>
    </footer>
  </div>
{% else %}
  <form
    method="post"
    action="{{ url_for('project_deploy', team_slug=team.slug, project_name=project.name).include_query_params(fragment='commit') }}"
    hx-post="{{ url_for('project_deploy', team_slug=team.slug, project_name=project.name).include_query_params(fragment='commit') }}"
    class="space-y-4"
  >
    {{ form.csrf_token }}
    {% if form.errors %}
      {% for field_name, field_errors in form.errors.items() %}
        {% for error in field_errors %}
        <p class="text-destructive text-sm">{{ field_name }}: {{ error }}</p>
        {% endfor %}
      {% endfor %}
    {% endif %}
    <section>
      {% for commit in commits %}
        <label class="flex gap-x-6 items-center border border-b-0 last:border-b first:rounded-t-lg last:rounded-b-lg px-4 h-12 text-sm hover:bg-muted/50 transition-colors bg-clip-padding">
          <input
            type="radio"
            name="commit"
            value="{{ commit['branch'] }}:{{ commit['sha'] }}"
            {% if loop.first %}checked{% endif %}
            class="input"
          >
          <span class="font-medium">
            {{ commit['sha'][:7] }}
          </span>
          <span
            class="flex items-center gap-x-2 text-muted-foreground [&>svg]:size-4 [&>svg]:opacity-50 dark:[&>svg]:opacity-60 min-w-0 [&>svg]:shrink-0"
            data-tooltip="{{ _('Branch') }}"
          >
            {% include "icons/git-branch.svg" %}
            <span class="truncate">{{ commit['branch'] }}</span>
          </span>
          <span
            class="flex items-center gap-x-2 text-muted-foreground min-w-0 [&>svg]:size-4 [&>svg]:opacity-50 dark:[&>svg]:opacity-60 [&>svg]:shrink-0"
            data-tooltip="{{ _('Commit message') }}"
          >
            {% include "icons/git-commit-horizontal.svg" %}
            <span class="truncate">{{ commit['commit']['message'] }}</span>
          </span>

          <a
            href="https://github.com/{{ project.repo_full_name }}/commit/{{ commit['sha'] }}"
            target="_blank"
            class="btn-sm-icon-ghost ml-auto [&>svg]:shrink-0"
            data-tooltip="{{ _('View on GitHub') }}"
          >
            {% include "icons/arrow-up-right.svg" %}
          </a>
        </label>
      {% endfor %}
    </section>
    <footer class="flex justify-end gap-x-2">
      <button type="button" class="btn-ghost" onclick="document.getElementById('dialog-deploy').close()">{{ _('Cancel') }}</button>
      {{ form.submit(class_="btn-primary") }}
    </footer>
  </form>
{% endif %}