{% from "project/macros/environment-label.html" import environment_label %}

<div class="flex gap-x-6 items-center border px-4 h-12 rounded-lg">
  <span  data-tooltip="{{ _('Deployment ID') }}">
    <span class="font-medium font-mono text-[13px]">{{ deployment.id[:7] }}</span>
  </span>
  <span
    class="flex items-center gap-x-2 text-muted-foreground min-w-0 [&>svg]:size-4 [&>svg]:opacity-50 dark:[&>svg]:opacity-60 [&>svg]:shrink-0"
    data-tooltip="{{ _('Branch') }}"
  >
    {% include "icons/git-branch.svg" %}
    <span class="truncate">{{ deployment.branch }}</span>
  </span>
  <span
    class="flex items-center gap-x-2 text-muted-foreground min-w-0 [&>svg]:size-4 [&>svg]:opacity-50 dark:[&>svg]:opacity-60 [&>svg]:shrink-0"
    data-tooltip="{{ _('Commit message') }}"
  >
    {% include "icons/git-commit-horizontal.svg" %}
    <span class="truncate">{{ deployment.commit_meta.message }}</span>
  </span>
  <a href="{{ url_for('project_deployment', team_slug=team.slug, project_name=project.name, deployment_id=deployment.id) }}" target="_blank" class="btn-sm-icon-ghost ml-auto" data-tooltip="{{ _('View deployment') }}">
    {% include "icons/arrow-up-right.svg" %}
  </a>
</div>
<footer class="flex justify-end gap-x-2">
  <button type="button" class="btn-ghost" onclick="this.closest('dialog').close()">{{ _('Cancel') }}</button>
  <form
    method="post"
    action="{{ url_for('project_rollback', team_slug=team.slug, project_name=project.name, deployment_id=deployment.id) }}"
    hx-post="{{ url_for('project_rollback', team_slug=team.slug, project_name=project.name, deployment_id=deployment.id) }}"
    hx-disabled-elt="button"
    hx-swap="none"
    hx-indicator="find .htmx-indicator"
    x-init
    @htmx:after-request="$el.closest('dialog').close()"
  >
    {{ form.csrf_token() }}
    <input type="hidden" name="environment_id" value="{{ deployment.environment.id }}">
    <button type="submit" class="btn">
      {{ _('Rollback') }}
      <div class="htmx-indicator [&>svg]:size-4 [&>svg]:animate-spin">{% include "icons/loader.svg" %}</div>
    </button>
  </form>
</footer>