{% from "project/macros/environment-label.html" import environment_label %}

<div class="space-y-2">
  <h3 class="font-medium">{{ _('Deploy to:') }}</h3>
  <div class="flex items-center border px-4 h-12 rounded-lg">
    {{ environment_label(environment) }}
  </div>
</div>

<div class="space-y-2">
  <h3 class="font-medium">{{ _('Commit info:') }}</h3>
  <div class="flex gap-x-6 items-center border px-4 h-12 rounded-lg">
    <span class="font-medium font-mono">{{ deployment.commit_sha[:7] }}</span>
    <span
      class="flex items-center gap-x-2 text-muted-foreground min-w-0 [&>svg]:size-4 [&>svg]:opacity-50 dark:[&>svg]:opacity-60 [&>svg]:shrink-0"
      data-tooltip="{{ _('Branch') }}"
    >
      {% include "icons/git-branch.svg" %}
      <span class="truncate">{{ deployment.branch }}</span>
    </span>
    <span
      class="flex items-center gap-x-2 text-muted-foreground min-w-0 [&>svg]:size-4 [&>svg]:opacity-50 dark:[&>svg]:opacity-60 [&>svg]:shrink-0"
      data-tooltip="{{ _('Commit message') }}"
    >
      {% include "icons/git-commit-horizontal.svg" %}
      <span class="truncate">{{ deployment.commit_meta.message }}</span>
    </span>
    <a href="https://github.com/{{ deployment.repo_full_name }}/commit/{{ deployment.commit_sha }}" target="_blank" class="btn-sm-icon-ghost ml-auto" data-tooltip="{{ _('View on GitHub') }}">
      {% include "icons/arrow-up-right.svg" %}
    </a>
  </div>
</div>
<footer class="flex justify-end gap-x-2">
  <button type="button" class="btn-ghost" onclick="this.closest('dialog').close()">{{ _('Cancel') }}</button>
  <form
    method="post"
    action="{{ url_for('project_redeploy', team_slug=team.slug, project_name=project.name, deployment_id=deployment.id) }}"
    hx-post="{{ url_for('project_redeploy', team_slug=team.slug, project_name=project.name, deployment_id=deployment.id) }}"
    hx-disabled-elt="button"
    hx-swap="none"
    hx-indicator=".htmx-indicator"
    x-init
    @htmx:after-request="$el.closest('dialog').close()"
  >
    {{ form.csrf_token() }}
    <input type="hidden" name="commit" value="{{ deployment.branch }}:{{ deployment.commit_sha }}">
    <button type="submit" class="btn">
      {{ _('Redeploy') }}
      <div class="htmx-indicator [&>svg]:size-4 [&>svg]:animate-spin">{% include "icons/loader.svg" %}</div>
    </button>
  </form>
</footer>