{% from "deployment/macros/log_list.html" import log_list %}

{{ log_list(logs) }}

{% if next_end_timestamp %}
  <div
    class="flex justify-center p-4"
    hx-get="{{ url_for('project_logs', team_slug=team.slug, project_name=project.name).include_query_params(end=next_end_timestamp, fragment='logs') }}"
    hx-trigger="revealed"
    hx-disabled-elt="button"
    hx-swap="outerHTML"
    hx-indicator=".htmx-indicator"
  >
    <button class="btn-secondary flex items-center gap-x-2">
      {{ _('Load more') }}
      <div class="htmx-indicator [&>svg]:size-4 [&>svg]:animate-spin">{% include "icons/loader.svg" %}</div>
    </button>
  </div>
{% endif %} 