{% from "deployment/macros/log-list.html" import log_list %}

{% if not logs and fragment == "logs" %}
  <section class="flex items-center justify-center min-h-60 bg-card text-card-foreground shadow-sm rounded-lg p-4 absolute inset-0">
    <div class="max-w-sm">
      <div class="text-center">
        <h2 class="h4">{{ _('No logs') }}</h2>
        <p class="text-muted-foreground mt-1">{{ _('There are no logs matching the  selected filters.') }}</p>
        <footer class="mt-4 flex items-center justify-center gap-x-2">
          <button type="button" class="btn-sm-outline" onclick="document.dispatchEvent(new Event('logs:refresh'))">
            {{ _('Refresh logs') }}
          </button>
          <button type="button" class="btn-sm" onclick="console.log('reset');document.dispatchEvent(new Event('logs:reset'))">
            {{ _('Reset filters') }}
          </a>
        </footer>
      </div>
      {% include "project/partials/_dialog-deploy.html" %}
    </div>
  </section>
{% else %}
  {% if next_batch_url %}
    <div
      class="flex justify-center p-4"
      hx-get="{{ next_batch_url }}"
      hx-trigger="intersect once delay:100ms"
      hx-disabled-elt="button"
      hx-swap="outerHTML"
    >
      <button class="btn-secondary flex items-center gap-x-2">
        {{ _('Load more') }}
        <div class="[&>svg]:size-4 [&>svg]:animate-spin">{% include "icons/loader.svg" %}</div>
      </button>
    </div>
  {% endif %}
  {{ log_list(logs=logs, team=team, project=project, request=request) }}
{% endif %}