{% from "macros/dropdown-menu.html" import dropdown_menu %}
{% from "macros/dialog.html" import dialog %}

{% macro render_environment_form(environment={}, index=0, update=False) %}
  {% if environment %}
    {% set is_active = environment_form.errors and environment_form.environment_id.data == environment['id'] %}
  {% else %}
    {% set is_active = environment_form.errors and not environment_form.environment_id.data %}
  {% endif %}
  <form
    method="post"
    action="{{ url_for('project_settings', team_slug=team.slug, project_name=project.name).include_query_params(fragment='environment') }}"
    hx-post="{{ url_for('project_settings', team_slug=team.slug, project_name=project.name).include_query_params(fragment='environment') }}"
    hx-target="closest .card"
    hx-swap="outerHTML"
    hx-on::before-request="document.activeElement && document.activeElement.blur()"
    hx-indicator="next .htmx-indicator"
    @htmx:after-request="$dispatch('environments:updated')"
    x-show="activeForm === {{ index }}"
    x-data="{
      color: '{{ environment_form.color.data if is_active else environment.color if environment else '' }}'
    }"
    x-init="
      {% if is_active and environment_form.errors %}activeForm = {{ index }}{% endif %}
      if (!color) {
        colorIndex = {% if index %}{{ index }}{% else %}{{ project.active_environments|length }} + 1{% endif %};
        color = getEnvironmentColor(colorIndex);
      }
    "
    class="flex items-start gap-x-2 border-b border-border/50 pb-2"
  >
    {{ environment_form.csrf_token(id=False) }}
    {{ environment_form.environment_id(
      id=False,
      value=environment.id
    ) }}
    {{ environment_form.color(
      id=False,
      class='w-full hidden',
      **{':value': 'color'}
    ) }}
    <div class="size-9">
      {% set trigger %}
        <div class="inline-block rounded size-2.5 shrink-0" :class="`bg-${color}-400 dark:bg-${color}-600`"></div>
      {% endset %}
      {% call dropdown_menu(
        trigger=trigger,
        trigger_attrs={"class": "btn-icon-ghost"},
        menu_attrs={"class": "grid grid-cols-6 gap-2"}
      ) %}
        {% for color in colors %}
          <button class="btn-icon-ghost" :class="color === '{{ color }}' ? 'bg-muted' : ''" aria-label="{{ color }}" @click="color = '{{ color }}'" type="button" role="menuitem">
            <div class="block rounded size-4 bg-{{ color }}-400 dark:bg-{{ color }}-600 shrink-0"></div>
          </button>
        {% endfor %}
      {% endcall %}
    </div>

    <div class="flex-1 space-y-2">
      {{ environment_form.name(
        id=False,
        class='w-full',
        value=environment_form.name.data if is_active else environment.name if environment else '',
        readonly=environment.get('id') == 'prod',
        **({
          'aria-invalid': 'true' if is_active and environment_form.name.errors else '',
          '@keydown.escape.prevent': 'activeForm = null'
        })
      ) }}
      {% if is_active %}
        {% for error in environment_form.name.errors %}
          <p class="text-destructive text-sm">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </div>
    <div class="flex-1 space-y-2">
      {{ environment_form.slug(
        id=False,
        class='w-full font-mono',
        value=environment_form.slug.data if is_active else environment.slug if environment else '',
        readonly=environment.get('id') == 'prod',
        **({
          'aria-invalid': 'true' if is_active and environment_form.slug.errors else '',
          '@keydown.escape.prevent': 'activeForm = null'
        })
      ) }}
      {% if is_active %}
        {% for error in environment_form.slug.errors %}
          <p class="text-destructive text-sm">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </div>
    <div class="field flex-1">
      {{ environment_form.branch(
        id=False,
        class='w-full font-mono',
        value=environment_form.branch.data if is_active else environment.branch if environment else '',
        **({
          'aria-invalid': 'true' if is_active and environment_form.branch.errors else '',
          '@keydown.escape.prevent': 'activeForm = null'
        })
      ) }}
      {% if is_active %}
        {% for error in environment_form.branch.errors %}
          <p class="text-destructive text-sm">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </div>
    <div class="w-20 shrink-0 flex items-center justify-center">
      <button class="btn-icon-ghost" type="submit" aria-label="{{ _('Save') }}" data-tooltip="{{ _('Save') }}">
        {% include "icons/check.svg" %}
      </button>
      <button class="btn-icon-ghost" type="button" @click="activeForm = null" aria-label="{{ _('Cancel') }}"
        data-tooltip="{{ _('Cancel') }}">
        {% include "icons/x.svg" %}
      </button>
    </div>
  </form>
{% endmacro %}

<div class="card">
  <header class="border-b">
    <h2>{{ _('Environments') }}</h2>
    <p>{{ _('Deployments will be associated with the first environment with a matching branch pattern.') }}</p>
  </header>

  <section class="space-y-6">
    <div
      class="space-y-2"
      x-data='{
        activeForm: null,
        getEnvironmentColor: (index) => {
          const colors = {{ colors|tojson }};
          const colorIndex = (3 * (index - 1)) % colors.length;
          return colors[colorIndex];
        }
      }'
    >
      <div class="flex gap-x-2 border-b border-border/50 pb-2">
        <div class="shrink-0 w-10"></div>
        <div class="flex-1 label">{{ _('Name') }}</div>
        <div class="flex-1 label">{{ _('Identifier') }}</div>
        <div class="flex-1 label">{{ _('Branch') }}</div>
        <div class="shrink-0 w-20"></div>
      </div>

      {% for environment in project.active_environments %}
        <div x-show="activeForm !== {{ loop.index }}" class="flex items-center gap-x-2 border-b border-border/50 pb-2">
          <div class="flex items-center justify-center size-9">
            <span
              class="inline-block rounded size-2.5 shrink-0 bg-{{ environment.color }}-400 dark:bg-{{ environment.color }}-600"></span>
          </div>
          <div class="flex-1 font-medium">{{ environment.name }}</div>
          <div class="flex-1 font-mono text-muted-foreground">{{ environment.slug }}</div>
          <div class="flex-1 font-mono text-muted-foreground">{{ environment.branch }}</div>
          <div class="flex items-center w-20">
            <button type="button" class="btn-icon-ghost" aria-label="{{ _('Edit') }}" data-tooltip="{{ _('Edit') }}" @click="activeForm = {{ loop.index }}" :disabled="activeForm">
              {% include "icons/pencil.svg" %}
            </button>
            {% if environment and environment.id != 'prod' %}
              {% set trigger %}
                {% include "icons/trash-2.svg" %}
              {% endset %}
              {% call dialog(
                trigger=trigger,
                title=_('Delete "%(name)s"?', name=environment.name),
                trigger_attrs={
                  "class": "btn-icon-ghost text-destructive hover:bg-destructive/10 dark:hover:bg-destructive/20",
                  "aria-label": _('Delete'),
                  "data-tooltip": _('Delete'),
                  ":disabled": "activeForm"
                },
                dialog_attrs={"class": "max-w-md"}
              ) %}
                <div class="space-y-4" x-data="{ confirm: '' }">
                  <p>{{ _('This will delete the environment and all related environment variables. This action cannot be undone.') }}</p>
                  <p>{{ _('To confirm, enter the environment identifier <b>"%(slug)s"</b> below.', slug=environment.slug) | safe }}
                  </p>
                  <form
                    method="post"
                    action="{{ url_for('project_settings', team_slug=team.slug, project_name=project.name).include_query_params(fragment='delete_environment') }}"
                    hx-post="{{ url_for('project_settings', team_slug=team.slug, project_name=project.name).include_query_params(fragment='delete_environment') }}"
                    hx-swap="outerHTML"
                    hx-on::before-request="document.activeElement && document.activeElement.blur()"
                    hx-target="closest .card"
                    hx-indicator="next .htmx-indicator"
                    @htmx:after-request="$dispatch('environments:updated')"
                    @submit.prevent="!confirm"
                  >
                    {{ delete_environment_form.csrf_token(id=False) }}
                    {{ delete_environment_form.environment_id(
                      id=False,
                      value=environment.id
                    ) }}
                    {{ delete_environment_form.confirm(
                      id=False,
                      class_='w-full',
                      placeholder=_('Type the environment identifier to confirm'),
                      **{'x-model': 'confirm'}
                    ) }}
                    <footer class="flex justify-end gap-x-2 pt-4">
                      <button class="btn-ghost" onclick="this.closest('dialog').close()">{{ _('Cancel') }}</button>
                      {{ delete_environment_form.submit(
                        id=False,
                        class_="btn-destructive",
                        **{':disabled': "confirm !== '" + environment.slug + "'"}
                      ) }}
                    </footer>
                  </form>
                </div>
              {% endcall %}
            {% endif %}
          </div>
        </div>
        {{ render_environment_form(environment, loop.index) }}
      {% endfor %}

      {{ render_environment_form(index=0) }}

      <button class="btn-sm-outline" type="button" @click="activeForm = 0" x-show="activeForm !== 0" :disabled="activeForm">
        {% include "icons/plus.svg" %}
        {{ _('Add environment') }}
      </button>
    </div>
  </section>
</div>

<div class="htmx-indicator flex items-center justify-center inset-0 absolute bg-background/80 rounded-xl">
  <div class="flex items-center gap-x-2 text-muted-foreground [&>svg]:size-4 [&>svg]:animate-spin">
    {% include "icons/loader.svg" %}
    {{ _('Saving') }}
  </div>
</div>