<form method="post"
  action="{{ url_for('project_settings', team_slug=team.slug, project_name=project.name).include_query_params(fragment='build_and_deploy') }}"
  hx-post="{{ url_for('project_settings', team_slug=team.slug, project_name=project.name).include_query_params(fragment='build_and_deploy') }}"
  hx-swap="outerHTML" x-data="{ changed: false }"
  hx-on::before-request="document.activeElement && document.activeElement.blur()"
  @input="changed = true"
  @change="changed = true"
  hx-indicator="next .htmx-indicator" class="card">
  {{ build_and_deploy_form.csrf_token(id=False) }}
  <header class="border-b">
    <h2>{{ _('Build & Deploy') }}</h2>
    <p>{{ _('Configuration for building and deploying the project: root folder, runtime, commands, etc.') }}</p>
  </header>

  <section class="space-y-6">
    {% from "project/macros/build-and-deploy.html" import render_build_and_deploy %}
    {{ render_build_and_deploy(build_and_deploy_form, presets, runtimes) }}
  </section>

  <footer class="flex justify-end gap-x-2">
    <button type="button" class="btn-sm-ghost"
      hx-get="{{ url_for('project_settings', team_slug=team.slug, project_name=project.name).include_query_params(fragment='build_and_deploy') }}"
      hx-target="closest form" hx-swap="outerHTML" :disabled="!changed">{{ _('Cancel') }}</button>
    <button class="btn-sm" :disabled="!changed">{{ _('Save') }}</button>
  </footer>
</form>

<div class="htmx-indicator flex items-center justify-center inset-0 absolute bg-background/80 rounded-xl">
  <div class="flex items-center gap-x-2 text-muted-foreground [&>svg]:size-4 [&>svg]:animate-spin">
    {% include "icons/loader.svg" %}
    {{ _('Saving') }}
  </div>
</div>