{% from "macros/select.html" import select %}
{% from "macros/dialog.html" import dialog %}
{% from "project/macros/environment-label.html" import environment_label %}

{% set domain_types = {
  "route": _("Route"),
  "301": _("301 - Moved Permanently"),
  "308": _("308 - Permanent Redirect"),
  "302": _("302 - Found"),
  "307": _("307 - Temporary Redirect"),
} %}

{% set domain_statuses = {
  "pending": _("Pending"),
  "failed": _("Failed"),
  "disabled": _("Disabled"),
} %}

{% macro render_domain_form(domain={}, index=0, update=False) %}
  {% if domain %}
    {% set is_active = domain_form.errors  and domain_form.domain_id.data|int == domain.id %}
  {% else %}
    {% set is_active = domain_form.errors and not domain_form.domain_id.data %}
  {% endif %}
  
  <form
    method="post"
    action="{{ url_for('project_settings', team_slug=team.slug, project_name=project.name).include_query_params(fragment='domain') }}"
    hx-post="{{ url_for('project_settings', team_slug=team.slug, project_name=project.name).include_query_params(fragment='domain') }}"
    hx-target="closest .card"
    hx-swap="outerHTML"
    hx-on::before-request="document.activeElement && document.activeElement.blur()"
    hx-indicator="next .htmx-indicator"
    class="flex items-start gap-x-2 border-b border-border/50 pb-2"
    x-show="activeForm === {{ index }}"
    x-init="{% if is_active and domain_form.errors %}activeForm = {{ index }}{% endif %}"
  >
    {{ domain_form.csrf_token(id=False) }}
    {{ domain_form.domain_id(id=False, value=domain.id) }}
    <div class="flex-1 space-y-2">
      {{ domain_form.hostname(
        id=False,
        class='w-full',
        placeholder=_('example.com'),
        value=domain_form.hostname.data if is_active else domain.hostname if domain else '',
        **({
          'aria-invalid': 'true' if is_active and domain_form.hostname.errors else '',
          '@keydown.escape.prevent': 'activeForm = null'
        })
      ) }}
      {% if is_active %}
        {% for error in domain_form.hostname.errors %}
          <p class="text-destructive text-sm">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </div>
    <div class="flex-1 space-y-2">
      {{ domain_form.type(
        id=False,
        class="w-full",
        value=domain_form.type.data if is_active else domain.type if domain else "route",
        **({
          "aria-invalid": "true" if is_active and domain_form.type.errors else "",
          "@keydown.escape.prevent": "activeForm = null",
        })
      ) }}
      {% if is_active %}
        {% for error in domain_form.type.errors %}
          <p class="text-destructive text-sm">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </div>
    <div class="flex-1 space-y-2">
      {% set items = [] %}
      {% for environment in project.active_environments %}
        {% set items = items.append({
          "label": environment_label(environment),
          "value": environment.id
        }) %}
      {% endfor %}
      {{ select(
        name="environment_id",
        selected=domain_form.environment_id.data,
        items=items,
        main_attrs={"class": "w-full"},
        trigger_attrs={
          "aria-invalid": "true" if is_active and domain_form.environment_id.errors else "",
          "@keydown.escape.prevent": "activeForm = null",
          "class": "w-full"
        }
      ) }}
      {% if is_active %}
        {% for error in domain_form.environment_id.errors %}
          <p class="text-destructive text-sm">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </div>
    
    <div class="w-20 shrink-0 flex items-center justify-center">
      <button class="btn-icon-ghost" type="submit" aria-label="{{ _('Save') }}" data-tooltip="{{ _('Save') }}">
        {% include "icons/check.svg" %}
      </button>
      <button class="btn-icon-ghost" type="button" @click="activeForm = null" aria-label="{{ _('Cancel') }}"
        data-tooltip="{{ _('Cancel') }}">
        {% include "icons/x.svg" %}
      </button>
    </div>
  </form>
{% endmacro %}

<div
  class="card"
  hx-get="{{ url_for('project_settings', team_slug=team.slug, project_name=project.name).include_query_params(fragment='domain') }}"
  hx-trigger="environments:updated from:window"
  hx-swap="outerHTML"
  hx-indicator="next .htmx-indicator"
>
  <header class="border-b">
    <h2>{{ _('Domains') }}</h2>
    <p>{{ _('Custom domain names associated with this project\'s environments.') }}</p>
  </header>

  <section class="space-y-6" x-data="{activeForm: null}">
    <div class="space-y-2">
      <div class="flex gap-x-2 border-b border-border/50 pb-2" x-show="activeForm !== null || {{ domains | length }} > 0">
        <div class="flex-1 label">{{ _('Hostname') }}</div>
        <div class="flex-1 label">{{ _('Type') }}</div>
        <div class="flex-1 label">{{ _('Environment') }}</div>
        <div class="shrink-0 w-20"></div>
      </div>
      {% for domain in domains %}
        <div class="border-b border-border/50 pb-2">
          <div
            x-show="activeForm !== {{ loop.index }}"
            class="flex items-center gap-x-2"
          >
            <div class="flex-1 font-medium truncate">
              <span class="truncate {% if domain.status == 'disabled' %}line-through{% endif %}">{{ domain.hostname }}</span>
            </div>
            <div class="flex-1 text-muted-foreground flex items-center gap-x-2 [&>svg]:size-4">
              {% if domain.type == "route" %}
                {% include "icons/globe.svg" %}
              {% else %}
                {% include "icons/corner-down-right.svg" %}
              {% endif %}
              {{ domain_types[domain.type] }}
            </div>
            <div class="flex-1 text-muted-foreground">
              {% if domain.environment_id %}
                {{ environment_label(
                  project.get_environment_by_id(domain.environment_id),
                  attrs={"class": "text-muted-foreground"}
                ) }}
              {% else %}
                {{ _('No environment') }}
              {% endif %}
            </div>
            <div class="flex items-center w-20">
              <button
                type="button"
                class="btn-icon-ghost"
                aria-label="{{ _('Edit') }}"
                data-tooltip="{{ _('Edit') }}"
                @click="activeForm = {{ loop.index }}"
                :disabled="activeForm"
              >
                {% include "icons/pencil.svg" %}
              </button>                
              {% set trigger %}
                {% include "icons/trash-2.svg" %}
              {% endset %}
              {% call dialog(
                trigger=trigger,
                title=_('Remove "%(domain)s"?', domain=domain.hostname),
                trigger_attrs={
                  "class": "btn-icon-ghost text-destructive hover:bg-destructive/10 dark:hover:bg-destructive/20",
                  "aria-label": _('Remove'),
                  "data-tooltip": _('Remove'),
                  ":disabled": "activeForm"
                },
                dialog_attrs={"class": "max-w-md"}
              ) %}
                <div class="space-y-4" x-data="{ confirm: '' }">
                  <p>{{ _('This will remove the <b>"%(hostname)s"</b> domain from the project. This project will no longer be accessible from this domain. This action cannot be undone.', hostname=domain.hostname) | safe }}</p>
                  <p>{{ _('To confirm, enter the domain name <b>"%(hostname)s"</b> below.', hostname=domain.hostname) | safe }}</p>
                  <form
                    method="post"
                    action="{{ url_for('project_settings', team_slug=team.slug, project_name=project.name).include_query_params(fragment='remove_domain') }}"
                    hx-post="{{ url_for('project_settings', team_slug=team.slug, project_name=project.name).include_query_params(fragment='remove_domain') }}"
                    hx-swap="outerHTML"
                    hx-on::before-request="document.activeElement && document.activeElement.blur()"
                    hx-target="closest .card"
                    hx-indicator="next .htmx-indicator"
                    @submit="confirm !== '{{ domain.hostname }}' ? $event.preventDefault() : null"
                  >
                    {{ remove_domain_form.csrf_token(id=False) }}
                    {{ remove_domain_form.domain_id(
                      id=False,
                      value=domain.id
                    ) }}
                    {{ remove_domain_form.confirm(
                      id=False,
                      class_='w-full',
                      placeholder=_('Type the domain name to confirm'),
                      **{
                        "x-model": "confirm",
                        "@keydown.enter": "confirm !== '"~domain.hostname~"' ? $event.preventDefault() : null"
                      }
                    ) }}

                    <footer class="flex justify-end gap-x-2 pt-4">
                      <button
                        class="btn-ghost"
                        onclick="this.closest('dialog').close()"
                      >{{ _('Cancel') }}</button>
                      <button
                        type="submit"
                        class="btn-destructive"
                        :disabled="confirm !== '{{ domain.hostname }}'"
                      >{{ _('Remove') }}</button>
                    </footer>
                  </form>
                </div>
              {% endcall %}
            </div>
          </div>
          {{ render_domain_form(domain=domain, index=loop.index) }}
          {% if domain.status in ["failed", "pending", "disabled"] %}
            <div class="alert mt-2 {% if domain.status == 'failed' or domain.status == 'disabled' %}[&>h2]:text-destructive [&>svg]:text-destructive{% else %}[&>h2]:text-yellow-600 [&>svg]:text-yellow-600 dark:[&>h2]:text-yellow-400 dark:[&>svg]:text-yellow-400{% endif %}">
              {% include "icons/triangle-alert.svg" %}
              {% if domain.status == "failed" %}
                <h2>{{ _("This domain is not configured correctly.") }}</h2>
              {% elif domain.status == "pending" %}
                <h2>{{ _("This domain is not yet verified.") }}</h2>
              {% elif domain.status == "disabled" %}
                <h2>{{ _("This domain is disabled.") }}</h2>
              {% endif %}
              <section>
                {# <p><a href="https://devpush.com/docs/domains" class="badge-outline">
                  {{ _('Learn more about domains') }}
                  {% include "icons/arrow-up-right.svg" %}
                </a></p> #}
                {% if domain.status == "disabled" %}
                  <p>{{ _("This domain has been disabled, most likely because the environment it was associated with was deleted. Please select a new environment.") }}</p>
                {% else %}
                  {% set env_id_hostname = project.slug + '-env-id-' + domain.environment_id + '.' + deploy_domain %}
                  {% if domain.is_apex %}
                    <p>{{ _('Add a <code>ANAME</code> or <code>ALIAS</code> record at your domain provider:') | safe }}</p>
                  {% else %}
                    <p>{{ _('Add a <code>CNAME</code> record at your domain provider:') | safe }}</p>
                  {% endif %}
                  <div class="overflow-y-auto w-full">
                    <table class="table w-full">
                      <thead>
                        <tr>
                          <th class="text-muted-foreground">{{ _("Type") }}</th>
                          <th class="text-muted-foreground">{{ _("Name") }}</th>
                          <th class="text-muted-foreground">{{ _("Value") }}</th>
                          <th class="text-muted-foreground"></th>
                        </tr>
                      </thead>
                      <tbody class="font-mono text-[13px]">
                        <tr>
                          <td>
                            {% if domain.is_apex %}
                              <code>ANAME</code> or <code>ALIAS</code>
                            {% else %}
                              <code>CNAME</code>
                            {% endif %}
                          </td>
                          <td>
                            <code>{{ "@" if domain.is_apex else domain.hostname.split(".")[0] }}</code>
                          </td>
                          <td class="truncate w-full max-w-1">
                            {{ env_id_hostname }}
                          </td>
                          <td>
                              <button
                                class="btn-sm-icon-ghost size-6 font-sans"
                                type="button"
                                :data-tooltip="copied ? '{{ _('Copied') }}' : '{{ _('Copy') }}'"
                                data-side="left"
                                x-data="{ copied: false }"
                                @click="
                                  navigator.clipboard.writeText('{{ env_id_hostname }}');
                                  copied = true;
                                  setTimeout(() => { copied = false }, 2000);
                                "
                              >
                                <span x-show="!copied">{% include "icons/clipboard.svg" %}</span>
                                <span x-show="copied">{% include "icons/check.svg" %}</span>
                              </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  {% if domain.is_apex %}
                    <p>{{ _('If your DNS provider does not support ANAME or ALIAS records, use an A record pointing to <code>%(server_ip)s</code>', server_ip=server_ip) | safe }}</p>
                  {% endif %}
                  <p>{{ _('After changing the records, click "Verify" to check status.') }}</p>
                  <form
                    class="mt-2"
                    method="post"
                    action="{{ url_for('project_settings', team_slug=team.slug, project_name=project.name).include_query_params(fragment='verify_domain') }}"
                    hx-post="{{ url_for('project_settings', team_slug=team.slug, project_name=project.name).include_query_params(fragment='verify_domain') }}"
                    hx-swap="outerHTML"
                    hx-on::before-request="document.activeElement && document.activeElement.blur()"
                    hx-target="closest .card"
                    hx-indicator="find .htmx-indicator"
                    hx-disabled-elt="find button"
                  >
                    {{ verify_domain_form.csrf_token(id=False) }}
                    {{ verify_domain_form.domain_id(
                      id=False,
                      value=domain.id
                    ) }}
                    <button
                      type="submit"
                      class="btn-sm-outline text-foreground"
                      aria-label="{{ _('Refresh') }}"
                      data-tooltip="{{ _('Refresh') }}"
                    >
                      {{ _('Verify') }}
                      <div class="htmx-indicator [&>svg]:size-4 [&>svg]:animate-spin">{% include "icons/loader.svg" %}</div>
                    </button>
                  </form>
                {% endif %}
              </section>
            </div>
          {% endif %}
        </div>
      {% endfor %}

      {{ render_domain_form(index=0) }}

      <button
        class="btn-sm-outline"
        type="button"
        @click="activeForm = 0"
        x-show="activeForm !== 0"
        :disabled="activeForm"
        data-tooltip="{{ _('Add domain') }}"
      >
        {% include "icons/plus.svg" %}
        {{ _('Add domain') }}
      </button>
    </div>
  </section>
</div>

<div class="htmx-indicator flex items-center justify-center inset-0 absolute bg-background/80 rounded-xl">
  <div class="flex items-center gap-x-2 text-muted-foreground [&>svg]:size-4 [&>svg]:animate-spin">
    {% include "icons/loader.svg" %}
    {{ _('Saving') }}
  </div>
</div>