{% macro render_build_and_deploy(form, presets, images) %}
<div class="space-y-6" x-data="{
    presets: {{ presets | tojson | replace('"', "'") | safe }},
    images: {{ images | tojson | replace('"', "'") | safe }},
    selectedImage: '{{ form.image.data or '' }}',
    setImages(presetSlug = null) {
      if (!presetSlug) presetSlug = '{{ form.preset.data or '' }}';
      if (!presetSlug) {
        const firstAvailablePreset = this.presets.find(p => !p.disabled);
        presetSlug = firstAvailablePreset ? firstAvailablePreset.slug : this.presets[0].slug;
      }

      const preset = this.presets.find(p => p.slug === presetSlug);
      if (!preset) {
        console.error('Can not find framework preset.');
        return;
      }
      
      const availableImages = this.images[preset.image];

      if ($refs.imageInput) {
        $refs.imageInput.value = availableImages[0].slug;
        $refs.imageInput.querySelectorAll('option').forEach(option => {
            if (option.value && !availableImages.find(i => i.slug === option.value)) {
                option.disabled = true;
            } else {
                option.disabled = false;
            }
        });
      }

      return preset;
    },
    setPreset(slug = null) {
      const preset = this.setImages(slug)

      if ($refs.rootDirectoryInput) $refs.rootDirectoryInput.value = preset.root_directory || '';
      if ($refs.buildCommandInput) $refs.buildCommandInput.value = preset.build_command || '';
      if ($refs.preDeployCommandInput) $refs.preDeployCommandInput.value = preset.pre_deploy_command || '';
      if ($refs.startCommandInput) $refs.startCommandInput.value = preset.start_command || '';
    },
  }" x-init="{{ 'setImages()' if form.preset.data else 'setPreset()' }}; 
    $nextTick(() => {
      const selectElement = $el.querySelector('[role=listbox]');
      if (selectElement) {
        selectElement.addEventListener('click', (e) => {
          const option = e.target.closest('[role=option]');
          if (option && option.getAttribute('aria-disabled') === 'true') {
            e.stopPropagation();
            e.preventDefault();
          }
        }, true);
      }
    })">
  {# FRAMEWORK PRESET #}
  <div class="space-y-3">
    <label for="preset">{{ _('Framework preset') }}</label>
    {% from "macros/select.html" import select %}
    {% call select(
    name="preset",
    selected=form.preset.data,
    main_attrs={'@change': 'setPreset(event.detail.value)'}
    ) %}
    {% for preset in presets %}
    <div role="option" data-value="{{ preset.slug }}" {% if preset.disabled %}aria-disabled="true"
      class="opacity-50 cursor-not-allowed" {% endif %}>
      <span class="flex items-center gap-x-2">
        {{ preset.logo | safe }}
        {{ preset.name | safe }}
        {% if preset.beta %}
        <span class="badge-outline">Beta</span>
        {% endif %}
        {% if preset.disabled %}
        <span class="badge-outline text-muted-foreground">{{ _('Indisponible') }}</span>
        {% endif %}
      </span>
    </div>
    {% endfor %}
    {% endcall %}
    {% for error in form.preset.errors %}
    <p class="text-sm text-destructive">{{ error }}</p>
    {% endfor %}
  </div>

  {# DOCKER IMAGE #}
  <div class="space-y-3">
    {{ form.image.label() }}
    {{ form.image(
    id=False,
    class="font-mono text-[13px]",
    **{'x-ref': 'imageInput'}
    ) }}
    {% for error in form.image.errors %}
    <p class="text-sm text-destructive">{{ error }}</p>
    {% endfor %}
  </div>

  {# ROOT DIRECTORY #}
  <div class="space-y-3">
    {{ form.root_directory.label() }}
    <div class="relative">
      {{ form.root_directory(
      id=False,
      class="w-full font-mono text-[13px] border-[#e5e5e5]",
      pattern="^\.?/?([a-zA-Z0-9_\-]+/?)*$",
      placeholder="./",
      **{'x-ref': 'rootDirectoryInput'}
      ) }}
    </div>
    {% for error in form.root_directory.errors %}
    <p class="text-sm text-destructive">{{ error }}</p>
    {% endfor %}
    <p class="text-sm text-muted-foreground">
      {{ _('Commands will run from this directory.') }}
    </p>
  </div>

  {# BUILD COMMAND #}
  <div class="space-y-3">
    {{ form.build_command.label() }}
    <div class="relative">
      {{ form.build_command(
      id=False,
      class="w-full font-mono text-[13px] border-[#e5e5e5]",
      **{'x-ref': 'buildCommandInput'}
      ) }}
    </div>
    {% for error in form.build_command.errors %}
    <p class="text-sm text-destructive">{{ error }}</p>
    {% endfor %}
    <p class="text-sm text-muted-foreground">
      {{ _('Install dependencies and build the project.') }}
    </p>
  </div>

  {# PRE-DEPLOY COMMAND #}
  <div class="space-y-3">
    {{ form.pre_deploy_command.label() }}
    <div class="relative">
      {{ form.pre_deploy_command(
      id=False,
      class="w-full font-mono text-[13px] border-[#e5e5e5]",
      **{'x-ref': 'preDeployCommandInput'}
      ) }}
    </div>
    {% for error in form.pre_deploy_command.errors %}
    <p class="text-sm text-destructive">{{ error }}</p>
    {% endfor %}
    <p class="text-sm text-muted-foreground">
      {{ _('Run commands before we start the app (e.g. migrate database).') }}
    </p>
  </div>

  {# START COMMAND #}
  <div class="space-y-3">
    {{ form.start_command.label() }}
    <div class="relative">
      {{ form.start_command(
      id=False,
      class="w-full font-mono text-[13px] border-[#e5e5e5]",
      **{'x-ref': 'startCommandInput'}
      ) }}
    </div>
    {% for error in form.start_command.errors %}
    <p class="text-sm text-destructive">{{ error }}</p>
    {% endfor %}
    <p class="text-sm text-muted-foreground">
      {{ _('Start the app (must listen on <code>0.0.0.0:8000</code>).') | safe }}
    </p>
  </div>
</div>
{% endmacro %}