{% macro render_build_and_deploy(form, frameworks) %}
<div class="space-y-6" x-data="{
    frameworks: {{ frameworks | tojson | replace('"', "'") | safe }},
    setPreset(value) {
      const preset = this.frameworks.find(f => f.slug === value);      
      if (!preset) {
        console.error('Can not find framework preset.');
        return;
      }
      
      if ($refs.rootDirectoryInput) $refs.rootDirectoryInput.value = preset.root_directory || '';
      if ($refs.buildCommandInput) $refs.buildCommandInput.value = preset.build_command || '';
      if ($refs.preDeployCommandInput) $refs.preDeployCommandInput.value = preset.pre_deploy_command || '';
      if ($refs.startCommandInput) $refs.startCommandInput.value = preset.start_command || '';
    }
  }"
>
  {# FRAMEWORK PRESET #}
  <div class="space-y-3">
    <label for="framework">{{ _('Framework presets') }}</label>
    {% from "macros/select.html" import select %}
    {% call select(
      name="framework",
      selected=form.framework.data,
      main_attrs={'@change': 'setPreset(event.detail.value)'}
    ) %}
      {% for framework in frameworks %}
        <div role="option" data-value="{{ framework.slug }}">
          <span class="flex items-center gap-x-2">
            {{ framework.logo | safe }}
            {{ framework.name | safe }}
          </span>
        </div>
      {% endfor %}
    {% endcall %}
    {% for error in form.framework.errors %}
      <p class="text-sm text-destructive">{{ error }}</p>
    {% endfor %}
  </div>

  {# RUNTIME #}
  <div class="space-y-3">
    {{ form.runtime.label() }}
    {{ form.runtime(class="font-mono text-[13px]") }}
    {% for error in form.runtime.errors %}
      <p class="text-sm text-destructive">{{ error }}</p>
    {% endfor %}
  </div>

  {# ROOT DIRECTORY #}
  <div class="space-y-3">
    {{ form.root_directory.label() }}
    <div class="relative">
      {{ form.root_directory(
        class="w-full font-mono text-[13px]",
        pattern="^\.?/?([a-zA-Z0-9_\-]+/?)*$",
        placeholder="./",
        **{'x-ref': 'rootDirectoryInput'}
      ) }}
    </div>
    {% for error in form.root_directory.errors %}
      <p class="text-sm text-destructive">{{ error }}</p>
    {% endfor %}
    <p class="text-sm text-muted-foreground">
      {{ _('Commands will run from this directory.') }}
    </p>
  </div>

  {# BUILD COMMAND #}
  <div class="space-y-3">
    {{ form.build_command.label() }}
    <div class="relative">
      {{ form.build_command(
        class="w-full font-mono text-[13px]",
        **{'x-ref': 'buildCommandInput'}
      ) }}
    </div>
    {% for error in form.build_command.errors %}
      <p class="text-sm text-destructive">{{ error }}</p>
    {% endfor %}
    <p class="text-sm text-muted-foreground">
      {{ _('Install dependencies and build the project.') }}
    </p>
  </div>

  {# PRE-DEPLOY COMMAND #}
  <div class="space-y-3">
    {{ form.pre_deploy_command.label() }}
    <div class="relative">
      {{ form.pre_deploy_command(
        class="w-full font-mono text-[13px]",
        **{'x-ref': 'preDeployCommandInput'}
      ) }}
    </div>
    {% for error in form.pre_deploy_command.errors %}
      <p class="text-sm text-destructive">{{ error }}</p>
    {% endfor %}
    <p class="text-sm text-muted-foreground">
      {{ _('Run commands before we start the app (e.g. migrate database).') }}
    </p>
  </div>

  {# START COMMAND #}
  <div class="space-y-3">
    {{ form.start_command.label() }}
    <div class="relative">
      {{ form.start_command(
        class="w-full font-mono text-[13px]",
        **{'x-ref': 'startCommandInput'}
      ) }}
    </div>
    {% for error in form.start_command.errors %}
      <p class="text-sm text-destructive">{{ error }}</p>
    {% endfor %}
    <p class="text-sm text-muted-foreground">
      {{ _('Start the app (must listen on <code>0.0.0.0:8000</code>).') | safe }}
    </p>
  </div>
</div>
{% endmacro %}