{% macro environment_label(environment, attrs={}, label_attrs={}) -%}
{% from "deployment/macros/color.html" import color %}
<span
  class="flex items-center gap-x-2 min-w-0 {{ attrs.get('class', '') }}"
  {% for key, value in attrs.items() %}
    {% if key != 'class' %}{{ key }}="{{ value }}"{% endif %}
  {% endfor %}
>
  {{ color(environment.color) }}
  <span
    class="truncate {{ label_attrs.get('class', '') }}"
    {% for key, value in attrs.items() %}
      {% if key != 'class' %}{{ key }}="{{ value }}"{% endif %}
    {% endfor %}  
  >{{ environment.name }}</span>
</span>
{%- endmacro %}