{% macro list(
  deployments=[],
  project=None,
  pagination=None,
  page=None,
  display_project=False,
  display_empty=True,
  env_aliases=None,
  main_attrs={}
) %}

{% if deployments %}
  {% from "shared/deployment/components/status.html" import status %}
  {% from "shared/deployment/components/options.html" import options %}
  {% from "projects/components/thumbnail.html" import thumbnail %}
  {% from "components/dropdown-menu.html" import dropdown_menu %}
  {% from "projects/components/environment-label.html" import environment_label %}
  <ul
    {% for key, value in main_attrs.items() %}
    {{ key }}="{{ value }}"
    {% endfor %}
  >
    {% for deployment in deployments %}
      <li
        class="flex gap-x-6 items-center border border-b-0 last:border-b first:rounded-t-xl last:rounded-b-xl px-4 h-12 text-sm hover:bg-muted/50 transition-colors"
      >
        {{ status(
          conclusion=deployment.conclusion,
          compact=True,
          tooltip=True,
          attrs={ 'data-deployment-status': deployment.id }
        ) }}
        
        <a
          href="{{ url_for('team.deployment', project_name=deployment.project.name, deployment_id=deployment.id) }}"
          data-tooltip="{{ _('Deployment ID') }}"
        >
          <span class="font-medium font-mono">{{ deployment.id[:7] }}</span>
        </a>
      
        {% if display_project %}
          <a
            href="{{ url_for('team.project', project_name=deployment.project.name) }}"
            class="flex items-center gap-x-2 text-muted-foreground hover:text-foreground transition-colors"
            data-tooltip="{{ _('Project') }}"
          >
            {{ thumbnail(deployment.project, size='xs') }}
            {{ deployment.project.name }}
          </a>
        {% endif %}
        
        <a
          href="{{ url_for('team.project_deployments', project_name=deployment.project.name, environment=deployment.environment.slug) }}"
          class="flex items-center gap-x-2 hover:text-foreground transition-colors text-muted-foreground"
          data-tooltip="{{ _('Environment') }}"
        >
          {{ environment_label(deployment.environment) }}
        </a>

        <div class="flex items-center gap-x-2 text-muted-foreground whitespace-nowrap">
          {{ deployment.created_at | timeago }}
        </div>
      
        <a
          href="https://github.com/{{ deployment.repo.full_name }}/tree/{{ deployment.branch }}"
          target="_blank"
          class="flex items-center gap-x-2 hover:text-foreground transition-colors text-muted-foreground [&>svg]:opacity-50 [&>svg]:dark:opacity-60 [&>svg]:size-4"
          data-tooltip="{{ _('Branch') }}"
        >
          {% include "shared/icons/git-branch.svg" %}
          {{ deployment.branch }}
        </a>

        <a
          class="flex items-center gap-x-2 hover:text-foreground transition-colors text-muted-foreground min-w-0 [&>svg]:opacity-50 [&>svg]:dark:opacity-60 [&>svg]:size-4"
          href="https://github.com/{{ deployment.repo.full_name }}/commit/{{ deployment.commit_sha }}"
          target="_blank"
          data-tooltip="{{ _('Commit (%(sha)s)', sha=deployment.commit_sha[:7]) }}"
        >
          {% include "shared/icons/git-commit-horizontal.svg" %}
          <span class="truncate">{{ deployment.commit_meta.message }}</span>
        </a>
      
        <div class="flex items-center ml-auto">
          {% if deployment.conclusion == 'succeeded' %}
            <a href="{{ deployment.featured_url }}" class="btn-sm-icon-ghost" target="_blank" data-tooltip="{{ _('Visit') }}">
              {% include "shared/icons/link-2.svg" %}
            </a>
          {% else %}
            <button class="btn-sm-icon-ghost" type="button" disabled>
              {% include "shared/icons/link-2.svg" %}
            </button>
          {% endif %}
      
          {% if env_aliases %}
            {% set trigger %}
              {% include "shared/icons/ellipsis.svg" %}
            {% endset %}
            {% call dropdown_menu(
              trigger=trigger,
              trigger_attrs={"class": "btn-sm-icon-ghost"},
              popover_attrs={"data-align": "end"}
            ) %}
              {{ options(deployment, env_aliases) }}
            {% endcall %}
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>

  {% set route_params = request.view_args.copy() %}
  {% if pagination and pagination.pages > 1 %}
    <nav
      class="flex items-center justify-end gap-x-2 mt-4"
      aria-label="Pagination"
    >
      {% if pagination.page == 1 %}
        <button
          class="btn-sm-icon-outline"
          type="button"
          aria-label="{{ _('Newest deployments') }}"
          disabled
        >
          {% include "shared/icons/chevrons-left.svg" %}
        </button>
      {% else %}
        <a
          href="{{ url_for(request.endpoint, page=1, **route_params) }}"
          class="btn-sm-icon-outline"
          aria-label="{{ _('Newest deployments') }}"
        >
          {% include "shared/icons/chevrons-left.svg" %}
        </a>
      {% endif %}

      {% if pagination.has_prev %}
        <a href="{{ url_for(request.endpoint, page=pagination.prev_num, **route_params) }}" 
          class="btn-sm-icon-outline"
          aria-label="{{ _('Newer deployments') }}"
        >
          {% include "shared/icons/chevron-left.svg" %}
        </a>
      {% else %}
        <button
          class="btn-sm-icon-outline"
          type="button"
          aria-label="{{ _('Newer deployments') }}"
          disabled
        >
          {% include "shared/icons/chevron-left.svg" %}
        </button>
      {% endif %}

      {% if pagination.has_next %}
        <a
          href="{{ url_for(request.endpoint, page=pagination.next_num, **route_params) }}"
          class="btn-sm-icon-outline"
          aria-label="{{ _('Older deployments') }}"
          disabled
        >
          {% include "shared/icons/chevron-right.svg" %}
        </a>
      {% else %}
        <button
          class="btn-sm-icon-outline"
          type="button"
          aria-label="{{ _('Older deployments') }}"
          disabled
        >
          {% include "shared/icons/chevron-right.svg" %}
        </button>
      {% endif %}

      <!-- If we're on the last page we don't display the next button -->
      {% if pagination.page == pagination.pages %}
        <button
          class="btn-sm-icon-outline"
          type="button"
          aria-label="{{ _('Oldest deployments') }}"
          disabled
        >
          {% include "shared/icons/chevrons-right.svg" %}
        </button>
      {% else %}
        <a
          href="{{ url_for(request.endpoint, page=pagination.pages, **route_params) }}"
          class="btn-sm-icon-outline"
          aria-label="{{ _('Oldest deployments') }}"
        >
          {% include "shared/icons/chevrons-right.svg" %}
        </a>
      {% endif %}
    </nav>
  {% endif %}
{% elif display_empty and project %}
  <section class="flex items-center justify-center min-h-60 bg-card text-card-foreground border shadow-sm rounded-xl p-4">
    <div class="max-w-sm">
      <div class="text-center">
        <h2 class="h4">{{ _('No deployments') }}</h2>
        <p class="text-muted-foreground mt-1">{{ _('This project has no deployments yet. Push code to your repository or trigger a deployment below.') }}</p>
        {% from "components/dialog.html" import dialog %}
        <button
          type="button"
          class="btn-sm mt-4"
          onclick="
            const dialog = document.getElementById('dialog-deploy');
            dialog.dispatchEvent(new Event('dialog:opened'));
            dialog.showModal();
          "
        >
          {% include "shared/icons/cloud-upload.svg" %}
          {{ _('Deploy') }}
        </button>
      </div>
      {% include "projects/partials/_deploy-dialog.html" %}
    </div>
  </section>
{% endif %}
{% endmacro %}