{% extends "layouts/app.html" %}

{% block app_content %}
<div class="container max-w-screen-lg mx-auto p-8 space-y-6">
  <header class="flex items-center gap-x-4 justify-between">
    <h1 class="h1 flex items-center gap-x-3">
      <a href="{{ url_for('main.project', project_name=project.name) }}">
        {% from "projects/components/thumbnail.html" import thumbnail %}
        {{ thumbnail(project, size='md') }}
      </a>
      <span class="text-muted-foreground/25 font-normal">/</span>
      <a href="{{ url_for('main.project_deployments', project_name=project.name) }}">
        {{ _('Deployments') }}
      </a>
      <span class="text-muted-foreground/25 font-normal">/</span>
      <span class="font-mono">{{ deployment.id[:7] }}</span>
    </h1>

    <div class="flex items-center gap-x-2 ml-auto">
      {% set trigger %}
        {% include "icons/ellipsis.svg" %}
      {% endset %}
      {% from "components/dropdown.html" import dropdown %}
      {% call dropdown(
        trigger=trigger,
        trigger_attrs={"class": "btn-ghost w-10 p-0"}
      ) %}
        {% include "deployments/partials/_options.html" %}
      {% endcall %}

      {% if deployment.conclusion %}
        <a
          href="{{ deployment.featured_url }}"
          class="btn-outline gap-x-2"
          target="_blank"
        >
          {% include "icons/link.svg" %}
          {{ _('Visit') }}
        </a>
      {% endif %}
    </div>
  </header>

  <div class="space-y-4">
    {% include 'deployments/partials/_deployment_status.html' %}

    <ul class="flex gap-x-6 items-start" id="deployment-details">
      <li class="flex items-center gap-x-2 text-muted-foreground" data-tooltip="{{ _('Environment') }}">
        <span class="w-4 h-4 flex items-center justify-center"><span class="inline-block rounded h-2.5 w-2.5 bg-{{ deployment.environment.color }}-400 dark:bg-{{ deployment.environment.color }}-600 shrink-0"></span></span>
        {{ deployment.environment.name }}
      </li>
      <li class="flex items-center gap-x-2 text-muted-foreground" data-tooltip="{{ _('Trigger') }}">
        <span class="opacity-50 dark:opacity-60">
          {% include "icons/zap.svg" %}
        </span>
        Commit by <a href="https://github.com/{{ deployment.commit.author }}" class="hover:text-foreground transition-colors" target="_blank">@{{ deployment.commit.author }}</a>
      </li>
      <li>
        <a
          class="flex items-center gap-x-2 text-muted-foreground hover:text-foreground transition-colors"
          href="https://github.com/{{ deployment.repo.full_name }}/tree/{{ deployment.commit.branch }}"
          target="_blank"
          data-tooltip="{{ _('Branch') }}"
        >
          <span class="opacity-50 dark:opacity-60">
            {% include "icons/git-branch.svg" %}
          </span>
          {{ deployment.commit.branch }}
        </a>
      </li>
      <li>
        <a
          class="flex items-center gap-x-2 text-muted-foreground hover:text-foreground transition-colors"
          href="https://github.com/{{ deployment.repo.full_name }}/commit/{{ deployment.commit.sha }}"
          target="_blank"
          data-tooltip="{{ _('Commit (%(sha)s)', sha=deployment.commit.sha[:7]) }}"
        >
          <span class="opacity-50 dark:opacity-60">
            {% include "icons/git-commit.svg" %}
          </span>
          {{ deployment.commit.message }}
        </a>
      </li>
    </ul>
  </div>

  <details open>
    <summary>{{ _('Build logs') }}</summary>
    <div
      class="overflow-y-auto h-[500px] relative"
      x-init="$el.scrollTop = $el.scrollHeight"
      {% if not deployment.conclusion %}
        hx-get=""
        hx-trigger="every 1s"
        hx-swap="innerHTML"
        hx-on::after-swap="this.scrollTop = this.scrollHeight"
      {% endif%}
      id="logs"
    >
      {% if not deployment.conclusion %}
        <div class="absolute inset-0 flex items-center justify-center text-muted-foreground">
          <div class="flex items-center gap-x-2">
            {% include "icons/loader.svg" %}
            {{ _('Waiting for logs') }}
          </div>
        </div>
      {% endif %}
      {% include 'deployments/partials/_logs.html' %}
    </div>
  </details>
</div>

{% endblock %}