{% extends "layouts/base.html" %}

{% block base_content %}
<div class="h-screen w-screen flex items-center justify-center">
  <div class="max-w-xs text-center">
    {% if not current_user %}
      <h1 class="h4">{{ _('Deployment not found') }}</h1>
      <p class="text-muted-foreground mt-1">{{ _('The deployment you are looking for is not online anymore or does not exist.') }}</p>
      <a class="btn-sm mt-4" href="https://devpu.sh">{{ _('More about /dev/push') }}</a>
    {% elif deployment_url %}
      <h1 class="h4">{{ _('Deployment not active') }}</h1>
      <p class="text-muted-foreground mt-1">{{ _('The deployment you are looking for does not have an active URL anymore. You can redeploy it.') }}</p>
      <a class="btn-sm mt-4" href="{{ deployment_url }}">{{ _('Go to deployment %(deployment_id)s', deployment_id=deployment_id[:7]) }}</a>
    {% else %}
      <h1 class="h4">{{ _('Deployment not found') }}</h1>
      <p class="text-muted-foreground mt-1">{{ _('The deployment you are looking for does not exist.') }}</p>
      <a class="btn-sm mt-4" href="/">{{ _('Go to main page') }}</a>
    {% endif %}
  </div>
</div>
{% endblock %}