{% macro render_environments(form, colors) %}
{% from "components/dropdown.html" import dropdown %}
{% from "components/dialog.html" import dialog %}
<div class="space-y-2">
  <div class="flex gap-x-2 border-b border-border/50 pb-2">
    <div class="shrink-0 w-10"></div>
    <div class="w-full text-xs font-medium text-muted-foreground">{{ _('Name') }}</div>
    <div class="w-full text-xs font-medium text-muted-foreground">{{ _('Identifier') }}</div>
    <div class="w-full text-xs font-medium text-muted-foreground">{{ _('Branch pattern') }}</div>
    <div class="shrink-0 w-20"></div>
  </div>

  {% for environment in environments %}
  <div class="flex gap-x-2">
    <span class="inline-block rounded h-4 w-4 shrink-0 bg-{{ environment.color }}-400 dark:bg-{{ environment.color }}-600`"></span>
    <div class="flex-1 font-medium">
      {{ environment.name }}
    </div>
    <div class="flex-1 text-muted-foreground">
      {{ environment.slug }}
    </div>
    <div class="flex-1">
      {{ environment.branch }}
    </div>
    <div class="flex items-center gap-x-2">
      <button
        class="btn-ghost w-10 p-0 text-danger"
        type="button"
        aria-label="{{ _('Remove') }}"
        data-tooltip="{{ _('Remove') }}"
      >
        {% include "icons/trash.svg" %}
      </button>
  </div>
</div>
{% endmacro %}