<nav aria-label="Secondary navigation">
  <ul role="tablist">
    <li role="presentation">
      <a href="{{ url_for('main.project', project_name=project.name) }}" role="tab" aria-selected="true">
        {{ _('Overview') }}
      </a>
    </li>
    <li role="presentation">
      <a href="{{ url_for('main.project', project_name=project.name) }}" role="tab">
        {{ _('Deployments') }}
      </a>
    </li>
    <li role="presentation">
      <a href="{{ url_for('main.project_settings', project_name=project.name) }}" role="tab">Settings</a>
    </li>
  </ul>
</nav>