<ul
  class="flex gap-x-6 items-start"
  {% if oob %}hx-swap-oob="true"{% endif %}
  id="build-info"
>
  <li class="flex items-center gap-x-2" data-tooltip="{{ _('Status') }}">
    {% from "deployments/components/status.html" import status %}
    {{ status(conclusion=deployment.conclusion) }}
  </li>
  <li class="flex items-center gap-x-2 text-muted-foreground" data-tooltip="{{ _('Duration') }}">
    <span class="opacity-50 dark:opacity-60">
      {% include "icons/timer.svg" %}
    </span>
    {% from "deployments/components/duration.html" import duration %}
    {{ duration(started_at=deployment.created_at, concluded_at=deployment.concluded_at) }}
  </li>
  {% if deployment.conclusion == 'succeeded' %}
    <li class="flex items-center gap-x-2">
      <a
        href="{{ deployment.url }}"
        class="flex items-center gap-x-2 text-muted-foreground hover:text-foreground transition-colors"
        data-tooltip="{{ _('Link') }}"
        target="_blank"
      >
        <span class="opacity-50 dark:opacity-60">
          {% include "icons/link.svg" %}
        </span>
        {{ deployment.hostname }}
      </a>
      {% if deployment.aliases %}
        {% from "components/dropdown-menu.html" import dropdown_menu %}
        {% set trigger %}+{{ deployment.aliases|length }}{% endset %}
        {% call dropdown_menu(
          trigger=trigger,
          trigger_attrs={"class": "btn-outline text-muted-foreground text-xs h-4 pl-1 pr-1.5 rounded-full"},
          content_attrs={"data-align": "end"}
        ) %}
          {% for alias in deployment.aliases %}
            <a
              role="menuitem"
              href="{{ alias.url }}"
              target="_blank"
            >
              {{ alias.hostname }}
              {% include "icons/external-link.svg" %}
            </a>
          {% endfor %}
        {% endcall %}
      {% endif %}
    </li>
  {% endif %}
</ul>