<a href="#" role="menuitem" class="flex items-center gap-x-2">
  <span class="text-muted-foreground">
    {% include "icons/undo.svg" %}
  </span>
  {{ _('Rollback') }}
</a>
<a href="#" role="menuitem" class="flex items-center gap-x-2">
  <span class="text-muted-foreground">
    {% include "icons/chevrons-up.svg" %}
  </span>
  {{ _('Promote') }}
</a>
<a href="#" role="menuitem" class="flex items-center gap-x-2">
  <span class="text-muted-foreground">
    {% include "icons/redo.svg" %}
  </span>
  {{ _('Redeploy') }}
</a>
<hr role="separator"/>
<a href="#" role="menuitem" class="flex items-center gap-x-2 text-danger">
  {{ _('Delete') }}
</a>