.htmx-indicator {
  transition-behavior: allow-discrete;
  @apply invisible opacity-0 transition-all;
}

.htmx-indicator:not(.htmx-request) {
  @apply hidden;
}

.htmx-request,
.htmx-request.htmx-indicator {
  @apply visible opacity-100;
}

/* @keyframes progress-bar {
  0% {
    width: 0%
  }

  10% {
    width: 40%
  }

  30% {
    width: 60%
  }

  60% {
    width: 70%
  }

  90% {
    width: 75%
  }

  100% {
    width: 78%
  }
}

body {
  &:after {
    @apply content-[''] fixed top-0 left-0 h-1 bg-blue-600 dark:bg-blue-500 z-[999] opacity-0 w-0 transition-[opacity|width] pointer-events-none;
  }

  &.hx-boost-loading:after {
    @apply opacity-100 animate-[progress-bar_4s_linear_forwards];
  }

  &:not(.hx-boost-loading):after {
    @apply w-full opacity-0 transition-[width|opacity] duration-300 ease-in-out;
  }
} */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @apply font-medium leading-tight;
}

.h1 {
  @apply text-2xl;
}

.h2 {
  @apply text-xl;
}

.h3 {
  @apply text-lg;
}

.h4,
.h5,
.h6 {
  @apply text-base;
}

.toast {
  &[data-category="success"] .toast-content svg {
    @apply text-green-600 dark:text-green-400;
  }

  &[data-category="error"] .toast-content svg {
    @apply text-destructive;
  }

  &[data-category="warning"] .toast-content svg {
    @apply text-orange-600 dark:text-orange-400;
  }
}

dialog>article>button {
  @apply absolute top-4 right-4;
  @apply ring-offset-background focus:ring-ring data-[state=open]:bg-accent data-[state=open]:text-muted-foreground rounded-xs opacity-70 transition-opacity hover:opacity-100 focus:ring-2 focus:ring-offset-2 focus:outline-hidden disabled:pointer-events-none [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4;
}

/* dialog>article {
  @apply flex flex-col;

  section {
    @apply flex-1 overflow-y-auto;
  }
} */