{#
  Renders a dropdown menu component.

  @param id {string} [optional] - Unique identifier for the dropdown component.
  @param trigger {string} [optional] - HTML content for the button that triggers the dropdown.
  @param menu {array} [optional] - Array of menu items for the dropdown.
  @param main_attrs {object} [optional] - Additional HTML attributes for the main container div.
  @param trigger_attrs {object} [optional] - Additional HTML attributes for the trigger button.
  @param content_attrs {object} [optional] - Additional HTML attributes for the dropdown content div.
#}
{% macro dropdown_menu(
  id=None,
  trigger=None,
  menu=None,
  main_attrs={},
  trigger_attrs={},
  content_attrs={}
) %}
<div
  class="popover {{ main_attrs.class }}"
  x-data="dropdownMenu"
  @click.away="open = false"
  {% if id %}id="{{ id }}"{% endif %}
  {% for key, value in main_attrs.items() %}
    {% if key != "class" %}{{ key }}="{{ value }}"{% endif %}
  {% endfor %}
>
  {% if trigger %}
  <button
    type="button"
    aria-haspopup="menu"
    aria-expanded="false"
    x-bind="$trigger"
    {% if id %}
    id="{{ id }}-trigger"
    aria-controls="{{ id }}-menu"
    {% endif %}
    {% for key, value in trigger_attrs.items() %}
      {{ key }}="{{ value }}"
    {% endfor %}
  >
    {{ trigger | safe }}
  </button>
  {% endif %}
  <div
    data-popover
    aria-hidden="true"
    x-bind="$content"
    {% if id %}id="{{ id }}-menu"{% endif %}
    {% for key, value in content_attrs.items() %}
      {{ key }}="{{ value }}"
    {% endfor %}
  >
    <nav role="menu">
      {% if menu %}
        {{ render_dropdown_items(menu, id ~ "-items" if id else "items") }}
      {% else %}
        {{ caller() if caller }}
      {% endif %}
    </nav>
  </div>
</div>
{% endmacro %}

{#
  Renders dropdown menu items recursively.

  @param items {array} - The array of items to render.
  @param parent_id_prefix {string} [optional] - Prefix for generating element IDs.
#}
{% macro render_dropdown_items(items, parent_id_prefix="items") %}
  {% for item in items.items() %}
    {% set item_id = parent_id_prefix ~ "-" ~ loop.index %}

    {% if item.type == "group" %}
      {% set group_label_id = item.id if item.id else "group-label-" + item_id %}
      <div
        role="group"
        aria-labelledby="{{ group_label_id }}"
        {% for key, value in item.attrs.items() %}
          {{ key }}="{{ value }}"
        {% endfor %}
      >
        <div role="heading" id="{{ group_label_id }}">{{ item.label }}</div>
        {{ render_dropdown_items(item.items, item_id) if item.items }}
      </div>
    {% elif item.type == "separator" %}
      <hr role="separator" />
    {% elif item.type == "item" or not item.type %}
      {% if item.url %}
        <a
          role="menuitem"
          href="{{ item.url }}"
          {% for key, value in item.attrs.items() %}
            {% if key != "url" %} {{ key }}="{{ value }}" {% endif %}
          {% endfor %}
        >
          {{ item.label | safe }}
        </a>
      {% else %}
        <button
          role="menuitem"
          type="button"
          {% for key, value in item.attrs.items() %}
             {{ key }}="{{ value }}"
          {% endfor %}
        >
          {{ item.label | safe }}
        </button>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endmacro %}