{% extends "layouts/app.html" %}

{% block app_content %}
<div class="container max-w-screen-xl mx-auto p-8 space-y-6">
  <h1 class="h1 flex items-center gap-x-3">
    <a href="{{ url_for('team.index') }}">
      <img src="{{ current_user.avatar }}" class="w-10 h-10 rounded-lg" />
    </a>
    <span class="text-muted-foreground/25 font-normal">/</span>
    {{ _('Settings') }}
  </h1>

  <div class="flex flex-row-reverse gap-x-6">
    <nav class="sticky top-[122px] min-w-64 h-full flex flex-col gap-y-1">
      <a href="#general" class="btn-sm-ghost justify-start">{{ _('General') }}</a>
      <a href="#teams" class="btn-sm-ghost justify-start">{{ _('Teams') }}</a>
      <a href="#others" class="btn-sm-ghost justify-start">{{ _('Others') }}</a>
      <a href="#danger" class="btn-sm-ghost justify-start text-destructive hover:bg-destructive/10 dark:hover:bg-destructive/20">{{ _('Danger') }}</a>
    </nav>
    
    <div class="space-y-6 w-full">
      {# GENERAL #}
      <section class="relative rounded-xl scroll-mt-[101px]" id="general">
        {% include "partials/settings/_general.html" %}
      </section>

      {# ENVIRONMENT VARIABLES #}
      {# <section class="relative rounded-xl scroll-mt-[101px]" id="environment-variables">
        {% include "projects/partials/settings/_env_vars.html" %}
      </section> #}

      {# DANGER ZONE #}
      <section class="relative rounded-xl scroll-mt-[101px]" id="danger">
        {% include "partials/settings/_danger.html" %}
      </section>
    </div>
  </div>
</div>
{% endblock %}