<section>
  {% for i in range(5) %}
  <label class="flex gap-x-6 items-center border border-b-0 last:border-b first:rounded-t-lg last:rounded-b-lg px-4 h-12 text-sm hover:bg-muted transition-colors">
    <input type="radio" class="input" disabled>
    <span class="bg-accent animate-pulse h-4 flex-1 rounded max-w-3/5"></span>
    <button type="button" class="btn-sm-icon-ghost ml-auto" disabled>
      {% include "shared/icons/arrow-up-right.svg" %}
    </button>
  </label>
  {% endfor %}
</section>
<footer class="flex justify-end gap-x-2">
  <button type="button" class="btn-ghost" onclick="document.getElementById('dialog-deploy').close()">{{ _('Cancel') }}</button>
  <button type="button" class="btn" disabled>{{ _('Deploy') }}</button>
</footer>