{% extends "layouts/app.html" %}

{% block app_content %}
<div class="container max-w-screen-xl mx-auto p-8 space-y-6">
  <h1 class="h1 flex items-center gap-x-3">
    <a href="{{ url_for('team_index', team_slug=team.slug) }}">
      {% from "macros/avatar.html" import avatar with context %}
      {{ avatar(item=team, prefix="team", name=team.name, size="md") }}
    </a>
    <span class="text-muted-foreground/25 font-normal">/</span>
    {{ _("Team settings") }}
  </h1>

  <button onclick="document.body.classList.toggle('hx-boost-loading')" type="button" class="btn sticky top-[50px] left-[50px] z-99">
  Remove loading
</button>

  <div class="flex flex-row-reverse gap-x-6">
    <nav class="sticky top-[122px] min-w-64 h-full flex flex-col gap-y-1 max-lg:hidden">
      <a href="#general" class="btn-sm-ghost justify-start">{{ _("General") }}</a>
      <a href="#members" class="btn-sm-ghost justify-start">{{ _("Members") }}</a>
      <a href="#danger" class="btn-sm-ghost justify-start text-destructive hover:bg-destructive/10 dark:hover:bg-destructive/20">{{ _("Danger") }}</a>
    </nav>

    <div class="space-y-6 w-full">
      <section class="relative rounded-xl scroll-mt-[101px]" id="general">
        {% include "team/partials/_settings-general.html" %}
      </section>

      <section class="relative rounded-xl scroll-mt-[101px]" id="members">
        {% include "team/partials/_settings-members.html" %}
      </section>

      <section class="relative rounded-xl scroll-mt-[101px]" id="danger">
        {% include "team/partials/_settings-danger.html" %}
      </section>
    </div>
  </div>
</div>
{% endblock %}