{% extends "layouts/app.html" %}

{% block app_content %}
<div class="container max-w-screen-xl mx-auto p-8 space-y-6">
  <header class="flex justify-between items-center">
    <h1 class="h1 flex items-center gap-x-3">
      <a href="{{ url_for('main.project', project_name=project.name) }}">
        {% from "projects/components/thumbnail.html" import thumbnail %}
        {{ thumbnail(project, size='md') }}
      </a>
      <span class="text-muted-foreground/25 font-normal">/</span>
      {{ _('Deployments') }}
    </h1>

    {% from "components/dialog.html" import dialog %}
    {% set trigger %}
      {% include "icons/cloud-upload.svg" %}
      {{ _('Deploy') }}
    {% endset %}
    {% call dialog(
      trigger=trigger,
      title="Deploy",
      id="dialog-deploy",
      trigger_attrs={"class": "btn gap-x-2"},
      content_attrs={"class": "w-full max-w-xl"}
    ) %}
      <div
        hx-get="{{ url_for('main.project_deploy', project_name=project.name) }}"
        hx-trigger="dialog:opened from:#dialog-deploy"
        hx-swap="outerHTML"
        class="flex items-center justify-center"
      >
        <span class="text-muted-foreground flex items-center gap-x-2 [&>svg]:size-4">
          {% include "icons/loader.svg" %}
          {{ _('Loading') }}
        </span>
      </div>
    {% endcall %}
  </header>

  <section class="space-y-4">
    <form
      class="flex justify-start items-center gap-x-4"
      hx-get="{{ url_for('main.project_deployments', project_name=project.name) }}"
      hx-target="#deployments"
      hx-indicator="next .htmx-indicator"
      hx-trigger="change delay:10ms, reset delay:10ms"
      hx-push-url="true"
      hx-swap="outerHTML"
      x-data="{
        isDirty: false,
        updateDirty() {
          const params = new URLSearchParams(window.location.search);
          for (const value of params.values()) {
            if (value.trim() !== '') {
              this.isDirty = true;
              return;
            }
          }
          this.isDirty = false;
        }
      }"
      x-init="
        updateDirty();
        document.body.addEventListener('htmx:pushedIntoHistory', () => {
          updateDirty();
          console.log('pushedIntoHistory');
        });
      "
    >
      {% from "components/select.html" import select %}
      
      {# Environments #}
      {% from "deployments/components/color.html" import color %}
      {% call select(
        name='environment',
        selected=request.args.get('environment'),
        trigger_attrs={":class": "selectedValue ? 'bg-muted' : ''"}
      ) %}
        <div role="option" data-value="">
          {{ _('All environments') }}
        </div>
        {% for environment in project.active_environments %}
        <div role="option" data-value="{{ environment['slug'] }}">
          <span class="flex items-center gap-x-2">
            {{ color(environment['color']) }}
            {{ environment['name'] }}
          </span>
        </div>
      {% endfor %}
      {% endcall %}

      {% from "deployments/components/status.html" import status %}
      {% call select(
        name="status",
        selected=request.args.get("status"),
        trigger_attrs={":class": "selectedValue ? 'bg-muted' : ''"}
      ) %}
        <div role="option" data-value="">
          {{ _('All statuses') }}
        </div>
        {% for conclusion in ['succeeded', 'failed', 'skipped', 'canceled', 'in_progress'] %}
          <div role="option" data-value="{{ conclusion }}">
            {{ status(conclusion=conclusion if conclusion != 'in_progress' else None) | safe }}
          </div>
        {% endfor %}
      {% endcall %}
      
      {% from "components/popover.html" import popover %}
      {% set date_range_trigger %}
        <span class="truncate">
          <span x-show="dateFrom">
            {{ _('From') }} <span x-text="dateFrom ? new Date(dateFrom).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) : ''"></span>
          </span>
          <span x-show="dateTo">
            <span x-text="dateFrom ? '{{ _('to') }}' : '{{ _('Until') }}'"></span> <span x-text="dateTo ? new Date(dateTo).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) : ''"></span>
          </span>
          <span x-show="!dateFrom && !dateTo">
            {{ _('All dates') }}
          </span>
        </span>
        <span class="text-muted-foreground opacity-50 ml-auto">
          {% include "icons/chevron-down.svg" %}
        </span>
      {% endset %}
      <div
        x-data="{ dateFrom: '{{ request.args.get('date-from') or '' }}', dateTo: '{{ request.args.get('date-to') or '' }}' }"
      >
        {% call popover(
          trigger=date_range_trigger,
          trigger_attrs={
            'class': 'btn-outline font-normal',
            ':class': 'dateFrom || dateTo ? "bg-muted" : ""'
          },
          content_attrs={
            'class': 'form p-4 space-y-4 min-w-auto',
            'data-align': 'start'
          }
        ) %}
          <div class="space-y-2">
            <label>From</label>
            <div class="flex items-center gap-x-2">
              <input class="flex-1 h-8" type="date" name="date-from" x-model="dateFrom"/>
              <button
                type="button"
                @click="dateFrom = null; $dispatch('change');"
                class="btn-sm-icon-ghost"
                data-tooltip="Clear"
                :disabled="!dateFrom"
              >
                {% include "icons/circle-x.svg" %}
              </button>
            </div>
          </div>
          <div class="space-y-2">
            <label>To</label>
            <div class="flex items-center gap-x-2">
              <input class="flex-1 h-8" type="date" name="date-to" x-model="dateTo"/>
              <button
                type="button"
                @click="dateTo = null; $dispatch('change');"
                class="btn-sm-icon-ghost"
                data-tooltip="Clear"
                :disabled="!dateTo"
              >
                {% include "icons/circle-x.svg" %}
              </button>
            </div>
          </div>
          
        {% endcall %}
      </div>

      {% call select(
        name="branch",
        selected=request.args.get("branch"),
        trigger_attrs={":class": "selectedValue ? 'bg-muted' : ''"}
      ) %}
        <div role="option" data-value="">
          {{ _('All branches') }}
        </div>
        {% for branch in branches %}
          <div role="option" data-value="{{ branch['name'] }}">
            {{ branch['name'] }}
          </div>
        {% endfor %}
      {% endcall %}

      <a
        href="{{ url_for('main.project_deployments', project_name=project.name) }}"
        class="btn-ghost text-muted-foreground hover:text-foreground"
        x-show="isDirty"
      >
        {% include "icons/circle-x.svg" %}
        {{ _('Reset') }}
        </a>
    </form>

    {% from "deployments/components/list.html" import list %}

    <div class="relative">
      <div class="htmx-indicator bg-background/90 absolute inset-0 flex items-center justify-center rounded-lg z-20">
        <div class="flex items-center gap-x-2 text-muted-foreground [&>svg]:size-4">
          {% include "icons/loader.svg" %}
          <span>Searching</span>
        </div>
      </div>
      <div id="deployments">
        {{ list(deployments=deployments, project=project, pagination=pagination) }}
      </div>
    </div>
  </section>
</div>
{% endblock %}