{% extends "layouts/app.html" %}

{% block app_content %}
<div class="container max-w-screen-lg mx-auto p-8 space-y-6">
  <header class="flex justify-between items-center">
    <h1 class="h1 flex items-center gap-x-2.5">
      <a href="{{ url_for('main.project', project_name=project.name) }}">
        {% from "projects/components/thumbnail.html" import thumbnail %}
        {{ thumbnail(project) }}
      </a>
      <span class="text-muted-foreground/25 font-normal">/</span>
      <a href="{{ url_for('main.project_deployments', project_name=project.name) }}">
        {{ _('Deployments') }}
      </a>
    </h1>

    <button class="btn h-8 px-2.5 gap-x-2">
      {% include "icons/cloud-upload.svg" %}
      {{ _('Deploy') }}
    </button>
      <!-- <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(class="btn h-9 px-3") }}
      </form> -->
  </header>

  <section class="space-y-2">
    <header class="flex justify-between items-center gap-x-4">
      <input class="input flex-1" type="text" placeholder="Search deployments">
      <select class="input">
        <option value="all">{{ _('All') }}</option>
        <option value="success">{{ _('Success') }}</option>
        <option value="failed">{{ _('Failed') }}</option>
      </select>
    </header>

    {% from "deployments/components/list.html" import list %}
    {{ list(deployments=deployments, pagination=pagination) }}
  </section>
</div>
{% endblock %}