{% extends "layouts/base.html" %}

{% block app_content %}
<div class="container max-w-screen-lg mx-auto p-8 space-y-6">
  <header class="flex justify-between items-center">
    <h1 class="h1 flex items-center gap-x-2.5">
      {% from "projects/components/thumbnail.html" import thumbnail %}
      {{ thumbnail(project) }}
      {{ project.name }}
    </h1>
  </header>

  <section class="space-y-2">
    <h2 class="h4 mb-4">{{ _('Environments') }}</h2>
    {% for environment in project.config.environments %}
      {{ environment }}
    {% endfor %}
    <h2 class="h4 font-medium mb-4">{{ _('Latest deployments') }}</h2>
    {% from "deployments/components/list.html" import list %}
    {{ list(deployments=deployments) }}
  </section>
</div>
{% endblock %}