{% from "components/dialog.html" import dialog %}
{% call dialog(
  trigger=trigger,
  id="dialog-repo-select",
  title="Select Git repository",
  trigger_attrs={"class": "btn-outline font-normal px-3"},
  dialog_attrs={
    "class": "max-w-screen-sm w-full",
    "@repo-selected": "close()"
  }
) %}
  <div
    hx-get="{{ url_for('main.repo_select', account=repo_owner) }}"
    hx-trigger="dialog:opened from:#dialog-repo-select"
    hx-swap="outerHTML"
    class="flex items-center justify-center h-[296px]"
  >
    <span class="text-muted-foreground flex items-center gap-x-2">
      {% include "icons/loader.svg" %}
      {{ _('Loading accounts') }}
    </span>
  </div>
{% endcall %}

<form
  method="POST"
  action="{{ url_for('main.project_settings', project_name=project.name, fragment='general') }}"
  hx-post="{{ url_for('main.project_settings', project_name=project.name, fragment='general') }}"
  enctype="multipart/form-data"
  x-data="{
    changed: false,
    repoId: {{ project.repo_id }},
    repoOwner: '{{ project.repo_full_name.split('/')[0] }}',
    repoFullName: '{{ project.repo_full_name }}',
    deleteAvatar: false
  }"
  @repo-selected.window="
    repoId = $event.detail.id;
    repoOwner = $event.detail.owner;
    repoFullName = $event.detail.fullName;
    changed = true;
  "
  @input="changed = true"
  @change="changed = true"
  hx-indicator="next .htmx-indicator"
>
  {{ general_form.hidden_tag() }}
  <header class="space-y-1 p-4 border-b bg-muted flex justify-between items-center gap-x-4 rounded-t-xl">
    <div>
      <h2 class="font-medium">{{ _('General') }}</h2>
      <p class="text-muted-foreground">{{ _('General settings for the project including the Git repository.') }}</p>
    </div>
    <button
      class="btn ml-auto"
      :disabled="!changed"
    >{{ _('Save') }}</button>
  </header>
  
  <div class="p-4 space-y-6">    
    <div class="field">
      {{ general_form.name.label() }}
      {{ general_form.name(class="input w-full") }}
      {% for error in general_form.name.errors %}
        <p class="text-danger text-xs font-medium">{{ error }}</p>
      {% endfor %}
    </div>
  
    <div class="field">
      <label for="name">{{ _('Avatar') }}</label>
      {% from "components/image_upload.html" import image_upload %}
      {% from "projects/components/thumbnail/project.html" import thumbnail %}
      {% set current_image %}
        {{ thumbnail(project, size="lg") }}
      {% endset %}
      {% set default_image %}
        {{ thumbnail(project, size="lg", ignore_avatar=True) }}
      {% endset %}
      {{ image_upload(
        general_form.avatar,
        general_form.delete_avatar,
        current_image,
        default_image,
        extensions=["jpg", "jpeg", "png", "gif", "webp"]
      ) }}
    </div>
  
    <div class="field">
      <label for="name">{{ _('Git repository') }}</label>
      <div class="flex items-center gap-x-2">
        <button
          type="button"
          class="btn-outline font-normal px-3 flex items-center gap-x-2"
          @click="$dialog('dialog-repo-select', 'open')"
        >
          <img :src="`https://github.com/${repoOwner}.png`" :alt="`${repoOwner}'s avatar`" class="w-6 h-6 rounded">
          <span x-text="repoFullName"></span>
          <span class="text-muted-foreground">
            {% include "icons/chevrons-up-down.svg" %}
          </span>
        </button>
      </div>
      {{ general_form.repo_id(
        class_="hidden",
        **{':value': 'repoId'}
      ) }}
      {% for error in general_form.repo_id.errors %}
        <p class="text-danger text-xs font-medium">{{ error }}</p>
      {% endfor %}
    </div>
  </div>
</form>

<div class="htmx-indicator flex items-center justify-center inset-0 absolute bg-background/80 rounded-xl">
  <div class="flex items-center gap-x-2 text-muted-foreground">
    {% include "icons/loader.svg" %}
    {{ _('Saving') }}
  </div>
</div>