{% from "components/dialog.html" import dialog %}
{% call dialog(
  trigger=trigger,
  id="dialog-repo-select",
  title="Select Git repository",
  trigger_attrs={"class": "btn-outline font-normal px-3"},
  dialog_attrs={
    "class": "max-w-screen-sm w-full",
    "@repo-selected": "close()"
  }
) %}
  <div
    hx-get="{{ url_for('main.repo_select', account=repo_owner) }}"
    hx-trigger="dialog:opened from:#dialog-repo-select"
    hx-swap="outerHTML"
    class="flex items-center justify-center h-[296px]"
  >
    <span class="text-muted-foreground flex items-center gap-x-2">
      {% include "icons/loader.svg" %}
      {{ _('Loading accounts') }}
    </span>
  </div>
{% endcall %}

<form
  method="POST"
  action=""
  hx-post=""
  x-data="{
    changed: false,
    repo_id: {{ project.repo_id }},
    repo_owner: '{{ project.repo_full_name.split('/')[0] }}',
    repo_full_name: '{{ project.repo_full_name }}'
  }"
  @repo-selected.window="
    repo_id = $event.detail.id;
    repo_owner = $event.detail.owner;
    repo_full_name = $event.detail.fullName;
    changed = true;
  "
  @input="changed = true"
  @change="changed = true"
  hx-indicator="next .htmx-indicator"
>
  {{ general_form.hidden_tag() }}
  <input type="hidden" name="form_id" value="general_form">
  <header class="space-y-1 p-4 border-b bg-muted flex justify-between items-center gap-x-4 rounded-t-xl">
    <div>
      <h2 class="font-medium">{{ _('General') }}</h2>
      <p class="text-muted-foreground">{{ _('General settings for the project including the Git repository.') }}</p>
    </div>
    <button
      class="btn ml-auto"
      :disabled="!changed"
    >{{ _('Save') }}</button>
  </header>
  
  <div class="p-4 space-y-6">    
    <div class="field">
      {{ general_form.name.label() }}
      {{ general_form.name(class="input w-full") }}
    </div>
  
    <div class="field">
      <label for="name">{{ _('Avatar') }}</label>
      <div class="flex items-center gap-x-2">
        {% from "projects/components/thumbnail.html" import thumbnail %}
        {{ thumbnail(project, size="xl") }}
        <button class="btn-outline h-8 px-2.5">
          {% include "icons/arrow-up-from-line.svg" %}
          {{ _('Upload avatar') }}
        </button>
      </div>
    </div>
  
    <div class="field">
      <label for="name">{{ _('Git repository') }}</label>
      <div class="flex items-center gap-x-2">
        <button
          type="button"
          class="btn-outline font-normal px-3 flex items-center gap-x-2"
          @click="$dialog('dialog-repo-select', 'open')"
        >
          <img :src="`https://github.com/${repo_owner}.png`" :alt="`${repo_owner}'s avatar`" class="w-6 h-6 rounded">
          <span x-text="repo_full_name"></span>
          <span class="text-muted-foreground">
            {% include "icons/chevrons-up-down.svg" %}
          </span>
        </button>
      </div>
      {{ general_form.repo_id(
        class="hidden",
        **{':value': 'repo_id'}
      ) }}
    </div>
  </div>
</form>

<div class="htmx-indicator flex items-center justify-center inset-0 absolute bg-background/80 rounded-xl">
  <div class="flex items-center gap-x-2 text-muted-foreground">
    {% include "icons/loader.svg" %}
    {{ _('Saving') }}
  </div>
</div>