<form
  method="post"
  action="{{ url_for('auth_login') }}"
  class="form grid gap-4"
  hx-post="{{ url_for('auth_login') }}"
  hx-swap="outerHTML"
  hx-indicator="find .htmx-indicator"
  hx-swap="outerHTML"
  x-init="loading = null"
  @htmx:before-send="loading = 'email'"
  @htmx:after-request="loading = null"
>
  {{ form.csrf_token }}
  <div class="grid gap-2">
    {{ form.email.label(class="sr-only") }}
    {{ form.email(
      class="input",
      placeholder=_("Enter your email"),
      **{
        ':disabled': 'loading',
      }
    ) }}
    {% for error in form.email.errors %}
    <p class="text-destructive text-xs font-medium">{{ error }}</p>
    {% endfor %}
  </div>
  <button type="submit" class="btn" :disabled="loading">
    {{ _("Continue with email") }}
    <span x-show="loading === 'email'" class="[&>svg]:size-4 [&>svg]:animate-spin">
      {% include "icons/loader.svg" %}
    </span>
  </button>
</form>