<nav aria-label="Secondary navigation" class="-mt-2 -mb-[1px]">
  <ul role="tablist" class="flex items-center gap-x-1">
    <li role="presentation" class="pb-1.5 border-b-2 {{ 'border-primary' if request.path == url_for('main.index') else 'border-transparent' }}">
      <a
        href="{{ url_for('main.index') }}"
        role="tab"
        aria-selected="{{ 'true' if request.path == url_for('main.index') else 'false' }}"
        class="btn-sm-ghost text-muted-foreground hover:text-foreground [&[aria-selected=true]]:text-foreground"
      >{{ _('Overview') }}</a>
    </li>
    <li role="presentation" class="pb-1.5 border-b-2 {{ 'border-transparent' if request.path.startswith(url_for('main.index')) else 'border-transparent' }}">
      <a
        href="{{ url_for('main.projects') }}"
        role="tab"
        aria-selected="{{ 'false' if request.path.startswith(url_for('main.index')) else 'false' }}"
        class="btn-sm-ghost text-muted-foreground hover:text-foreground [&[aria-selected=true]]:text-foreground"
      >{{ _('Projects') }}</a>
    </li>
    <li role="presentation" class="pb-1.5 border-b-2 {{ 'border-transparent' if request.path.startswith(url_for('main.index')) else 'border-transparent' }}">
      <button
        role="tab"
        aria-selected="{{ 'false' if request.path.startswith(url_for('main.index')) else 'false' }}"
        class="btn-sm-ghost text-muted-foreground hover:text-foreground [&[aria-selected=true]]:text-foreground"
        disabled
      >
        {{ _('Settings') }}
        <span class="badge h-4 px-1">{{ _('Soon') }}</span>
      </button>
    </li>
  </ul>
</nav>