{% extends "layouts/app.html" %}

{% block app_content %}
{% include 'deployments/partials/_status-sse.html' %}
<div
  class="container max-w-screen-xl mx-auto p-8 space-y-6"
  x-init
>
  <div id="deployment-page-header" class="space-y-6">
    {% include 'deployments/partials/_header.html' %}
  </div>

  <details open class="w-full rounded-lg border group">
    <summary class="px-4 py-3 w-full flex items-center gap-x-2 [&>svg]:size-4 group-open:[&>svg]:rotate-90 [&>svg]:transition-transform hover:bg-muted/50 rounded-lg transition-colors group-open:rounded-b-none">
      {% include "shared/icons/chevron-right.svg" %}
      {{ _('Build logs') }}
    </summary>
    {% if not deployment.conclusion %}
      {% include 'deployments/partials/_logs-sse.html' %}
    {% endif%}
    <div
      id="deployment-logs"
      class="overflow-y-auto h-[500px] relative p-4 border-t scrollbar-thin scrollbar"
      x-init="$el.scrollTop = $el.scrollHeight"
      hx-on::after-swap="this.scrollTop = this.scrollHeight"
      x-data="{
        getTime(timestamp) {
          return new Date(timestamp).toLocaleTimeString('default', { hour12: false, hour: '2-digit', minute: '2-digit', second: '2-digit' })
        },
        getTooltip(timestamp) {
          return new Date(timestamp).toLocaleString('default', { month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: '2-digit', second: '2-digit', fractionalSecondDigits: 3 })
        },
        $log: {
          'x-text'() { return this.getTime(this.$el.getAttribute('datetime')) },
          ':data-tooltip'() { return this.getTooltip(this.$el.getAttribute('datetime')) },
          ':data-side': '\'right\''
        }
      }" 
    >
      <div
        class="absolute inset-0 hidden only:flex items-center justify-center text-muted-foreground"
      >
        <div class="flex items-center gap-x-2 [&>svg]:size-4 [&>svg]:animate-spin">
          {% include "shared/icons/loader.svg" %}
          {{ _('Waiting for logs') }}
        </div>
      </div>
      {%- for log in deployment.parsed_logs -%}
        <div class="flex items-start gap-x-4 px-2 py-1.5 hover:bg-muted rounded-md transition-colors font-mono">
          <time
            class="text-muted-foreground whitespace-nowrap"
            datetime="{{ log.timestamp }}"
            x-bind="$log"
          >{{ log.timestamp }}</time>
          <div class="break-all">{{ log.message }}</div>
        </div>
      {%- endfor -%}
    </div>
  </details>
</div>

{% endblock %}