{% macro thumbnail(project, size=None, ignore_avatar=False) %}
  {% if project.avatar_updated_at and not ignore_avatar %}
    <img 
      src="{{ url_for('static', filename='uploads/avatars/project_' + project.id|string + '.webp') }}?v={{ project.avatar_updated_at.timestamp()|int }}" 
      alt="{{ project.name }}" 
      class="
        object-cover
        {% if size == 'xs' %}w-5 h-5 rounded
        {% elif size == 'sm' %}w-6 h-6 rounded-md
        {% elif size == 'md' %}w-10 h-10 rounded-lg
        {% elif size == 'lg' %}w-14 h-14 rounded-xl
        {% else %}w-8 h-8 rounded-lg
        {% endif %}
      "
    />
  {% else %}
    <div class="
      flex items-center justify-center uppercase bg-gradient-to-tl border shrink-0
      {% if size == 'xs' %}w-5 h-5 rounded text-xs font-semibold
      {% elif size == 'sm' %}w-6 h-6 rounded-md text-sm font-semibold
      {% elif size == 'md' %}w-10 h-10 rounded-lg text-xl font-medium
      {% elif size == 'lg' %}w-14 h-14 rounded-xl text-4xl font-medium
      {% else %}w-8 h-8 rounded-lg text-lg font-semibold
      {% endif %}
      from-{{ project.color }}-100 to-{{ project.color }}-100/50 
      border-{{ project.color }}-200 
      dark:from-{{ project.color }}-950/50 dark:to-{{ project.color }}-950
      dark:border-{{ project.color }}-900
      text-{{ project.color }}-500
    ">
      {{ project.name[0] }}
    </div>
  {% endif %}
{% endmacro %}