<span role="menuitem" class="flex items-center gap-x-1">
  {% from "deployments/components/status.html" import status %}
  {{ status(status=deployment.status, conclusion=deployment.conclusion, compact=True) }}
  <span class="font-mono">{{ deployment.id[:7] }}</span>
  <svg class="ml-auto w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"/></svg>
</span>
{% for other_deployment in get_latest_deployments(deployment) %}
  <a href="{{ url_for('main.deployment', project_name=other_deployment.project.name, deployment_id=other_deployment.id) }}" role="menuitem" class="!pr-9 font-mono">
    {{ status(status=other_deployment.status, conclusion=other_deployment.conclusion, compact=True) }}
    {{ other_deployment.id[:7] }}
  </a>
{% endfor %}
<hr role="separator"/>
<a href="{{ url_for('main.index') }}" role="menuitem">
  {{ _('Add new project') }}
</a>