<header class="sticky top-0 bg-background z-10 border-b">
	<div class="flex items-center justify-between gap-x-4 px-8 py-4">
		<nav class="flex items-center gap-x-2.5">
			<a
				href="{{ url_for('main.index') }}"
				class="w-6 h-8 shrink-0 flex items-center justify-center"
				aria-label="{{ config.APP_NAME }}"
			>
				<svg class="aspect-square w-full" viewBox="0 0 280 280" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M170 230L170 86C170 66.1177 186.118 50 206 50L224 50C243.882 50 260 66.1177 260 86L260 104C260 123.882 243.882 140 224 140L56 140C36.1178 140 20 156.118 20 176L20 194C20 213.882 36.1178 230 56 230L74 230C93.8823 230 110 213.882 110 194L110 50" stroke="currentColor" stroke-width="24" stroke-linejoin="round"/></svg>
			</a>

			{% if current_user.is_authenticated %}
				<div class="text-muted-foreground/25 text-xl">/</div>
				
				<div class="flex items-center">
					<a href="{{ url_for('main.index') }}" class="btn-ghost px-2.5 h-8 flex items-center gap-x-2">
						<img src="{{ current_user.avatar }}" alt="{{ current_user.email }}" class="block w-5 h-5 rounded"/>
						{{ current_user.username }}
					</a>
					{% from "components/dropdown.html" import dropdown %}
					{% set trigger %}
						{% include "icons/chevrons-up-down.svg" %}
					{% endset %}
					{% call dropdown(trigger=trigger, trigger_class="btn-ghost text-muted-foreground w-6 h-8 px-0", menu_position="left" ) %}
						{% include "partials/menus/_accounts.html" %}
					{% endcall %}
				</div>
			{% endif %}

			{% if project %}
				<div class="text-muted-foreground/25 text-xl">/</div>

				<div class="flex items-center">
					<a href="{{ url_for('main.project', project_name=project.name) }}" class="btn-ghost px-2.5 h-8 flex items-center gap-x-2">
						{% from "projects/components/thumbnail.html" import thumbnail %}
						{{ thumbnail(project, size="sm") }}
						{{ project.name }}
					</a>
					{% call dropdown(trigger=trigger, trigger_class="btn-ghost text-muted-foreground w-6 h-8 px-0", menu_position="left" ) %}
						{% include "partials/menus/_projects.html" %}
					{% endcall %}
				</div>
			{% endif %}

			{% if deployment %}
				<div class="text-muted-foreground/25 text-xl">/</div>
				
				<div class="flex items-center">
					<a href="{{ url_for('main.deployment', project_name=project.name, deployment_id=deployment.id) }}" class="btn-ghost px-2.5 h-8 flex items-center gap-x-2">
						{% from "deployments/components/status.html" import status %}
						{{ status(status=deployment.status, conclusion=deployment.conclusion, compact=True) }}
						<span class="font-mono">{{ deployment.id[:7] }}</span>
					</a>
					{% call dropdown(trigger=trigger, trigger_class="btn-ghost text-muted-foreground w-6 h-8 px-0", menu_position="left" ) %}
						{% include "partials/menus/_deployments.html" %}
					{% endcall %}
				</div>
			{% endif %}
		</nav>

		<nav class="flex items-center gap-x-2" aria-label="User menu">
			<button 
				x-data
				@click="$store.theme.toggle()" 
				aria-label="Toggle theme"
				data-tooltip="Toggle theme"
				data-tooltip-position="bottom"
				type="button" 
				class="btn-ghost h-8 w-8 p-0 rounded-full"
				aria-label="Toggle theme"
			>
				<template x-if="$store.theme.isDark">
					{% include "icons/moon.svg" %}
				</template>
				<template x-if="!$store.theme.isDark">
					{% include "icons/sun.svg" %}
				</template>
			</button>

			{% if current_user.is_authenticated %}
				{% from "components/dropdown.html" import dropdown %}
				{% set trigger %}
					<img src="{{ current_user.avatar }}" alt="{{ current_user.email }}" class="block w-8 h-8 rounded-full"/>
				{% endset %}
				{% call dropdown(trigger=trigger, trigger_class="block") %}
					<header class="px-2.5 py-1.5">
						<div class="font-medium">{{ current_user.name if current_user.name else current_user.username }}</div>
						<div class="text-muted-foreground">{{ current_user.email }}</div>
					</header>
					<hr role="separator"/>
					<a href="#" role="menuitem">{{ _('Account') }}</a>
					<hr role="separator"/>
					<a href="{{ url_for('auth.logout') }}" role="menuitem">
						{{ _('Sign out') }}
					</a>
				{% endcall %}
			{% else %}
				<a
					href="{{ url_for('auth.login') }}"
					class="btn-sm-accent"
				>{{ _('Sign in') }}</a>
			{% endif %}
		</nav>
	</div>

	{% if secondary_nav_template %}
		{% include secondary_nav_template %}
	{% endif %}
</header>