<header class="sticky top-0 bg-background z-10 border-b">
	<div class="flex items-center justify-between gap-x-4 px-8 py-4">
		<nav class="flex items-center gap-x-2.5">
			<a
				href="{{ url_for('main.index') }}"
				class="w-6 h-8 shrink-0 flex items-center justify-center"
				aria-label="{{ config.APP_NAME }}"
			>
        <svg width="120" height="120" viewBox="0 0 120 120" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M39.9265 17L16.5652 103.791H0L23.3612 17H39.9265Z"/>
        <path d="M81.7018 98.5804L71.6494 88.5988L92.6037 67.6445H47.1555V52.9198H92.6037L71.6494 31.9655L81.7018 21.9839L120 60.2822L81.7018 98.5804Z"/>
        </svg>
			</a>

			{% if current_user.is_authenticated %}
				<div class="text-muted-foreground/25 text-xl">/</div>
				
				<div class="flex items-center">
					<a href="{{ url_for('main.index') }}" class="btn-ghost px-2.5 h-8 flex items-center gap-x-2">
						<img src="{{ current_user.avatar }}" alt="{{ current_user.email }}" class="block w-5 h-5 rounded"/>
						{{ current_user.username }}
					</a>
					{% from "components/dropdown.html" import dropdown %}
					{% set trigger %}
						{% include "icons/chevrons-up-down.svg" %}
					{% endset %}
					{% call dropdown(
            trigger=trigger,
            trigger_attrs={"class": "btn-ghost text-muted-foreground w-6 h-8 px-0"},
            menu_attrs={"data-menu-position": "left"}
          ) %}
						{% include "partials/menus/_accounts.html" %}
					{% endcall %}
				</div>
			{% endif %}

			{% if project %}
				<div class="text-muted-foreground/25 text-xl">/</div>

				<div class="flex items-center">
					<a href="{{ url_for('main.project', project_name=project.name) }}" class="btn-ghost px-2.5 h-8 flex items-center gap-x-2">
						{% from "projects/components/thumbnail/project.html" import thumbnail %}
						{{ thumbnail(project, size="xs") }}
						{{ project.name }}
					</a>
					{% call dropdown(
            trigger=trigger,
            trigger_attrs={"class": "btn-ghost text-muted-foreground w-6 h-8 px-0"},
            menu_attrs={"data-menu-position": "left"}
          ) %}
						{% include "partials/menus/_projects.html" %}
					{% endcall %}
				</div>
			{% endif %}

			{% if deployment %}
				<div class="text-muted-foreground/25 text-xl">/</div>
				
				<div class="flex items-center">
					<a href="{{ url_for('main.deployment', project_name=project.name, deployment_id=deployment.id) }}" class="btn-ghost px-2.5 h-8 flex items-center gap-x-2">
						{% from "deployments/components/status.html" import status %}
						{{ status(status=deployment.status, conclusion=deployment.conclusion, compact=True) }}
						<span class="font-mono">{{ deployment.id[:7] }}</span>
					</a>
					{% call dropdown(
            trigger=trigger,
            trigger_attrs={"class": "btn-ghost text-muted-foreground w-6 h-8 px-0"},
            menu_attrs={"data-menu-position": "left"}
          ) %}
						{% include "partials/menus/_deployments.html" %}
					{% endcall %}
				</div>
			{% endif %}
		</nav>

		<nav class="flex items-center gap-x-2" aria-label="User menu">
			<button 
				x-data
				@click="$store.theme.toggle()" 
				aria-label="Toggle theme"
				data-tooltip="Toggle theme"
				data-tooltip-position="bottom"
				type="button" 
				class="btn-ghost h-8 w-8 p-0 rounded-full"
				aria-label="Toggle theme"
			>
				<template x-if="$store.theme.isDark">
					{% include "icons/moon.svg" %}
				</template>
				<template x-if="!$store.theme.isDark">
					{% include "icons/sun.svg" %}
				</template>
			</button>

			{% if current_user.is_authenticated %}
				{% from "components/dropdown.html" import dropdown %}
				{% set trigger %}
					<img src="{{ current_user.avatar }}" alt="{{ current_user.email }}" class="block w-8 h-8 rounded-full"/>
				{% endset %}
				{% call dropdown(trigger=trigger, trigger_attrs={'class': 'block'}) %}
					<header class="px-2.5 py-1.5">
						<div class="font-medium">{{ current_user.name if current_user.name else current_user.username }}</div>
						<div class="text-muted-foreground">{{ current_user.email }}</div>
					</header>
					<hr role="separator"/>
					<a href="#" role="menuitem">{{ _('Account') }}</a>
					<hr role="separator"/>
					<a href="{{ url_for('auth.logout') }}" role="menuitem">
						{{ _('Sign out') }}
					</a>
				{% endcall %}
			{% else %}
				<a
					href="{{ url_for('auth.login') }}"
					class="btn-sm-accent"
				>{{ _('Sign in') }}</a>
			{% endif %}
		</nav>
	</div>

	{% if secondary_nav_template %}
		{% include secondary_nav_template %}
	{% endif %}
</header>