<span role="menuitem" class="flex items-center gap-x-2">
  {% from "deployment/macros/status.html" import status %}
  {{ status(
  conclusion=deployment.conclusion,
  compact=True,
  attrs={ 'data-deployment-status': deployment.id }
  ) }}
  <span class="font-mono">{{ deployment.id[:7] }}</span>
  <span class="h-4 w-4 ml-auto text-muted-foreground">
    {% include "icons/check.svg" %}
  </span>
</span>
{% for other_deployment in latest_deployments %}
<a href="{{ url_for('project_deployment', team_slug=team.slug, project_name=other_deployment.project.name, deployment_id=other_deployment.id) }}"
  role="menuitem" data-deployment-status="{{ other_deployment.id }}">
  {{ status(
  conclusion=other_deployment.conclusion,
  compact=True,
  attrs={ 'data-deployment-status': other_deployment.id }
  ) }}
  {{ other_deployment.id[:7] }}
  <span class="h-4 w-4 ml-auto"></span>
</a>
{% endfor %}
<hr role="separator" />
<a href="{{ url_for('project_deployments', team_slug=team.slug, project_name=deployment.project.name) }}"
  role="menuitem">
  {{ _('All deployments') }}
</a>