{% from "macros/avatar.html" import avatar with context %}
<span role="menuitem" class="flex items-center gap-x-1">
  {{ avatar(item=team, prefix="team", name=team.name, size="xs") }}
  {{ team.name }}
  <span class="size-4 ml-auto text-muted-foreground">
    {% include "icons/check.svg" %}
  </span>
</span>
{% for other_team in latest_teams %}
<a href="{{ url_for('team_index', team_slug=other_team.slug) }}" role="menuitem" hx-boost="true">
  {{ avatar(item=other_team, prefix="team", name=other_team.name, size="xs") }}
  {{ other_team.name }}
  <span class="size-4 ml-auto"></span>
</a>
{% endfor %}
<hr role="separator" />
<button role="menuitem" onclick="document.getElementById('dialog-new-team').showModal()">{{ _('Add new team')
  }}</button>