<nav aria-label="Secondary navigation" class="-mt-2 -mb-[1px]" hx-boost="true">
  <ul role="tablist" class="flex items-center gap-x-1">
    <li
      role="presentation"
      class="pb-1.5 border-b-2 {{ 'border-primary' if request.path == url_for('project_index', team_slug=team.slug, project_name=project.name).path else 'border-transparent' }}"
    >
      <a
        href="{{ url_for('project_index', team_slug=team.slug, project_name=project.name) }}"
        role="tab"
        aria-selected="{{ 'true' if request.path == url_for('project_index', team_slug=team.slug, project_name=project.name).path else 'false' }}"
        class="btn-sm-ghost text-muted-foreground hover:text-foreground [&[aria-selected=true]]:text-foreground"
        preload="mouseover"
      >{{ _('Overview') }}</a>
    </li>
    <li
      role="presentation"
      class="pb-1.5 border-b-2 {{ 'border-primary' if request.path.startswith(url_for('project_deployments', team_slug=team.slug, project_name=project.name).path|string) else 'border-transparent' }}"
    >
      <a
        href="{{ url_for('project_deployments', team_slug=team.slug, project_name=project.name) }}"
        role="tab"
        aria-selected="{{ 'true' if request.path.startswith(url_for('project_deployments', team_slug=team.slug, project_name=project.name).path|string) else 'false' }}"
        class="btn-sm-ghost text-muted-foreground hover:text-foreground [&[aria-selected=true]]:text-foreground"
        preload="mouseover"
      >{{ _('Deployments') }}</a>
    </li>
    <li
      role="presentation"
      class="pb-1.5 border-b-2 {{ 'border-primary' if request.path.startswith(url_for('project_logs', team_slug=team.slug, project_name=project.name).path|string) else 'border-transparent' }}"
    >
      <a
        href="{{ url_for('project_logs', team_slug=team.slug, project_name=project.name) }}"
        role="tab"
        aria-selected="{{ 'true' if request.path.startswith(url_for('project_logs', team_slug=team.slug, project_name=project.name).path|string) else 'false' }}"
        class="btn-sm-ghost text-muted-foreground hover:text-foreground [&[aria-selected=true]]:text-foreground"
        preload="mouseover"
      >{{ _('Logs') }}</a>
    </li>
    {% if get_access(role, "creator") %}
      <li
        role="presentation"
        class="pb-1.5 border-b-2 {{ 'border-primary' if request.path.startswith(url_for('project_settings', team_slug=team.slug, project_name=project.name).path|string) else 'border-transparent' }}"
      >
        <a
          href="{{ url_for('project_settings', team_slug=team.slug, project_name=project.name) }}" role="tab"
          aria-selected="{{ 'true' if request.path.startswith(url_for('project_settings', team_slug=team.slug, project_name=project.name).path|string) else 'false' }}"
          class=" btn-sm-ghost text-muted-foreground hover:text-foreground [&[aria-selected=true]]:text-foreground"
          preload="mouseover"
        >{{ _('Settings') }}</a>
      </li>
    {% endif %}
  </ul>
</nav>