{% extends "base.html" %}

{% block app_content %}
<div class="container max-w-screen-sm mx-auto px-4 py-16">
  <h1 class="h1 mb-8">Add a project</h1> 
  <ol class="flex items-center justify-between gap-x-2 mb-8">
    <li class="flex items-center gap-x-2 opacity-50">
      <div class="shrink-0 rounded-full h-6 w-6 bg-primary text-primary-foreground flex items-center justify-center text-xs font-mono font-semibold">1</div>
      <h2 class="font-semibold">{{ _('Select repository') }}</h2>
    </li>
    <li class="flex-1">
      <hr class="h-px border-border"/>
    </li>
    <li class="flex items-center gap-x-2">
      <div class="shrink-0 rounded-full h-6 w-6 bg-primary text-primary-foreground flex items-center justify-center text-xs font-mono font-semibold">2</div>
      <h2 class="font-semibold">{{ _('Configure') }}</h2>
    </li>
    <li class="flex-1">
      <hr class="h-px border-border"/>
    </li>
    <li class="flex items-center gap-x-2 opacity-50">
      <div class="shrink-0 rounded-full h-6 w-6 bg-primary text-primary-foreground flex items-center justify-center text-xs font-mono font-semibold">3</div>
      <h2 class="font-semibold">{{ _('Deploy') }}</h2>
    </li>
  </ol>
  <form action="" method="post" class="form">
    {{ form.hidden_tag() }}
    {{ form.repo_id(class_="hidden") }}
    <div class="space-y-6">
      <div class="field" x-data="{ branch: '{{ repo.default_branch }}' }">
        <label>
          {{ _('Repository & Branch') }}
          <a
            href="https://github.com/{{ repo.full_name }}"
            :href="`https://github.com/{{ repo.full_name }}/tree/${branch}`"
            class="opacity-50 hover:opacity-100 transition-opacity"
            target="_blank"
            data-tooltip="View on GitHub"
          >
            <svg class="h-3 w-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"/><path d="m21 3-9 9"/><path d="M15 3h6v6"/></svg>
          </a>
        </label>
        <div class="flex gap-x-2">
          <div class="relative flex-1">
            <input class="w-full !px-9" type="text" name="repo_full_name" value="{{ repo.full_name }}" disabled>
            <a
              href="{{ url_for('main.select_repo') }}"
              class="absolute right-3 top-1/2 -translate-y-1/2 h-4 w-4 shrink-0 opacity-50 hover:opacity-100 transition-opacity z-10"
              data-tooltip="Change repository"
            >
              <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/></svg>
            </a>
            <svg class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 h-4 w-4 opacity-50 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/><path d="M9 18c-4.51 2-5-2-7-2"/></svg>
          </div>
          <div class="relative w-1/3">
            {{ form.repo_branch(
                selected=repo.default_branch,
                class_="!pl-9 w-full",
                **{'x-model': 'branch'}
            ) }}
            <svg class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 h-4 w-4 opacity-50 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="6" x2="6" y1="3" y2="15"/><circle cx="18" cy="6" r="3"/><circle cx="6" cy="18" r="3"/><path d="M18 9a9 9 0 0 1-9 9"/></svg>
          </div>
        </div>
      </div>

      <div class="field">
        {{ form.name.label() }}
        {{ form.name(
            size=100,
            class="w-full",
            required=True,
            placeholder="e.g. my-project",
            **({'aria-invalid': 'true'} if form.name.errors else {})
        ) }}
        {% for error in form.name.errors %}
        <p class="text-danger text-xs font-medium">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="field">
        {{ form.root_directory.label() }}
        {{ form.root_directory(
            class="w-full",
            pattern="^\.?\/?([\w-]+\/?)*$",
            placeholder="./",
            disabled=True,
            **({'aria-invalid': 'true'} if form.root_directory.errors else {})
        ) }}
        {% for error in form.root_directory.errors %}
        <p class="text-danger text-xs font-medium">{{ error }}</p>
        {% endfor %}
      </div>

      <details open>
        <summary >{{ _('Commands') }}</summary>
        <div class="space-y-6">
          <div class="field">
            <label for="build_command">{{ _('Framework') }}</label>
            <select>
              <option value="flask">Flask</option>
              <option value="django">Django</option>
              <option value="fastapi">FastAPI</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="field">
            <label for="build_command">{{ _('Build command') }}</label>
            <div class="flex gap-x-2" x-data="{ locked: true, command: 'pip install -r requirements.txt' }">
              <input
                type="text"
                class="w-full font-mono"
                value="pip install -r requirements.txt"
                :disabled="locked"
              />
              <button
                class="btn-ghost w-10"
                type="button"
                @click="locked = !locked"
                :data-tooltip="locked ? 'Edit command' : 'Reset command'"
              >
                <svg x-show="locked" class="h-4 w-4 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/></svg>
                <svg x-show="!locked" x-cloak class="h-4 w-4 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m10 10-6.157 6.162a2 2 0 0 0-.5.833l-1.322 4.36a.5.5 0 0 0 .622.624l4.358-1.323a2 2 0 0 0 .83-.5L14 13.982"/><path d="m12.829 7.172 4.359-4.346a1 1 0 1 1 3.986 3.986l-4.353 4.353"/><path d="m15 5 4 4"/><path d="m2 2 20 20"/></svg>
              </button>
            </div>
          </div>
          <div class="field">
            <label for="pre_deploy_command">{{ _('Pre-deploy command') }}</label>
            <div class="flex gap-x-2" x-data="{ locked: true, command: 'pip install -r requirements.txt' }">
              <input type="text" class="w-full font-mono" value="python manage.py migrate" :disabled="locked"/>
              <button
                class="btn-ghost w-10"
                type="button"
                @click="locked = !locked"
                :data-tooltip="locked ? 'Edit command' : 'Reset command'"
              >
                <svg x-show="locked" class="h-4 w-4 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/></svg>
                <svg x-show="!locked" class="h-4 w-4 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m10 10-6.157 6.162a2 2 0 0 0-.5.833l-1.322 4.36a.5.5 0 0 0 .622.624l4.358-1.323a2 2 0 0 0 .83-.5L14 13.982"/><path d="m12.829 7.172 4.359-4.346a1 1 0 1 1 3.986 3.986l-4.353 4.353"/><path d="m15 5 4 4"/><path d="m2 2 20 20"/></svg>
              </button>
            </div>
          </div>
          <div class="field">
            <label for="build_command">{{ _('Start command') }}</label>
            <input type="text" class="w-full font-mono" value="gunicorn -w 3 main:app" disabled/>
          </div>
        </div>
      </details>

      <details
        open
        x-data="{ 
          env_vars: [
            {% if form.env_vars.data %}
              {% for env_var in form.env_vars.data %}
                {
                  key: '{{ env_var.key }}',
                  value: '{{ env_var.value }}'
                }{{ ',' if not loop.last }}
              {% endfor %}
            {% else %}
              { key: '', value: '' }
            {% endif %}
          ],
          env_vars_errors: [
            {% if form.env_vars.errors %}
              {% for error in form.env_vars.errors %}
                {
                  key: {{ error.key|default([]) }},
                  value: {{ error.value|default([]) }}
                }{{ ',' if not loop.last }}
              {% endfor %}
            {% endif %}
          ],
          env_vars_list_key: 0
        }"
      >
        <summary >{{ _('Environment variables') }}</summary>
        <div class="space-y-2 p-3">
          <div class="flex gap-x-2 border-b border-border/50 pb-2">
            <div class="w-full text-xs font-medium text-muted-foreground">{{ _('Key') }}</div>
            <div class="w-full text-xs font-medium text-muted-foreground">{{ _('Value') }}</div>
            <div class="shrink-0 w-10"></div>
          </div>
          <template x-for="(env_var, env_var_index) in env_vars" :key="`${env_vars_list_key}-${env_var_index}`">
            <div class="flex gap-x-2">
              <div class="field w-full">
                <input
                  class="w-full font-mono"
                  type="text"
                  :name="'env_vars-' + env_var_index + '-key'"
                  x-model="env_var.key"
                  :aria-invalid="env_vars_errors[env_var_index]?.key.length > 0"
                  pattern="[A-Za-z_][A-Za-z0-9_]*"
                  placeholder="{{ _('e.g. MY_VAR') }}"
                >
                <template x-for="(error, error_index) in env_vars_errors[env_var_index]?.key" :key="error_index">
                  <p class="text-danger text-xs font-medium" x-text="error"></p>
                </template>
              </div>
              <div class="field w-full">
                <div
                  contenteditable="plaintext-only"
                  class="input font-mono"
                  @input="env_var.value = $event.target.textContent"
                  x-init="$el.textContent = env_var.value"
                  :aria-invalid="env_vars_errors[env_var_index]?.value.length > 0"
                ></div>
                <textarea
                  :name="'env_vars-' + env_var_index + '-value'"
                  x-model="env_var.value"
                  hidden
                ></textarea>
                <template x-for="(error, error_index) in env_vars_errors[env_var_index]?.value" :key="error_index">
                  <p class="text-danger text-xs font-medium" x-text="error"></p>
                </template>
              </div>
              <div class="shrink-0">
                <button
                  class="btn-ghost w-10 p-0"
                  type="button"
                  @click="env_vars.splice(env_var_index, 1); env_vars_errors.splice(env_var_index, 1); env_vars_list_key++"
                  aria-label="Remove"
                  data-tooltip="Remove"
                >
                  <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                </button>
              </div>
            </div>
          </template>
          <button
            class="btn-outline h-8 px-2 gap-x-2"
            type="button"
            @click="env_vars.push({ key: '', value: '' })"
          >
            <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
            Add a variable
          </button>
        </div>
      </details>
      {{ form.submit(class="btn btn-primary w-full", value="Deploy") }}
    </div>
  </form>
  <a
    href="{{ url_for('main.select_repo') }}"
    hx-boost="true"
    hx-indicator="find .htmx-indicator"
    class="btn-ghost w-full flex items-center gap-x-2 mt-6"
  >
    <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
    {{ _('Back to select repository') }}
    <svg class="h-4 w-4 animate-spin htmx-indicator" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2v4"/><path d="m16.2 7.8 2.9-2.9"/><path d="M18 12h4"/><path d="m16.2 16.2 2.9 2.9"/><path d="M12 18v4"/><path d="m4.9 19.1 2.9-2.9"/><path d="M2 12h4"/><path d="m4.9 4.9 2.9 2.9"/></svg>
  </a>
</div>
{% endblock %}