{% extends "base.html" %}

{% block app_content %}
<div class="container max-w-screen-sm mx-auto px-4 py-16 z-0">
  <h1 class="h1 mb-8">Add a project</h1> 
  <ol class="flex items-center justify-between gap-x-2 mb-8">
    <li class="flex items-center gap-x-2">
      <div class="shrink-0 rounded-full h-6 w-6 bg-primary text-primary-foreground flex items-center justify-center text-xs font-mono font-semibold">1</div>
      <h2 class="font-semibold">{{ _('Select repository') }}</h2>
    </li>
    <li class="flex-1">
      <hr class="h-px border-border"/>
    </li>
    <li class="flex items-center gap-x-2 opacity-50">
      <div class="shrink-0 rounded-full h-6 w-6 bg-primary text-primary-foreground flex items-center justify-center text-xs font-mono font-semibold">2</div>
      <h2 class="font-semibold">{{ _('Configure') }}</h2>
    </li>
    <li class="flex-1">
      <hr class="h-px border-border"/>
    </li>
    <li class="flex items-center gap-x-2 opacity-50">
      <div class="shrink-0 rounded-full h-6 w-6 bg-primary text-primary-foreground flex items-center justify-center text-xs font-mono font-semibold">3</div>
      <h2 class="font-semibold">{{ _('Deploy') }}</h2>
    </li>
  </ol>

  {% from "project/components/repo/_select.html" import repo_select %}
  {{ repo_select(
    accounts=accounts,
    selected_account=selected_account,
    repos=repos,
    query=query
  ) }}
  <a
    href="{{ url_for('main.index') }}"
    hx-boost="true"
    class="btn-ghost w-full flex items-center gap-x-2 mt-6"
  >
    <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
    {{ _('Back to projects') }}
  </a>
</div>
{% endblock %}