{% extends "layouts/base.html" %}

{% block base_content %}
<div class="h-screen w-screen flex items-center justify-center">
  <div class="max-w-xs text-center">
    <h1 class="h4">{{ _('Something went wrong') }}</h1>
    <p class="text-muted-foreground mt-1">{{ _('The server encountered an unexpected condition (error code: 500). The administrator has been notified.') }}</p>
    <a
      class="btn-sm mt-4"
      href="{{ url_for('team.index') }}"
    >{{ _('Go to main page') }}</a>
  </div>
</div>
{% endblock %}