{% macro duration(started_at=None, concluded_at=None) %}
{% if concluded_at %}
  {% set seconds = concluded_at.timestamp() - started_at.timestamp() %}
  {% set minutes = (seconds // 60)|int %}
  {% set remaining_seconds = (seconds % 60)|int %}
  {% if minutes > 0 %}
    {{ minutes }}m {{ remaining_seconds }}s
  {% else %}
    {{ remaining_seconds }}s
  {% endif %}
  ({{ started_at | timeago }})
{% else %}
  <span
    x-data="{ 
      start: {{ started_at.timestamp() }}, 
      elapsed: 0,
      formatDuration() {
        const minutes = Math.floor(this.elapsed / 60);
        const seconds = Math.floor(this.elapsed % 60);
        return minutes > 0 ? `${minutes}m ${seconds}s` : `${seconds}s`;
      }
    }"
    x-init="() => setInterval(() => elapsed = (Date.now()/1000) - start, 100)"
    x-text="formatDuration()"
  ></span>
{% endif %}
{% endmacro %}