{% extends "base.html" %}

{% block app_content %}
<div class="container max-w-screen-lg mx-auto px-4 py-16 prose">
  <h1>{{ title }}</h1>

  <h2>Typography</h2>

  <p>This is a regular paragraph with the regular styles and inline elements: <strong>bold text</strong>, <em>italic text</em>, <a href="#">links</a> and <code>inline code</code>.</p>

  <p>Here are some headings:</p>

  <div class="h1">Heading 1</div>
  <div class="h2">Heading 2</div>
  <div class="h3">Heading 3</div>
  <div class="h4">Heading 4</div>
  <div class="h5">Heading 5</div>
  <div class="h6">Heading 6</div>

  <h2>Lists</h2>

  <p>This is an ordered list:</p>

  <ol>
    <li>First item.</li>
    <li>
      Second item.
      <ol>
        <li>First subitem.</li>
        <li>Second subitem.</li>
      </ol>
    </li>
    <li>Third item.</li>
  </ol>

  <p>This is an unordered list:</p>

  <ul>
    <li>First item.</li>
    <li>
      Second item.
      <ul>
        <li>First subitem.</li>
        <li>Second subitem.</li>
      </ul>
    </li>
    <li>Third item.</li>
  </ul>

  <h2>Blockquote</h2>

  <blockquote>
    <p>A pretty regular blocquote, nothing special, but I'm sure you'll find something amazing to shove in there.</p>
  </blockquote>

  <h2>Code block</h2>

  <pre><code>#header h1 a {
  display: block;
  width: 300px;
  height: 80px;
}</code></pre>


  <h2>Table</h2>

  <div class="w-full overflow-x-auto border border-border rounded-lg">
    <table class="w-full text-nowrap">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span class="font-medium flex items-center gap-x-2">
              <img src="https://unavatar.io/hunvreus@gmail.com" alt="Avatar" class="w-6 h-6 rounded-full">
              Sarah Chen
            </span>
          </td>
          <td>sarah.chen@example.com</td>
          <td>Admin</td>
          <td>
            <a href="#" class="text-primary hover:underline ">Edit</a>
          </td>
        </tr>
        <tr>
          <td><span class="font-medium">Marcus Rodriguez</span></td>
          <td>m.rodriguez@example.com</td>
          <td>Member</td>
          <td>
            <a href="#" class="text-primary hover:underline">Edit</a>
          </td>
        </tr>
        <tr>
          <td><span class="font-medium">Emma Thompson</span></td>
          <td>emma.t@example.com</td>
          <td>Member</td>
          <td>
            <a href="#" class="text-primary hover:underline">Edit</a>
          </td>
        </tr>
        <tr>
          <td><span class="font-medium">Aiden Patel</span></td>
          <td>a.patel@example.com</td>
          <td>Admin</td>
          <td>
            <a href="#" class="text-primary hover:underline">Edit</a>
          </td>
        </tr>
        <tr>
          <td><span class="font-medium">Lisa Kim</span></td>
          <td>l.kim@example.com</td>
          <td>Guest</td>
          <td>
            <a href="#" class="text-primary hover:underline">Edit</a>
          </td>
        </tr>
        <tr>
          <td><span class="font-medium">James Wilson</span></td>
          <td>jwilson@example.com</td>
          <td>Member</td>
          <td>
            <a href="#" class="text-primary hover:underline">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2>Buttons</h2>

  <div class="grid grid-cols-4 gap-4 text-center">
    <div><button class="btn-xs-primary">Primary</button></div>
    <div><button class="btn-xs-secondary">Secondary</button></div>
    <div><button class="btn-xs-accent">Accent</button></div>
    <div><button class="btn-xs-danger">Danger</button></div>
    <div><button class="btn-sm-primary">Primary</button></div>
    <div><button class="btn-sm-secondary">Secondary</button></div>
    <div><button class="btn-sm-accent">Accent</button></div>
    <div><button class="btn-sm-danger">Danger</button></div>
    <div><button class="btn-primary">Primary</button></div>
    <div><button class="btn-secondary">Secondary</button></div>
    <div><button class="btn-accent">Accent</button></div>
    <div><button class="btn-danger">Danger</button></div>
    <div><button class="btn-lg-primary">Primary</button></div>
    <div><button class="btn-lg-secondary">Secondary</button></div>
    <div><button class="btn-lg-accent">Accent</button></div>
    <div><button class="btn-lg-danger">Danger</button></div>
  </div>

  <h2>Dialog</h2>

  {% from "components/dialog.html" import dialog %}
  {% call dialog(trigger="Open dialog", id="dialog-example", title="Settings", trigger_class="btn-primary") %}
    <main class="prose"p>
      <p>We're excited to have you join us for our
      upcoming event. Please arrive at the museum 
      on time to check in and get started.</p>
      <ul>
        <li>Date: Saturday, April 15</li>
        <li>Time: 10:00am - 12:00pm</li>
      </ul>
    </main>
    <footer>
      <button class="btn-sm-secondary" @click="active = false">Cancel</button>
      <button class="btn-sm-primary">Save</button>
    </footer>
  {% endcall %}

  <h2>Dropbown</h2>

  {% from "components/dropdown.html" import dropdown %}
  {% call dropdown(trigger="Open dropdown", id="dropdown-example", trigger_class="btn-primary", menu_class="min-w-36") %}
    <a href="#" role="menuitem">Profile</a>
    <a href="#" role="menuitem">Settings</a>
    <hr role="separator"/>
    <a href="#" role="menuitem">Logout</a>
  {% endcall %}

  <h2>Tooltip</h2>

  <p>You can have tooltips <u data-tooltip="Tooltip shows on the left" data-tooltip-position="left">on the left</u>, <u data-tooltip="Tooltip shows below">above</u>, <u data-tooltip="Tooltip shows on the right" data-tooltip-position="right">on the right</u> or <u data-tooltip="Tooltip shows below" data-tooltip-position="bottom">below</u>.</p>

  <h2>Forms</h2>

  <div class="form">
    <fieldset class="fieldset">
      <legend>Inputs</legend>
      <div class="space-y-4">
        <div class="grid grid-cols-3 gap-4">
          <div class="field">
            <label>Field (default)</label>
            <input type="text">
            <p class="font-medium text-sm">This is a description</p>
          </div>
          <div class="field">
            <label>Field (error)</label>
            <input type="text" aria-invalid="true">
            <p class="font-medium text-sm text-danger">This is an error message</p>
          </div>
          <div class="field">
            <label>Field (success)</label>
            <input type="text" aria-invalid="false">
            <p class="font-medium text-sm text-success">This is a success message</p>
          </div>
        </div>
        <div class="field">
          <label>Select</label>
          <select>
            <optgroup label="Fruits">
              <option>Orange</option>
              <option>Apple</option>
              <option>Strawberry</option>
            </optgroup>
            <optgroup label="Vegetables">
              <option>Carrot</option>
              <option>Potato</option>
              <option>Tomato</option>
            </optgroup>
          </select>
        </div>
        <div class="field">
          <label>Textarea</label>
          <textarea rows="6" placeholder="Placeholder text"></textarea>
        </div>
        <div class="field">
          <label>Range</label>
          <input type="range" class="range"/>
        </div>
        <div class="field">
          <label>File</label>
          <input type="file">
        </div>
        <div class="field">
          <label>Color</label>
          <label x-data="{ color: '#000000' }">
            <input type="color" x-model="color">
            <span x-text="color.toUpperCase()"></span>
          </label>
        </div>
        <div class="grid grid-cols-3 gap-4">
          <div class="field">
            <label>Checkboxes</label>
            <label><input type="checkbox" name="checkbox"> Technology</label>
            <label><input type="checkbox" name="checkbox"> Design</label>
            <label><input type="checkbox" name="checkbox"> Marketing</label>
          </div>
          <div class="field">
            <label>Radio</label>
            <label><input type="radio" name="radio">Yes</label>
            <label><input type="radio" name="radio">No</label>
            <label><input type="radio" name="radio">Maybe</label>
          </div>
          <div class="field">
            <label>Switch</label>
            <input type="checkbox" name="switch" role="switch">
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
{% endblock %}